.lijncards{
    background-color: var(--color-base01);
    border: var(--border-size) solid var(--color-base03);
    align-self: center;
    padding: 10px;
    margin-bottom : 20px !important;
    border-radius: 20px !important;
}