.lijncards {
    background-color: var(--color-base01);
    border: 3px solid var(--color-base03);
    align-self: center;
    padding: 10px;
    margin-top: none;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.lijncardshover:hover {
    background-color: var(--color-base02) !important;
    cursor: pointer !important;
}

.lijncardstitle {
    display: flex;
    background-color: var(--color-base02);
    border: 3px solid var(--color-accent);
    align-self: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 9px;
    width: fit-content;
    margin: none;
    flex-grow: 0;
    text-align: center;
}

.lijncardsdestin {
    height: 25px;
    padding-top: 12px;
    font-size: 16px;
    text-align: right;
    flex-grow: 1;
}

.times {
    display: flex;
    flex-direction: row;
}

.time {
    font-size: 20px;
    flex-direction: column;
}

.timedifference {
    font-size: 16px;
    color: var(--color-accent);
    text-align: right;
    flex-direction: column;
}

.top {
    display: flex;
}

.intime {
    font-size: 20px;
    color: var(--color-accent);
    text-align: right;
    flex-grow: 1;
}

.topright {
    width: 160px;
}

.delijn_app_title {
    margin-bottom: 0px !important;
    text-align: center !important;
    font-size: 23px !important;
}

.searchbutton {
    height: 35px !important;
    width: 35px !important;
    background: var(--color-base01) !important;
    border-radius: 10px !important;
    border: 1px solid var(--color-base03) !important;
}

.lijninfo {
    font-size: 16px !important;
    font-weight: bold;
    text-align: center;
}