.lijncards {
    background-color: var(--color-base01);
    border: 3px solid var(--color-base03);
    align-self: center;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.enableAnimations .lijncards {
    animation: delijnCardAppear 0.3s ease-in-out 0ms 1;
}

@keyframes delijnCardAppear {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    50% {
        transform: translateY(10%);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

.halteTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px !important;
}

.halteLijnen {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.lijnNumber {
    border: 2px solid var(--color-accent);
    font-weight: 700;
    width: 35px;
    text-align: center;
    font-size: 12px;
    border-radius: 7.5px;
    padding: 4px;
}

.enableAnimations .lijncardsHalte {
    transition: all 0.1s ease-in-out;
}

.halteDirections {
    opacity: 0.9;
    font-size: 14px;
    margin-bottom: 8px;
}

.lijncardsHalte:hover {
    background-color: var(--color-base02) !important;
    cursor: pointer !important;
}

.lijncardstitle {
    display: flex;
    background-color: var(--color-base02);
    border: 3px solid var(--color-accent);
    align-self: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: auto !important;
    border-radius: 9px;
    width: fit-content;
    margin: none;
    flex-grow: 0;
    text-align: center;
}

.lijncardsdestin {
    margin-bottom: 0px !important;
    font-size: 16px;
    text-align: right;
}

.times {
    display: flex;
    flex-direction: row;
}

.time {
    font-size: 20px;
}

.timedifference {
    font-size: 16px;
    color: var(--color-accent);
    text-align: right;
    margin-bottom: 0px !important;
}

.top {
    display: flex;
    height: 55px;
    margin-bottom: 15px !important;
}

.intime {
    font-size: 20px;
    color: var(--color-accent);
    text-align: right;
    flex-grow: 1;
}

.topright {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px !important;
    justify-content: center;
}

.searchbutton {
    height: 40px !important;
    width: 40px !important;
    background: var(--color-base01) !important;
    border-radius: 10px !important;
    border: 2px solid var(--color-settings-ui-layer2) !important;
    display: flex !important;
    align-items: center !important;
    flex-grow: 0 !important;
}

.enableAnimations .searchbutton {
    transition: all 0.2s ease-in-out !important;
}

.enableAnimations .searchbutton:hover>.searchbuttonicon {
    transform-origin: bottom bottom;
    animation: searchIconJiggle 0.5s ease-in-out 0ms 1;
}

@keyframes searchIconJiggle {
    33% {
        rotate: -5deg;
    }

    50% {
        rotate: 6deg;
    }

    66% {
        rotate: -5deg;
    }

    100% {
        rotate: 0deg;
    }
}

.searchbutton:hover {
    background-color: var(--color-base02) !important;
    border-color: var(--color-accent) !important;
}

.lijninfo {
    font-size: 16px !important;
    font-weight: bold;
    text-align: center;
}

#top_lijn_app {
    display: flex;
    flex-direction: row;
    gap: 10px !important;
}

#haltetext {
    flex-grow: 1;
    height: 40px !important;
    margin: 0px !important;
    font-size: 16px !important;
}

#delijncontainer {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
}

#delijnBottomApp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#showMoreHaltesButton {
    align-self: center;
    text-align: center;
    font-weight: 560;
    background-color: var(--color-base01);
    width: 70%;
    border: 2px solid var(--color-base02);
    border-radius: 20px !important;
    padding: 5px !important;
    font-size: 18px !important;
}

#showMoreHaltesButton:hover {
    background-color: var(--color-base02);
    border-color: var(--color-accent);
    font-weight: 800;
    cursor: pointer;
}

.enableAnimations #showMoreHaltesButton {
    animation: delijnCardAppear 0.3s ease-in-out 0ms 1;
    transition: all 0.2s ease-in-out;
}