html {
  --color-accent: #191817;
  --color-text: #191817;
  --color-base00: #191817;
  --color-base01: #191817;
  --color-base02: #191817;
  --color-base03: #191817;
  --color-blue: #378cd1;
  --color-red: #cb5144;
  --color-green: #3c9534;
  --color-orange: #ce6c4a;
  --color-dark-green: #1f551b;
  --color-yellow: #ffd353;
  --color-startpage-bg: #0202058f;
  --color-infostartpagebg: #232020;
  --blur-value-large: blur(4px);
  --blur-value-small: blur(2px);
  --border-size: 2px;
  --color-popup-border: var(--color-accent);
  --color-hover-border: var(--color-accent);
  --color-settings-bg: var(--color-base02);
  --color-settings-border: var(--color-base03);
  --color-settings-ui-bg: #000000;
  --color-settings-ui-border: #000000;
  --color-settings-ui-layer2: #000000;
  --darken-background: rgba(0, 0, 0, 0.2)
}

/* hier is beter smartschool code*/
#modal-content,
#content-container {
  background-color: var(--color-base00) !important;
}

.js-btn-profile>img,
.header__avatar,
.topnav__menuitem>img,
.splitdetail__header__avatar>img,
.smsc-tabslist__item:before,
.smsc-tabslist__item:after {
  display: none !important;
}

.smsc-container .smsc-container--left .smsc-container--grey .mydoc__left,
.smscMain .smscMain--left-tb-main {
  height: 100%;
}

#centercontainer {
  border-left: 4px solid transparent !important;
  border-right: 4px solid transparent !important;
}

.toolbar,
div.stdReplyWrapper,
button.js-btn-search,
.smscDialog .smscDialog_header .smscDialog_header_title,
.popupContainer .popupContainerTitle,
.popupContainer .popupContainerSubtitle {
  color: var(--color-text) !important;
}

.toolbar {
  background-color: var(--color-base00) !important;
}

.skip-link,
#ruleName,
#ifValueID,
#stdReplyName,
#stdReplyTxt,
#editsubboxinput,
.fileinfogrey,
.fileinfowhite,
.fileuploadblock,
#formval_omschrijving {
  background-color: var(--color-base01) !important;
}

#stdReplyName,
#stdReplyTxt,
#editsubboxinput {
  color: var(--color-text);
}


.student-support-block__item.icon-label,
.icon-label__text,
.checkbox--select-all,
.round,
.uploadtitle,
.dTreeNode {
  color: var(--color-text) !important;
}


.homepage__block__content {
  background-color: transparent !important;
  backdrop-filter: opacity(50%) !important;
  padding: 10px !important;
  border: 1px solid var(--color-base03) !important;
  color: var(--color-text) !important;
  padding: 5px !important;
  border-radius: 10px !important;
  backdrop-filter: var(--blur-value-large) !important;
  -webkit-backdrop-filter: var(--blur-value-large) !important;
}

body.modern-ui .homepage__block:not(:last-child) {
  border-bottom: 2px solid var(--color-base02) !important;
}

.toolbar-bottom,
.toolbar-top,
.seperator {
  display: none !important;
}

.groupContainer,
.newsTitle,

.msg--bubble--steel,
#goTo {
  background-color: var(--color-base01) !important;
  color: var(--color-text) !important;
}

.skin .skinButtonBg {
  background-image: none !important;
}

.detailContainerBlock {
  background: var(--color-base01) !important;
  color: var(--color-text) !important;
}


.groupTree {
  background-color: var(--color-base00) !important;
  color: var(--color-text) !important;
}

a {
  color: var(--color-accent) !important;
}

a:link {
  text-decoration: none !important;
}

a:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

a:focus {
  text-decoration: underline !important;
}

::selection {
  background: #b6b6b655 !important;
  text-shadow: none !important;
}


.smscButton,
.float-label__input,
.input-search,
button.smscButton.blue.fileupload_submit_button,.wide-colored-btn {
  border: var(--border-size) solid var(--color-base03) !important;
  background-color: var(--color-base02) !important;
  color: var(--color-accent) !important;
  box-shadow: none !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-base02) !important;

}

.smsc-container--grey,
.highcharts-background {
  fill: var(--color-base01) !important;
  background-color: var(--color-base01) !important;
}

.highcharts-container {
  color: var(--color-text) !important;
}

tspan,
title,
text,
.grayed_out {
  color: var(--color-text) !important;
  fill: var(--color-text) !important;
}

.search_notes_schoolyearrow,
.itemSchoolyear {
  color: var(--color-text) !important;
}

.contentFrametitle,
.lvs_item_top,
.personalSettings_content,
.smscBlockContainer_top,
.smscBlockContainer_right,
.smscBlockContainer_left,
.smscFrameTitle,
.titleLeft {
  background: none !important;
  background-color: var(--color-base02) !important;
  box-shadow: none !important;
  color: var(--color-text) !important;
}

.ui-widget-header,
.tabs,
li,
.legend2 {
  /* van af hier is vakken css*/
  background: var(--color-base02) !important;
  color: var(--color-text) !important;
}

fieldset.fieldset2 {
  position: relative;
  border-color: var(--color-base03) !important;
}

.tekstvet {
  display: none;
}

/*  tot hier*/

td[background],
td[bgcolor] {
  background-image: none !important;
  color: var(--color-text) !important;
  background-color: var(--color-base00) !important;
}

select,
.fieldset2 {
  background-color: var(--color-base00) !important;
}

.category-hdr {
  border: 1px solid var(--color-base03) !important;
  text-shadow: none !important;
  font-weight: bold !important;
  background-color: var(--color-base01) !important;
}

.msgInfoTitle,
.sectionedit1,
.sectionedit2,
.sectionedit3,
.sectionedit4 {
  color: var(--color-accent) !important;
}

.msgInfoSpacer {
  display: none !important;
}

.msgInfoAuthor,
.msgInfoMsg,
.li,
.manualmain {
  color: var(--color-text) !important;
}

.tabsContainer {
  display: none !important;
}

/*
.MsoNormalTable {
  display: none !important;
}
*/
.smsc-dropzone {
  background-color: var(--color-base01) !important;
}

.smsc-dropzone--ellipsis {
  color: var(--color-accent) !important;
}

tr {
  background-color: var(--color-base00) !important;
}

tr.selected {
  background-color: var(--color-base00) !important;
}

td.selected {
  background-color: var(--color-base00) !important;
}

td:hover {
  background-color: var(--color-base00) !important;
}

td:not(.cb-container),
.action-button,
span.smsc-inlineeditor--disabled.smsc-inlineeditor__editor,
smsc-inlineeditor.smsc-table__cell--inlineeditor {
  background-color: var(--color-base00) !important;
}

.smsc-contextmenu__content,
.listview-row__item--inline-edit {
  background-color: var(--color-base01) !important;
}

.contextmenu__item--nolink:hover {
  transition: ease-in !important;
  transition-duration: 0.1s !important;
  background-color: var(--color-base02) !important;
}

.smsc-rightclick__menu {
  background-color: var(--color-base02) !important;
}

.smsc-rightclick__item:hover {
  transition: ease-in !important;
  transition-duration: 0.1s !important;
  background-color: var(--color-base03) !important;
}

.smsc-dialog,
.smsc-templates__linkbutton {
  background-color: var(--color-base01) !important;
}

[listview] .listview__row--selected .listview__cell:not(.listview__cell--select-btn) {
  background-color: var(--color-base02) !important;
}

.smsc-templates__separator,
#loading-box {
  display: none !important;
}

.sidebar,
.sidebar-btn__button,
.manual_widgetcontent,
.manual_widgettitle,
.breadcrumb,
#manual_widgetcontent_3 {
  background-color: var(--color-base00) !important;
}

.profile_header_pupilinfo_status,
.notifyScreenTitle {
  color: var(--color-accent) !important;
}

.lvs-pupilpresences-row {
  background-color: var(--color-base02) !important;
}

#smscMainBlockContainer,
.notifyScreenContainer {
  background-color: var(--color-base00) !important;
  border: 0px solid var(--color-accent) !important;
  box-shadow: none;
}

.infoBlock_message,
.infoBlock_eval,
.infoBlock_planner,
.infoBlock_presence,
.infoBlock_lvsitem,
.infoBlock_report {
  border: 2px solid transparent !important;
  border-radius: 10px !important;

}

.infoBlock_message:hover,
.infoBlock_eval:hover,
.infoBlock_planner:hover,
.infoBlock_presence:hover,
.infoBlock_lvsitem:hover,
.infoBlock_report:hover {
  border-color: var(--color-base03) !important;
  background-color: var(--color-base02) !important;
}

.titleLeft {
  background-color: var(--color-base01) !important;
}

.smscBlockContainer_top,
.smscBlockContainer_left,
.smscBlockContainer_right {
  border: 2px solid var(--color-base02) !important;
  background-color: var(--color-base01) !important;
}

.smscAdminNav_body_linkdivTitle:hover {
  transition: ease-in !important;
  transition-duration: 0.1s !important;
  color: var(--color-text) !important;
}

.smscAdminNav_body .smscAdminNav_body_link .smscAdminNav_body_linkdivText.disabled .smscAdminNav_body_linkdivTitle,
.smscAdminNav_body .smscAdminNav_body_link .smscAdminNav_body_linkdivText.disabled {
  color: var(--color-base03) !important;

}

.notifySceenContainerInfo {
  color: var(--color-base03) !important;
}

.percent,
#quick-nav,
.smsc_cm_body_row,
div.stdReplyWrapper {
  border-color: var(--color-base03) !important;
}

.survey-navigation {
  border-top: 1px dashed var(--color-base03) !important;
}

#quick-nav,
.start-row {
  border-color: var(--color-base03) !important;
}

.start {
  color: var(--color-text) !important;
}

#profileSelector {
  background-color: var(--color-base01);
  border: 1px solid var(--color-base03);
  color: var(--color-text);
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
  font-size: large;
  font: bold;
  box-shadow: none;
  justify-content: center;
}

.topnav__menu--search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupinput,
#halt,
#background {
  background-color: var(--color-settings-ui-bg) !important;
  border: 1px solid var(--color-settings-ui-layer2) !important;
  text-align: center !important;
  border-radius: 10px !important;
  width: 100px !important;
  color: var(--color-text) !important;
  margin: 10px !important;
}

#halt {
  width: 90% !important;
  height: 35px !important;
}

#location {
  background-color: var(--color-settings-ui-bg) !important;
  border: 1px solid var(--color-settings-ui-layer2) !important;
  text-align: center !important;
  border-radius: 10px !important;
  width: 135px !important;
  color: var(--color-text) !important;
  margin: 10px !important;
  height: 35px !important;
  margin-top: 0px !important;
  font-size: 16px !important;
}

#haltetext {
  width: fit-content !important;
  height: 35px !important;
  margin-top: 0px !important;
  font-size: 16px !important;
}

.focus-visible {
  outline: 0px !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
  margin-top: 1px !important;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-settings-ui-bg);
  -webkit-transition: transform .1s;
  transition: transform .1s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-settings-ui-border);
  -webkit-transition: transform .1s;
  transition: transform .1s;
}

input:checked+.slider {
  background-color: var(--color-base03);
}

input:focus+.slider {
  box-shadow: none;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  align-self: center !important;
}

#profileSelector option {
  font-size: large;
  font: bold;
  text-align: center !important;
}

.popupinput {
  margin-bottom: 0px;
  font: bold;
}

.popuptitles {
  margin-bottom: 0px !important;
  text-align: center !important;
  font-size: 17px !important;
  margin-top: 0px !important;
}

#searchMenu {
  left: -73px !important;
  background-color: var(--color-settings-bg) !important;
  border: 2px solid var(--color-settings-border) !important;
  border-radius: 10px !important;
  align-items: center !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  max-width: 240px !important;
  animation: flyInFromTop 0.15s ease forwards;
}

.textandbutton {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  margin: 10px !important;
  margin-bottom: 0px !important
}

.textandbuttonnomarg {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

#background {
  height: 35px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}

.smscFrameTitleContainer .smscFrameTitle,
.uploadzone .files .navigation {
  border: 2px solid var(--color-base03) !important;
}

#smscleftnav .smscleftnavcontainer {
  border-width: 2px !important;
}

.smsc-topnav .topnav__divider {
  width: 2px !important;
}

.course-session-page__container {
  box-shadow: -1px -1px 1px var(--color-base03) !important;
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 999999;
  pointer-events: none;
}


@keyframes snowflake_fall_0 {
  0% {
    top: -10%;
    transform: translateX(100px) rotate(50deg);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    top: 110%;
    transform: translateX(80px) rotate(170deg);
  }

}

@keyframes snowflake_fall_1 {
  0% {
    top: -10%;
    transform: translateX(50px) rotate(30deg);
  }

  50% {
    transform: translateX(100px);
  }

  100% {
    top: 110%;
    transform: translateX(20px) rotate(180deg);
  }

}

@keyframes snowflake_fall_3 {
  0% {
    top: -10%;
    transform: translateX(80px) rotate(40deg);
  }

  50% {
    transform: translateX(-40px);
  }

  100% {
    top: 110%;
    transform: translateX(70px) rotate(200deg);
  }

}

/*rangeblur*/
.sliderblur {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  height: 15px;
  border-radius: 10px;
  background: var(--color-base01);
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin: 5px !important;
}

#backgroundSlider {
  width: 40% !important;
  transform: rotate(90deg) !important;
  margin: 0px !important;
  margin-top: 10px !important;
}

.sliderblur::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  border-radius: 50%;
  background: var(--color-accent);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.sliderblur::-moz-range-thumb {
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  border-radius: 50%;
  background: var(--color-accent);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.sliderblur::-webkit-slider-thumb:hover,
.sliderblur::-moz-range-thumb:hover {
  transition: ease-in !important;
  transition-duration: 0.1s !important;
  background: var(--color-accent) !important;
}

#modal-background {
  background-color: transparent !important;

}

#modal-content {
  background-color: var(--color-base01) !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 2px solid var(--color-base03) !important;
}

.table-page .table-page__container__wrapper__table .cell--fixed {
  border: 2px solid var(--color-base03) !important;
  border-radius: 10px !important;
}

.row--course:not(:last-child) .cell__course-name {
  border-bottom: 0px !important
}

.smsc-tabs,
.smsc-tabslist__item,
.smsc-tabslist:before,
.modern-ui .smsc-tabs .smsc-tabslist__item:before {
  text-shadow: none !important;
  border-color: var(--color-base02) !important;
}

.smsc-container__buttonbar {
  border-color: var(--color-base02) !important;
}

option:hover {
  transition: ease-in !important;
  transition-duration: 0.1s !important;
  background-color: var(--color-base01) !important;
}

.goal-evaluations-details__row__first-container__evaluation-details__title,
.goal-evaluations-details__row__first-container__evaluation-details__text,
.goal-evaluations-details__row__description__text,
.goal-evaluations-details__row__first-container__evaluation-details__info,
.form__value--resolvedStatus,
.label__resolvedStatus,
.js-form-label,
.form__value--resolvedStatus,
label.form__label.js-form-label.label__resolvedStatus.form__label--no-margin-top {
  color: white !important;
}

.splashscreen {
  background: transparent !important;
}

.splashscreen__dialog,
.oauth__image {
  background-color: var(--color-base01) !important;
  border-radius: 10px !important;
  border-width: 4px !important;
  border-style: solid !important;
  border-color: var(--color-base03) !important;
  box-shadow: 0 0 30px #000000dc !important;
}

#game-container {
  width: 100%;
  height: 276px;
  background-color: var(--color-base01);
  border: 1px solid transparent;
  position: relative;
  padding-bottom: 5px;
  border-radius: 11px;
}

.st1,
.st2 {
  fill: var(--color-accent) !important;
}

.st4 {
  stroke: var(--color-accent) !important;
}

.stroke1 {
  stroke: var(--color-accent) !important;
}

#searchbutton:hover {
  transition: ease-in !important;
  transition-duration: 0.1s !important;
  background-color: var(--color-base02) !important;
}

.discordbutton {
  display: flex;
  margin: auto;
  width: 40px;
  height: 40px;
  color: var(--color-text) !important;
  text-align: center;
  justify-content: center;
  margin-top: 3px !important;
  margin-left: -2px !important;
}

.bigdiscordbutton:hover {
  background-color: var(--color-base02) !important;
  transition: ease-in !important;
  transition-duration: 0.1s !important;
  cursor: pointer !important;
}

.color-pickersmpp {
  background-color: transparent;
  /* Example color */
  width: 25px !important;
  height: 25px !important;
  box-shadow: none !important;
  margin-right: 4px;
  margin-left: 4px;
  border: 2px solid var(--color-base00) !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
}

.color-pickersmpp:hover {
  cursor: pointer !important
}


.color-picker-container {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.color-label {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.color-picker-container:hover .color-label {
  opacity: 1;
}

.input-search:focus {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .24) !important;
}

#errormessagesmpp {
  color: var(--color-red) !important;
  margin: 0px !important;
  text-align: center !important;
}

#backgroundlink,
#backgroundfilebutton {
  margin: 0px !important;
  height: 35px !important;
}

#backgroundlink {
  margin-left: -5px !important;
}

#backgroundfilebutton {
  padding: 1px !important;
  margin-left: 5px !important;
  margin-right: 10px !important;
}

#backgroundfilebutton:hover {
  background-color: var(--color-base02) !important;
  border-color: var(--color-base03) !important;
  transition: ease-in !important;
  transition-duration: 0.1s !important;
}

.verticaltext {
  display: flex !important;
  flex-direction: column !important;
  text-align: right !important;
  font-size: smaller !important;
  margin-right: -10px !important;
}

.nobottommargp {
  margin-bottom: 7px !important;
  margin-top: -8px !important;
}

.link_text {
  color: var(--color-accent) !important;
}

.uploadzone-default-attachment-txt {
  color: var(--color-text) !important;
}

.correctioninfo {
  background-color: var(--color-base01) !important;
}

.user-image {
  display: none;
}

.personaliaTable>tbody>tr>td>input.readonly,
input[name="email"] {
  background-color: var(--color-base01) !important;
}

.smscDialog {
  background-color: var(--color-base01) !important;
}

.popupContainer {
  background-image: none !important;
}

#messageList,
#groupTree,
.survey,
.frameTable {
  border: 2px solid var(--color-base02) !important;
  border-radius: 10px !important;
  padding: 10px !important;
  background-color: var(--color-base01) !important;
  background-image: none !important;
}

.forum-row {
  border-bottom: 2px solid var(--color-base02) !important;
}

.correctionline,
.correctioninfocorr {
  background-color: var(--color-base01) !important;
}

.nr_recipients_bubble {
  display: none !important;
}

label.checkbox input[type=checkbox],
div.smscCheckbox input[type=checkbox]+label {
  background-image: url("https://raw.githubusercontent.com/frickingbird8002/smpp-images/main/checkboxunchecked.svg") !important;
}

label.checkbox input[type=checkbox]:checked,
div.smscCheckbox input[type=checkbox]:checked+label {
  background-image: url("https://raw.githubusercontent.com/frickingbird8002/smpp-images/9d0cc428cc236802f97cfe77094256d0cf5bdcdf/checkedbox.svg") !important
}

label.radiobutton input[type=radio] {
  background-image: url('https://raw.githubusercontent.com/frickingbird8002/smpp-images/7b95e48a890b193f678073bd9d1101e35cd08d4a/radiounchecked.svg') !important;
}

label.radiobutton input[type=radio]:checked {
  background-image: url('https://raw.githubusercontent.com/frickingbird8002/smpp-images/7b95e48a890b193f678073bd9d1101e35cd08d4a/checkedradiox.svg') !important;
}

.smsc-select {
  color: var(--color-text) !important;
}

input.message-search__input {
  border-radius: 5px !important;
}

.ui-widget.ui-widget-content {
  border-radius: 15px !important;
}

div#smscSearchView {
  height: fit-content !important;
}

button.js-btn-notifs.topnav__btn {
  padding: 2px 7px !important;
}

div.correctioninfo {
  border-radius: 10px !important;
}

.fileuploadblock {
  border: 2px solid var(--color-base02) !important;
  border-radius: 10px !important;
}

.drag-container__info-drag {
  color: var(--color-text) !important
}

.smsc-progressbar {
  background-color: var(--color-base03) !important;
  border: 1px solid var(--color-accent) !important;
  box-shadow: none !important;
}

.smsc-progressbar__progress {
  background: var(--color-accent) !important;
  border: none !important;
}

.forum-contentbox {
  background-color: var(--color-base01) !important;
}

hr.topnav__divider {
  background-color: var(--color-accent) !important;
}

h1.topnav__title {
  color: var(--color-text) !important;
}

span.js-badge-notifs.topnav__badge,
span.js-badge-msg.topnav__badge {
  position: relative !important;
  top: -4px;
}
span.js-badge-notifs.topnav__badge{
  margin-left: -3px !important;
}
span.js-badge-msg.topnav__badge{
  margin-left: 3px !important;
}
button.js-btn-notifs.topnav__btn:hover,
a.js-btn-messages.topnav__btn:hover {
  text-decoration: none !important;
}

@keyframes flyInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#shortcutsMenu,
#coursesMenu,
#linksMenu,
#notifsMenu {
  animation: flyInFromTop 0.15s ease forwards;
}

.homepage__right {
  border-left: 4px solid var(--color-base01) !important;
}

.homepage__left {
  border-right: 4px solid var(--color-base01) !important;
}
textarea{
  background-color: var(--color-base00) !important;
}
.card{
  background-color: var(--color-base01) !important;
  box-shadow: none !important;
  color: var(--color-text) !important;
  border: 2px solid var(--color-base02) !important;
}
.card:hover{
background-color: var(--color-base02) !important;
border: 2px solid var(--color-base03) !important;
}
.smsc-container:has(.form-page__header-wrapper){
  background-color: transparent !important;
  background-image: var(--loginpage-image) !important;
  background-position: center !important;
  background-size: cover !important;
}
.header.js-header.form-page__header.header--single-line{
  border-radius: 15px !important;
  border: 2px solid var(--color-base03) !important;
  padding: 10px !important;
}
.form-item__content-wrapper{
  background-color: var(--color-base01) !important;
  border-radius: 15px !important;
  border: 2px solid var(--color-base03) !important;
  padding: 10px !important;
}
.form-item.js-form-item{
  background-color: transparent !important;
}
textarea.form-item__input-field.form-item__input-field--textarea{
border: 1.5px solid var(--color-base03) !important;
}
.form-item .form-item__instruction{
color: var(--color-base03) !important;
}
