html {
  --color-accent: #ffd5a0;
  --color-text: #C2BAB2;
  --color-base00: #191817;
  --color-base01: #232020;
  --color-base02: #3f3c3b;
  --color-base03: #5b5756;
  --color-blue: #378cd1;
  --color-red: #cb5144;
  --color-green: #3c9534;
  --color-orange: #ce6c4a;
  --color-startpage-bg: #0202058f;
  --color-infostartpagebg: #232020;
  --blur-value-large: blur(4px);
  --blur-value-small:blur(2px);
  --border-size: 2px;
  --color-popup-border: var(--color-accent);
  --color-hover-border: var(--color-accent);
  
}
.js-btn-profile>img,
.header__avatar,
.topnav__menuitem>img,
.splitdetail__header__avatar>img {
  display: none !important;
}

#centercontainer {
  border-left: 4px solid var(--color-base01) !important;
  border-right: 4px solid var(--color-base01) !important;
}

.student-support-block__item.icon-label,
.icon-label__text,
.checkbox--select-all {
  color: var(--color-text) !important;
}

.homepage__block__content {
  display: none !important;
}

.homepage__block__top {
  display: none !important;
}

input[type="checkbox"]:after {
  background-color: var(--color-base00) !important;
  color: var(--color-text) !important;
}

input[type="checkbox"]:before {
  background-color: var(--color-base00) !important;
  color: var(--color-red) !important;
}

.toolbar-bottom,
.toolbar-top {
  display: none !important;
}

.groupContainer,
.newsTitle,

.msg--bubble--steel {
  background-color: var(--color-base01) !important;
  color: var(--color-text) !important;
}
.groupTree{
  background-color: var(--color-base00) !important;
  color: var(--color-text) !important;
}
a {
  color: var(--color-accent) !important;
}

a:link {
  text-decoration: none !important;
}

a:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

a:focus {
  text-decoration: underline !important;
}

::selection {
  background: #b6b6b655 !important;
  text-shadow: none !important;
}


.smscButton,
.float-label__input,
.input-search {
  border: var(--border-size) solid var(--color-base03) !important;
  background-color: var(--color-base02) !important;
  color: var(--color-accent) !important;

}

::-webkit-scrollbar-thumb {
  background-color: var(--color-base02) !important;

}
.smsc-container--grey,.highcharts-background{
  fill: var(--color-base01) !important;
  background-color: var(--color-base01) !important;
}
.highcharts-container{
  color: var(--color-text) !important;
}
tspan, title, text,.grayed_out{
  color: var(--color-text) !important;
  fill: var(--color-text) !important;
}
.search_notes_schoolyearrow,.itemSchoolyear {
  color: var(--color-text) !important;
}
.contentFrametitle,.lvs_item_top,.personalSettings_content,.smscBlockContainer_top,.smscBlockContainer_right,.smscBlockContainer_left,.smscFrameTitle,.titleLeft{
  background: none !important;
  background-color: var(--color-base02) !important;
  box-shadow: none !important;
  color: var(--color-text)!important;
}
.ui-widget-header,.tabs,li {
  background: var(--color-base02) !important;
  color: var(--color-text)!important;
}
td[background],
td[bgcolor] {
  background-image: none !important;
  color: var(--color-text) !important;
  background-color: var(--color-base00) !important;
}
.msgInfoTitle{
  color: var(--color-accent) !important;
}
.msgInfoSpacer{
display: none !important;
}
.msgInfoAuthor,.msgInfoMsg{
  color: var(--color-text) !important;
}
.tabsContainer{
  display: none !important;
}
.MsoNormalTable{
  display: none !important;
}
.smsc-dropzone{
  background-color:  var(--color-base01) !important;
}
.smsc-dropzone--ellipsis{
  color: var(--color-accent) !important;
}
tr{
  background-color: var(--color-base00) !important;
}
tr.selected{
  background-color: var(--color-base00) !important;
}
td.selected{
  background-color: var(--color-base00) !important;
}
td:hover{
  background-color: var(--color-base00) !important;
}
td:not(.cb-container),.action-button{
  background-color: var(--color-base01) !important;
}
.smsc-contextmenu__content,.listview-row__item--inline-edit{
  background-color: var(--color-base01) !important;
}
.contextmenu__item--nolink:hover,.listview__action-btns:hover{
  background-color: var(--color-base02) !important;
}
.smsc-rightclick__menu{
  background-color: var(--color-base02) !important;
}
.smsc-rightclick__item:hover{
  background-color: var(--color-base03) !important;
}
.smsc-dialog,.smsc-templates__linkbutton{
  background-color: var(--color-base01) !important;
}
[listview] .listview__row--selected .listview__cell:not(.listview__cell--select-btn) {
  background-color: var(--color-base02) !important;
}
.smsc-templates__separator{
  display: none !important;
}

.listview__row:hover .listview__action-btns .listview__action-btn {

  background-color: var(--color-base02) !important;
}
.sidebar,.sidebar-btn__button,.manual_widgetcontent,.manual_widgettitle{
  background-color: var(--color-base00) !important;
}
.profile_header_pupilinfo_status{
  color: var(--color-accent) !important;
}
.lvs-pupilpresences-row{
  background-color: var(--color-base02) !important;
}
#smscMainBlockContainer{
  background-color: var(--color-base01) !important;
  border: 1px solid var(--color-accent) !important;
  box-shadow: none;
}
.smscAdminNav_body_linkdivTitle:hover{
  color: var(--color-text) !important;
}
.smscAdminNav_body .smscAdminNav_body_link .smscAdminNav_body_linkdivText.disabled .smscAdminNav_body_linkdivTitle,.smscAdminNav_body .smscAdminNav_body_link .smscAdminNav_body_linkdivText.disabled {
  color: var(--color-base03) !important;

}