.js-btn-profile>img,
.header__avatar,
.topnav__menuitem>img,
.splitdetail__header__avatar>img {
  display: none !important;
}

#centercontainer {
  border-left: var(--border-size) solid var(--color-base01) !important;
  border-right: var(--border-size) solid var(--color-base01) !important;
}

.student-support-block__item.icon-label,
.icon-label__text,
.checkbox--select-all {
  color: var(--color-text) !important;
}

.homepage__block__content {
  display: none !important;
}

.homepage__block__top {
  display: none !important;
}

.homepage__block {
  display: none !important;
}

input[type="checkbox"]:after {
  background-color: var(--color-base00) !important;
  color: var(--color-text) !important;
}

input[type="checkbox"]:before {
  background-color: var(--color-base00) !important;
  color: var(--color-red) !important;
}

.toolbar-bottom,
.toolbar-top {
  display: none !important;
}

.groupContainer,
.newsTitle,
.groupTree,
.msg--bubble--steel {
  background-color: var(--color-base01) !important;
  color: var(--color-text) !important;
}

a {
  color: var(--color-accent) !important;
}

a:link {
  text-decoration: none !important;
}

a:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

a:focus {
  text-decoration: underline !important;
}

::selection {
  background: #b6b6b655 !important;
  text-shadow: none;
}


.smscButton,
.float-label__input,
.input-search {
  border: var(--border-size) solid var(--color-base03) !important;
  background-color: var(--color-base02) !important;
  color: var(--color-accent) !important;

}

::-webkit-scrollbar-thumb {
  background-color: var(--color-base02) !important;

}