html {
  --loginpage-image: url("")
}

.login-app__platform-indicator {
  background-color: transparent !important;
  padding: 20px !important;
  margin: 10px !important;
  height: 100px !important;
  text-align: center !important;
}

.login-app__bottom {
  background-image: none !important;
}

.login-app__school-logo {
  display: none !important;
}

.login-app__title--sign-in-with,
.attachmentList__list .attachment__title__label {
  color: var(--color-text) !important;
}

.login-app__container,
.login-app {

  background-position: center !important;
  background-size: cover !important;
  flex-grow: 0 !important;
}

.login-app__left>* {
  display: none !important;
}

.login-app__right,
.login-app__top {
  box-shadow: none !important;
  width: 400px;
  height: auto;

}

.login-app__top {
  background-color: #e0e0e023 !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 20px !important;
  border: 3px solid #b8b8b8b2 !important;
}

.login-app__bottom {
  display: none !important;
}

.logintitle {
  font-size: 36px !important;
  color: aliceblue !important;
}

.login-app__link,
.login-app__link--password {
  color: aliceblue !important;
}

a.smscButton[href="/login/sso/init/google"],
a.smscButton[href="/login/sso/init/office365"],
a.smscButton[href="/login/sso/init/acm"],
.login-app__title--sign-in-with,
.login-app__title--separator {
  display: none !important;
}

.showLeftNav {
  align-items: center !important;
  justify-content: center !important;
  background-color: transparent !important;
  background-image: var(--loginpage-image) !important;
  background-position: center !important;
  background-size: cover !important;
}

.float-label__input {
  border-radius: 40px !important;
  height: 40px !important;
  font-size: 15px !important;
  margin: 10px !important;
  margin-left: 0px !important;
}


.smscButton.blue {
  margin-top: 40px !important;
  border-radius: 40px !important;
  height: 40px !important;
  color: black !important;
  border-color: aliceblue !important;
  ;
  background-color: aliceblue !important;
  ;
}

.smscButton.blue:hover {
  margin-top: 40px !important;
  border-radius: 40px !important;
  height: 40px !important;
  color: black !important;
  border-color: rgb(203, 206, 209) !important;
  ;
  background-color: rgb(203, 206, 209) !important;
  ;
}

.modern-ui .float-label__input:focus+label>span,
.modern-ui .float-label__input:valid+label>span {
  font-size: 18px !important;
  left: 5px !important;
  top: -70px !important;
  transition: none !important;
  color: aliceblue !important;
}
.login-app__form{
  color: var(--color-text) !important;
}


