.quickreply__input,
.tox,
.tox-tinymce,
.tox-editor-container,
.tox-edit-area,
.tox-edit-area__iframe,
.tox-toolbar__group,
.tox-toolbar__primary,
.tox-bottom-anchorbar,
.tox-editor-header {
  background-color: var(--color-base02) !important;
  color: var(--color-text) !important;
}

.mce-content-body {
  color: var(--color-text) !important;
}

.tox-icon .tox-tbtn__icon-wrap {
  background-color: var(--color-text) !important;
}

.modern-message {
  border: 2px solid var(--color-base00) !important;
  border-radius: 10px !important;
  background: var(--color-base01) !important;
  padding: 2px 10px 2px 10px !important;
  height: auto !important;
  line-height: initial !important;
  color: var(--color-text) !important;
  font-weight: bold !important;
  text-decoration-color: var(--color-text) !important;
  text-decoration-thickness: 2px !important;
  width: auto !important;
  margin: 3px !important;
}

.quickReplyMenu quickreply-menu {
  border: 1px solid var(--color-accent) !important;
  background-color: var(--color-base01) !important;

}

.quickReplyMenu__arrow {
  display: none !important;
}

.modern-ui .modern-message--new .modern-message__read-status {
  background-color: var(--color-accent) !important;
}

.postbox_unread {
  color: var(--color-accent) !important;

}

.smsc-title--1 {
  color: var(--color-text) !important;

}

.modern-ui .modern-message__actions {
  background-color: var(--color-base03) !important;
  box-shadow: none !important;
}

button.modern-message__action.modern-message__action--quick-reply:hover,
.modern-message__action--continue-draft:hover,
button.modern-message__action.modern-message__action--archive:hover,
button.modern-message__action.modern-message__action--delete:hover,
.listview__action-btn:hover {
  background-color: var(--color-base02) !important;
  border: 2px solid transparent !important;
  border-radius: 5px !important;
}

.modern-message__action--quick-reply,
.modern-message__action--delete,
.modern-message__action--continue-draft,
.modern-message__action--archive,
.listview__action-btn {
  background-color: var(--color-base03) !important;
  border: 2px solid transparent !important
}

#folders_parent_td,
.toolbar,
.msgContent,
#msgcell {
  background-color: var(--color-base00) !important;
}

.toolbar__line {
  background: var(--color-accent) !important;
  width: var(--border-size) !important;
}

.searchInputField,
#tomain,
.compose_title,
.tox-menubar,
.tox-mbtn__select-label,
.tox-tbtn__select-label,
.searchDivHighlight,
.row_info_1 {
  color: var(--color-text) !important;
}

.searchDivResult .userSearchDivFull .user_row .user_row_info .row_info_2 {
  color: var(--color-base03) !important;
}

.searchInputField {
  background-color: var(--color-base01) !important;
}

#smscMain {
  height: 0% !important;
}

.smscleftnavcontainer,
.composeUsers {
  background-color: var(--color-base01) !important;
}

.composeUsers,
.compose_subject {
  border-radius: 5px !important;
  border: 2px solid var(--color-base02) !important;
}

.smsc-column-nav__button:hover {
  border-color: var(--color-base02) !important;
  background-color: var(--color-base02) !important;
}

.message-search__input,
.smsc-select.disabled {
  background-color: var(--color-base02) !important;
  color: var(--color-text) !important;
  box-shadow: none !important;
}

.context-menu {
  background-color: var(--color-base01) !important;
  color: var(--color-text) !important;
  box-shadow: none !important;
}

.menu-item {
  border: 1px solid var(--color-base01) !important;
  color: var(--color-text) !important;
}

.menu-type {
  border: 1px solid var(--color-base01) !important;
  color: var(--color-text) !important;
}

.attachment {
  border: 1px solid var(--color-base00) !important;
  color: var(--color-text) !important;
  border-radius: 5px !important;
}

.menu-item:hover,
.menu-type:hover,
.attachment:hover {
  background-color: var(--color-base02) !important;
  border: 1px solid transparent !important;
  color: var(--color-accent) !important;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.ui-widget-content {
  color: var(--color-text) !important;
}

.toolbar__line:before,
.toolbar__line:after {
  background: var(--color-accent) !important;
  height: var(--border-size) !important;
}

.messageframe {
  border: 2px solid var(--color-base02) !important;
  border-radius: 15px !important;
  overflow: hidden !important;
  background-color: var(--color-base00) !important;
  padding: 5px 5px 0px 5px !important;
}

.messageframe:has(#msgdetail) {
  background-color: var(--color-base01) !important;
}

table.messages {
  width: 100% !important;
  table-layout: fixed;
  overflow: hidden;
}


.quickReplyMenu,
.smsc-title--2 {
  color: var(--color-accent) !important;
}

.toolbar,
.toolbarright {
  background-color: var(--color-base00) !important;
}

.msgcell__parent-td,
#msgcell,
.smscMain,
.tooltip__content {
  background-color: var(--background-color) !important;
}

#msgdetail,
.msgContent,
.msgContentVal,
.ui-button,
.smscTimeInput,
.smscTimeOptions {
  background-color: var(--color-base01) !important;
}

.smscTimeOption:hover {
  background-color: var(--color-base02) !important;
}

img[src="/modules/Messages/themes/default/images/loading_big.gif"] {
  display: none !important;
}

.drag-container {
  border: 2px solid var(--color-accent) !important;
}

.smsc-container__title {
  color: var(--color-accent) !important;
}

.smsc-table__row:hover,
.smsc-table__header {
  background-color: var(--color-base01) !important;
  border-color: var(--color-base03) !important;
}

.smsc-table__row {
  border: 2px solid var(--color-base02) !important;
  border-radius: 5px !important;
}

.smsc-tabslist {
  border-bottom: 2px solid var(--color-base03) !important;
}



button.submit-button.smscButton.blue {
  border-radius: 40px !important;
  color: var(--color-text) !important;
  border-color: var(--color-base02) !important;
  margin-top: 0px !important;
  background-color: var(--color-base03) !important;
  box-shadow: none !important;
}

button.submit-button.smscButton.blue:hover,
.wide-colored-btn:hover {
  filter: brightness(100%) !important;
  box-shadow: none !important;
}

.resize-handle {
  display: none !important;
}

.tox :not(svg):not(rect) {
  fill: var(--color-accent) !important;
}

.tox .tox-edit-area__iframe {
  background-color: var(--color-base03) !important;
  color: var(--color-text) !important;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
  border-right: 1px solid var(--color-base03) !important;
}

.tox .tox-menubar+.tox-toolbar {
  border-top: 1px solid var(--color-base03) !important;
}

.tox .tox-menubar,
.tox-anchorbar,
.tox .tox-menu {
  background-color: var(--color-base02) !important;
}

span.tox-mbtn__select-label,
span.tox-tbtn__select-label,
.tox-collection__item-label {
  color: var(--color-text) !important;
}

.tox .tox-tbtn:hover:not(.tox-tbtn--disabled) {
  background-color: var(--color-base03) !important;
}

.tox-editor-header .tox-toolbar,
.tox-toolbar {
  background-color: var(--color-base02) !important;
}

.tox .tox-statusbar {
  background-color: var(--color-base02) !important;
  border-top: 0px !important;
}

.tox .tox-mbtn--active,
.button.tox-mbtn.tox-mbtn--select:hover,
.tox .tox-mbtn:hover {
  background-color: var(--color-base03) !important;
}

.tox .tox-collection--list .tox-collection__item--active,
.tox-collection__item--enabled {
  background-color: var(--color-base03) !important;
}

div.tox-toolbar[role="group"][aria-disabled="false"] {
  background: none !important;
}

body#tinymce {
  color: var(--color-text) !important
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
  border: 1px solid var(--color-base03) !important;
  border-radius: 5px !important;
}

.ui-widget-header {
  border-color: transparent !important;
  margin: 5px !important;
}

td.msg_topleft,
td.msg_topright,
td.msg_bottomleft,
td.msg_bottomright,
td.msg_top,
td.msg_bottom {
  display: none !important;
}

.searchDivResult.selected {
  background-color: var(--color-base02) !important;
}

.searchDivContent,
.compose_subject,
.subjectInput {
  background-color: var(--color-base01) !important;
  color: var(--color-text) !important;
}

td#msg_bg,
td.msg_left,
td.msg_right {
  background-color: transparent !important;
  background-image: none !important;
}

.tox-collection__item-accessory {
  color: var(--color-base01) !important;
}

.tox.tox-tinymce {
  border: 2px solid var(--color-base01) !important;
  border-radius: 10px !important;
}

.modern-ui input[type=text] {
  background-color: var(--color-base01) !important;
}

button.accswitchco.mbselected,
button.accswitchmain.mbselected {
  background: none !important;
  background-color: var(--color-base02) !important;
  border: 2px solid var(--color-accent) !important;
  border-radius: 5px !important;
  padding: 0px !important;
  height: 25px;
  line-height: normal;
  color: var(--color-accent) !important
}

button.accswitchco.mbnotselected,
button.accswitchmain.mbnotselected {
  background: none !important;
  background-color: var(--color-base01) !important;
  border: 2px solid var(--color-base02) !important;
  border-radius: 5px !important;
  padding: 0px !important;
  height: 25px;
  line-height: normal;
  color: var(--color-text) !important
}

td#tabmaina {
  border: 2px solid var(--color-base02) !important;
  border-radius: 10px !important;
  padding: 10px !important;
  background-color: var(--color-base01) !important;
}

.attachtab {
  border: none !important;
}

.smsc-dropzone {
  border-color: var(--color-text) !important;
}

div#submitbtn {
  background: transparent !important;
}

#smscMainBlockContainer,
.content_container,
.navigation_container {
  box-shadow: none !important;
  border: 2px solid var(--color-base02) !important;
  border-radius: 10px !important;
}

.smscSettings {
  border: none !important;
}

.pupilInfo_popup,
.lvs_item {
  border: 2px solid var(--color-base02) !important;
  border-radius: 10px !important;
  background-color: var(--color-base01) !important;
}

.pupilInfo_popup .pip_top,
.tabContent {
  border: none !important;
}

.treenav_info,
.infoBlock {
  border-color: var(--color-base02) !important;
}

.toolbar {
  border-color: var(--color-base02) !important;
  box-shadow: none !important;
}

.infoBlock .infoBlock_content .infoBlock_presence .infoBlock_presenceContent .infoBlock_presenceMotivation {
  color: var(--color-text) !important;
}

.lvs_item_top,
.itemSchoolyear {
  border: none !important;
  border-radius: 5px !important;
}

.lvs_item {
  margin-bottom: 10px !important;
}

.contentFrametitle {
  border: 1px solid var(--color-base03) !important;
  border-radius: 5px !important;
}

input {
  border: none !important
}

.newsTitle {
  border-color: var(--color-base02) !important;
  margin-top: 10px !important;
  padding-top: 4px !important;
}

.newsTitle.over {
  color: var(--color-accent) !important;
  text-decoration: underline !important;
}

body.modern-ui #smscMain.smscMain--main {
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

body.modern-ui #smscMain .smsc-container__content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

upload-app.smsc-container.smsc-container--flex {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.smsc-table__empty.drag-container,
smsc-tabs .smsc-tabslist__item,
.smsc-table__row.smsc-table__row--nohover.smsc-table__row--noborder {
  background-color: var(--darken-background) !important;
}

.smsc-table__row.smsc-table__row--nohover.smsc-table__row--noborder:hover,
smsc-tabs .smsc-tabslist__item:hover {
  background-color: var(--color-base01) !important;
}

smsc-tabs .smsc-tabslist__item {
  margin-right: 10px !important;
  border: 2px solid var(--color-base03) !important
}

.compose-options {
  padding-top: 12px !important;
}

.organisers-participants-view__send-message-btn.icon-btn.icon-btn--16 {
  border: 2px solid var(--color-base03) !important;
}

.organisers-participants-view__send-message-btn.icon-btn.icon-btn--16:hover {
  border-color: var(--color-accent) !important;
}

span.planner-list-wrapper__add-btn__text:hover {
  color: var(--color-accent) !important;
}

span.planner-list-wrapper__add-btn__text {
  transition-duration: 0.1s !important;
  transition-timing-function: ease-in-out !important;
}

.modern-ui .toolbar::before,
.modern-ui .toolbar::after {
  background: linear-gradient(var(--color-base02), var(--color-base02)) repeat-y !important;
  border-color: var(--color-base02) !important;
  background-size: 2px 2px !important;
  background-position: center !important;
  width: 7px !important;
  border-width: 2px !important;
}
.modern-message__name{
  font-weight: 700 !important;
}
.modern-message--selected .modern-message__name {
  font-weight: 800 !important;
  color: var(--color-accent) !important;
}
.modern-message--selected{
  background-color: var(--color-base02) !important;
  border-color: var(--color-base03) !important;
  font-weight: 500 !important;
}
.modern-message__subject,
.modern-message__date{
  font-weight: 500 !important;
}
.smsc-contextmenu.position-bottom .smsc-contextmenu-arrow:after,
.smsc-contextmenu.position-bottom .smsc-contextmenu-arrow:before{
  display: none !important;
}
a.menu-type.menu-linkbutton.smsc-linkbutton{
  padding: 2.5px 5px 2.5px 20px!important;
}