.topnav {
  background: transparent !important;
  height: auto !important;
  gap: 1rem !important;
  border-bottom: var(--border-size) solid var(--color-base01) !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  background-color: var(--color-base00) !important;
}

.smsc-topnav .topnav__badge {
  background-color: var(--color-accent) !important;
  color: var(--color-base03) !important;
  border: var(--border-size) solid var(--color-base03) !important;
}

.topnav__menu-arrow {
  display: none !important;
}

.smsc-topnav .topnav__menu__title {
  color: var(--color-text) !important;
}

.topnav__btn,
.token,
.titleRight {
  border: 2px solid var(--color-base02) !important;
  border-radius: 50px !important;
  background: var(--color-base01) !important;
  padding: 2px 10px 2px 10px !important;
  height: 27px !important;
  line-height: initial !important;
  color: var(--color-accent) !important;
  font-weight: bold !important;
  text-decoration-color: var(--color-accent) !important;
  text-decoration-thickness: 2px !important;
  width: auto !important;
  box-shadow: 0px 0px 5px #00000031 inset !important;
  transition-duration: 0.1s !important;
  transition: background-color 0.4s, border-color 0.4s, text-decoration 0.4s, border-radius 0.4s;
}

.topnav__btn:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
  background-color: var(--color-base02) !important;
  border-color: var(--color-base03) !important;
  border-radius: 20px !important;
}

.smsc-topnav .topnav__menu,
.bubble {
  background-color: var(--color-base01) !important;
  border: 2px solid var(--color-popup-border) !important;
  overflow: hidden !important;
  transition: none !important;
  text-decoration: none !important;
}

.bubble {
  border-radius: 9px !important;
}

.menu-divider::before {
  background-color: var(--color-accent) !important;
  height: var(--border-size) !important;
}

.smscButton:hover,
.topnav__menuitem:hover {
  border-color: var(--color-hover-border) !important;
  background-color: var(--color-base02) !important;
  color: var(--color-accent) !important;
}
.topnav__menuitem {
  border: var(--border-size) solid var(--color-base01) !important;
  background-color: var(--color-base01) !important;
  margin-right: 0px !important;
  color: var(--color-text) !important;
  transition: font-size 0.3s, background-position-x 0.3s, border-radius 0.3s;
}

.topnav__menu--shortcuts>.topnav__menuitem {
  margin-right: 7x !important;
}

li {
  background: transparent !important;
}

.course-list {
  background: none !important;
  color: var(--color-base02) !important;
}

.smsc_cm_body {
  border: 2px solid var(--color-base02) !important;
  border-radius: 10px !important;
  padding: 10px !important;
}