nav {
  background: transparent !important;
  height: auto !important;
  gap: 1rem !important;
  border-bottom: var(--border-size) solid var(--color-base01) !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.smsc-topnav .topnav__badge {
  background-color: var(--color-accent) !important;
  color: var(--color-base03) !important;
  border: var(--border-size) solid var(--color-base03) !important;
}

.topnav__menu-arrow {
  display: none !important;
}

.topnav__btn,
.token {
  border: 2px solid var(--color-base02) !important;
  border-radius: 50px !important;
  background: var(--color-base01) !important;
  padding: 2px 10px 2px 10px !important;
  height: auto !important;
  line-height: initial !important;
  color: var(--color-accent) !important;
  font-weight: bold !important;
  text-decoration-color: var(--color-accent) !important;
  text-decoration-thickness: 2px !important;
  width: auto !important;
}

.topnav__btn:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

.smsc-topnav .topnav__menu,
.bubble {
  background-color: var(--color-base01) !important;
  border: 2px solid var(--color-accent) !important;
  overflow: hidden !important;
  transition: none !important;
  text-decoration: none !important;
}

.menu-divider::before {
  background-color: var(--color-accent) !important;
  height: var(--border-size) !important;
}

.smscButton:hover,
.topnav__menuitem:hover {
  border: var(--border-size) solid var(--color-accent) !important;
  background-color: var(--color-base02) !important;
  text-decoration: none;
}

.topnav__menuitem {
  border: var(--border-size) solid var(--color-base01) !important;
}