
.notifs__hdr {
    color: var(--color-text) !important;
    border-bottom: 1px solid var(--color-base02) !important;
  }
  
  .notification__title{
    color: var(--color-text) !important;
  }
  
  .smsc-topnav [data-notifs] .notifs__hdr [role=switch] {
    background-color: var(--color-base01) !important;
    border: 1px solid var(--color-base02) !important;
  
  }
  
  .smsc-topnav [data-notifs] .notifs__hdr button:focus:not(.focus-ring) {
    box-shadow: none !important;
  }
  
  .notification__btn--unread .notification__title {
    color: var(--color-accent) !important;
  }
  
  .notification__content {
    color: var(--color-text) !important;
  }
  
.notification {
    border: 2px solid var(--color-base02) !important;
    border-radius: 10px !important;
    background: var(--color-base01) !important;
    padding: 2px 10px 2px 10px !important;
    height: auto !important;
    line-height: initial !important;
    color: var(--color-accent) !important;
    font-weight: bold !important;
    text-decoration-color: var(--color-accent) !important;
    text-decoration-thickness: 2px !important;
    width: auto !important;
    margin: 3px !important;
  }
  

  
  .notification:hover,
  .modern-message:hover {
    background-color: var(--color-base02) !important;
    border-color: var(--color-accent) !important;
    text-decoration: none !important;
  }
  