.header__day,
.form__valuem,
.form__value__placeholder,
.form__value__description,
.form__value__element,
.form__value--period {
  color: var(--color-text) !important;
}

.timegrid__header .header__days-heading .header__day--today {
  background-color: var(--color-base02) !important;
}

.highlight.header__day:not(.header__wholeday-column) {
  background: var(--color-accent) !important;
}

.highlight.header__day:not(.header__wholeday-column)>.day,
.highlight.header__day:not(.header__wholeday-column)>.day--thin {
  color: var(--color-base02) !important;
}

.highlight,
.btn,
.dialog-content {
  background: var(--color-base01) !important;
  border-color: var(--color-base02) !important;

}

.label__resolvedStatus {
  color: var(--color-base01) !important;
}

.icon-label-btn--linkbutton .icon-label {
  color: var(--color-accent) !important;
}

.listview__row,
.planned-element-type-label,
.listview__cell,
span,
.form__row--assignmentType--view {
  color: var(--color-text) !important;

}

.msg--bubble--blue {
  background-color: var(--color-blue) !important;
}

.msg--bubble--green {
  background-color: var(--color-green) !important;
}


.splitdetail__content {
  background-color: var(--color-base01) !important;
  color: var(--color-text) !important;
  border: 2px solid var(--color-popup-border) !important;
}

.form__label {
  color: var(--color-text) !important;
}


.title--2,
.newsTitle1,
.newsTitle2 {
  color: var(--color-text) !important;
}

.inline-editor__input:hover,
.inline-editor__input::selection,
.inline-editor__input::placeholder,
.planner-header .header__borderdropdowncontainer:hover:after {
  background-color: var(--color-base00) !important;
}

.goal-list {
  display: none !important;
}

.form__label--required::after {
  color: var(--color-accent) !important;
}
.todo-column__row--hovering{
  background-color: var(--color-base02) !important;
}
.todo-column [listview] .todo-column__row:hover .todo-column__actions-cell {
  background-color: var(--color-base02) !important;;
  transition: none !important;
}
.icon-label-btn--blob.icon-label-btn {
  background-color: var(--color-base02) !important;
}
.timeinput{
  background-color: var(--color-base02) !important;
  border-color: var(--color-accent) !important;
}