.header__day,
.form__valuem,
.form__value__placeholder,
.form__value__description,
.form__value__element,
.form__value--period {
  color: var(--color-text) !important;
}

.timegrid__header .header__days-heading .header__day--today {
  background-color: var(--color-base02) !important;
}

.highlight.header__day:not(.header__wholeday-column) {
  background: var(--color-accent) !important;
}

.highlight.header__day:not(.header__wholeday-column) > .day,
.highlight.header__day:not(.header__wholeday-column) > .day--thin {
  color: var(--color-base02) !important;
}

.highlight,
.btn,
.dialog-content {
  background: var(--color-base01) !important;
  border-color: var(--color-base02) !important;
}

.label__resolvedStatus {
  color: var(--color-base01) !important;
}

.icon-label-btn--linkbutton .icon-label {
  color: var(--color-accent) !important;
  fill: var(--color-accent) !important;
}

.listview__row,
.planned-element-type-label,
.listview__cell,
span,
.form__row--assignmentType--view {
  color: var(--color-text) !important;
}

.msg--bubble--blue {
  background-color: var(--color-blue) !important;
}

.msg--bubble--green {
  background-color: var(--color-green) !important;
}

.splitdetail__content {
  background-color: var(--color-base01) !important;
  color: var(--color-text) !important;
  border: 2px solid var(--color-popup-border) !important;
}

.form__label {
  color: var(--color-text) !important;
}

.title--2,
.newsTitle1,
.newsTitle2 {
  color: var(--color-text) !important;
}
.content__hourblock.js-hourblock {
  border-top: 1px dotted !important;
  border-top-color: var(--color-text) !important;
}
.content__hourblock.content__hourblock--last.js-hourblock {
  border-bottom: 1px dotted !important;
  border-bottom-color: var(--color-text) !important;
}
.inline-editor__input:hover,
.inline-editor__input::placeholder,
.planner-header .header__borderdropdowncontainer:hover:after,
.inline-editor__input,
.inline-editor:not([readonly]):hover:after {
  background-color: var(--color-base00) !important;
}

.form__label--required::after {
  color: var(--color-accent) !important;
}

.todo-column__row--hovering {
  background-color: var(--color-base02) !important;
  border-radius: 7px !important;
}

.todo-column [listview] .todo-column__row:hover .todo-column__actions-cell,
.todo-column
  [listview]
  .todo-column__row--resolved:hover
  .todo-column__actions-cell {
  background-color: var(--color-base03) !important;
  transition: none !important;
}

.icon-label-btn--blob.icon-label-btn,
.btn:hover {
  background-color: var(--color-base02) !important;
  border-color: var(--color-base03) !important;
}

.icon-label-btn--blob.icon-label-btn:hover {
  background-color: var(--color-base03) !important;
}

.timeinput {
  background-color: var(--color-base02) !important;
  border-color: var(--color-accent) !important;
}

.twinbutton__button:hover,
.header__horizdivider {
  background-color: var(--color-base01) !important;
  transition: none !important;
}

.render-on-mode-change:hover {
  border-color: transparent !important;
}

.twinbutton__button {
  border-color: var(--color-base01) !important;
}

.datepicker .block .dates .date--selected {
  background-color: var(--color-base02) !important;
  border-color: var(--color-base03) !important;
}

.datepicker .block .dates .date--current span {
  border-color: var(--color-base03) !important;
}

.header__month,
.bubble__menu-btn:hover {
  background-color: var(--color-base02) !important;
}

.date:hover span,
.bubble__menu-btn--active,
.selectview__new-detail-ui .c-blue-combo--100 {
  background-color: var(--color-base03) !important;
  border-radius: 5px !important;
}

.header__month:hover,
.header__year:hover,
.header__year::selection,
.rightblock {
  border: 2px solid var(--color-accent) !important;
  box-shadow: none !important;
  background-color: var(--color-base02) !important;
}

.header__borderdropdowncontainer::after {
  display: none !important;
}

[inline-editor] .inline-editor__input:not([readonly]):focus,
[inline-editor] .inline-editor__input:not([readonly]):hover {
  border-color: var(--color-base03) !important;
}

.choose-metadata__options label.checkbox.checked {
  background-color: var(--color-base03) !important;
}

.choose-metadata__options label.checkbox {
  background-color: var(--color-base01) !important;
}

.example-card {
  color: var(--color-text) !important;
  background-color: var(--color-base00) !important;
}

.splitdetail-right-close-btn,
.splitdetail-top-btn,
.side-panel__close,
.smscDialog_header_close {
  border: 2px solid var(--color-base02) !important;
  border-radius: 5px !important;
  margin: 5px !important;
}

.splitdetail-right-close-btn:hover,
.splitdetail-left-close-btn:hover,
.side-panel__close:hover,
.smscDialog_header_close {
  border-color: var(--color-base03) !important;
  background-color: var(--color-base02) !important;
  color: var(--color-red) !important;
}

.splitdetail-top-btn:hover {
  border-color: var(--color-base03) !important;
  background-color: var(--color-base02) !important;
}

[inline-editor] .inline-editor:not([readonly]):hover:after {
  border-left: 0px !important;
  border-color: var(--color-base03) !important;
}

[inline-editor] .inline-editor:not([readonly]):hover .inline-editor__input {
  border-color: var(--color-base03) !important;
}

div.dialog__button-bar > button.btn.js-btn:not(.btn--primary),
button.btn.close-btn.btn--primary {
  color: var(--color-red) !important;
}

.datepicker .block .header select.header__month {
  border: 2px solid transparent !important;
}

.listview__row.js-listview-row.todo-column__row:hover,
.content__day-column.js-day-column.highlight,
.header__day.header__wholeday-column.js-wholeday-column.highlight {
  background-color: var(--darken-background) !important;
  border-radius: 10px !important;
}
.listview__row.js-listview-row:hover {
  background-color: transparent !important;
}
.listview__cell.js-listview-cell.listview__cell--icon-24.attachments__column.attachments__column--icon {
  background-color: var(--color-base01);
}
.listview__cell.js-listview-cell.listview__cell--icon-24.attachments__column.attachments__column--icon:hover {
  background-color: var(--color-base02);
}
.header.js-header {
  width: 90%;
  border-bottom-right-radius: 15px;
}

.header.js-header.header--single-line,

.splitdetail__content__topbtns {
  background-color: var(--color-base01) !important;
}
.detail-lint.js-detail-lint{
  background-color: transparent !important;
}
.course-module-planner__timeline .timeline-row.planned-element-row .action-block__buttons{
  background-color: var(--color-base02) !important;
  transition: ease-in-out!important;
  transition-duration: 0.2s !important;
}
button.icon-btn.js-icon-btn:hover{
  border-color: transparent !important;
  background-color: var(--color-base03) !important;
}
button.icon-btn.js-icon-btn{
  transition: ease-in-out!important;
transition-duration: 0.2s !important;
}

.splitdetail__content__topbtns {
  border: 2px solid transparent !important;
  border-radius: 10px !important;
}

.swoosh-wrapper {
  display: none !important;
}

button.icon-btn.js-icon-btn.header__icon.js-header-icon.icon-btn--32 {
  background-color: var(--color-base02);
}

.btn.btn:not(.send-delayed-button) {
  border: 2px solid var(--color-base02) !important;
  border-radius: 7px !important;
}

.btn.btn:hover:not(.send-delayed-button:hover) {
  border: 2px solid var(--color-base03) !important;
}

button.btn.close-btn.btn--plain {
  color: var(--color-red) !important;
}

button.detail-blob:hover {
  background-color: var(--color-base03) !important;
}

button.button-close-svg {
  display: none !important;
}

[textarea]:not([focus-within]):hover [textarea-tinymceinput],
.detail-description__textarea:hover {
  border: 2px solid var(--color-base02) !important;
  border-radius: 10px !important;
}

[textarea]:not([focus-within]),
.detail-description__textarea {
  border: 2px solid transparent !important;
}

[textarea]:not([focus-within]):hover:before {
  display: none !important;
}

[dialog-content] .dialog__button-bar {
  border-top: 2px solid var(--color-base02) !important;
}

input.input.bootstrap__input {
  background-color: var(--color-base02) !important;
}

.ple.js-ple.ple--brief.ple--past.ple--pending.ple--no-click,
.ple-content.ple-content--pending:not(.ple-content--has-problem),
div#ple-content--temporaryPlaceholder {
  border-color: var(--color-base02) !important;
}

.js-emptystate.detail-empty-state {
  background-color: var(--color-base01) !important;
}

button.detail-todo-icon-and-color__icon.active-icon {
  border: 2px solid var(--color-base03) !important;
}

button.detail-todo-icon-and-color__icon:hover:not(.active-icon) {
  border-color: var(--color-base02) !important;
}

button.detail-todo-icon-and-color__icon {
  border: 2px solid transparent !important;
}

.listview__cell.js-listview-cell.listview__cell--icon-24.column-icon {
  background-color: transparent !important;
}

.listview__cell.js-listview-cell.listview__cell--icon-24.column-icon:hover {
  background-color: transparent !important;
}
.header.js-header.header--single-line {
  border-radius: 15px !important;
  border: 1px solid var(--color-base02) !important;
  padding-right: 10px !important;
  padding-left: 5px !important;
}
[bubble].bubble--tooltip {
  color: var(--color-text) !important;
}

.evaluation-list-item.selected {
  box-shadow: none !important;
  border-color: var(--color-accent) !important;
  background-color: var(--color-base02) !important;
}
button.evaluation-list-item {
  background-color: var(--color-base01) !important;
}
.listview__row.js-listview-row.goals__row {
  display: none !important;
}

.todo-column__container {
  background-color: var(--darken-background) !important;
  border-radius: 10px !important;
}

button.icon-label-btn.js-icon-label-btn.icon-label-btn--linkbutton {
  box-shadow: none !important;
  border-color: var(--color-accent) !important;
  background-color: var(--color-base02) !important;
  padding: 10px !important;
  border-radius: 7px !important;
  border: 2px solid var(--color-accent) !important;
}

button.icon-label-btn.js-icon-label-btn.icon-label-btn--linkbutton:hover {
  background-color: var(--color-base03) !important;
}

.search__maincontainer {
  background-color: var(--color-base01) !important;
}

.quick-search .search__listitemwrapper:hover {
  background-color: var(--color-base02) !important;
}

[drilldown].drilldown .drilldown__row:hover:not(.drilldown__row--selected) {
  background-color: var(--color-base02) !important;
}

[drilldown].drilldown .drilldown__row--selected {
  background-color: var(--color-base03) !important;
}

[textarea] [textarea-tinymceinput]:empty:not(:focus):before {
  color: var(--color-text) !important;
}

.listview__row.js-listview-row.planner-listview-data-row--selected.js-planner-listview-data-row--selected,
.month-view
  .element.show-more-element:not(:hover):not(
    .state--hovered--forced
  ).state--hovered
  .element__label-container {
  background-color: var(--color-base01) !important;
}

.month-view .week-day.day--today .day-label {
  background-color: var(--color-base02) !important;
}

.month-view .grid-day.state--hovered,
.month-view .week-day:not(.day--today).state--hovered .day-label {
  background-color: var(--darken-background) !important;
}

.month-view .header-row,
.month-view .element.show-more-element {
  background-color: var(--color-base01) !important;
  border-radius: 10px !important;
}

.month-view .element.show-more-element:hover .element__label-container {
  box-shadow: none !important;
  background-color: var(--color-base02) !important;
}

.month-view .week-day.state--hovered.day--today .day-label {
  box-shadow: none !important;
}

.twinbutton__button {
  transition: none !important;
}

.planner-element {
  border: 2px solid var(--color-base02) !important;
  border-radius: 10px !important;
  padding: 4px !important;
  margin-bottom: 15px;
  position: absolute;
  overflow: hidden;
  font-size: 10px;
  min-height: 23px;
  margin: 1px !important;
  transition: ease-in;
  transition-duration: 100ms;
}

.planner-container {
  display: flex !important;
  max-width: 280px !important;
  position: relative !important;
  margin-top: 20px !important;
  flex-direction: column;
}

.no-bottom-margin {
  margin-bottom: 0px !important;
}

.planner-title-startpage {
  display: flex;
  flex-direction: row;
  text-align: center !important;
  margin-top: -30px !important;
  margin-bottom: 0px !important;
  width: 100%;
}
#back_button_planner {
  background-image: url(https://static6.smart-school.net/smsc/svg/chevron_left/chevron_left_12x12.svg);
}
#forward_button_planner {
  background-image: url(https://static6.smart-school.net/smsc/svg/chevron_right/chevron_right_12x12.svg);
}
#forward_button_planner,
#back_button_planner {
  background-position: 50%;
  background-repeat: no-repeat;
  height: 26px;
  appearance: none;
  padding: 4px 12px;
  border: 2px solid var(--color-base02);
  border-radius: 8px;
  background-color: var(--color-base01);
  transition: ease-in-out;
  transition-duration: 0.2s;
}
#forward_button_planner:hover,
#back_button_planner:hover {
  background-color: var(--color-base02);
  border-color: var(--color-accent);
}
.todo-column-container {
  border-left: 0px !important;
}
.btn.btn--dropdown.btn--warning:after {
  background-image: url(/smsc/svg/driehoek_droplist_open/driehoek_droplist_open_9x9.svg) !important;
}
.detail-blob {
  background-color: var(--color-base02) !important;
}
.course-page__container,.course-module-planner__timeline{
  background-color: transparent !important;
}
.course-module-planner__header{
  border: none !important;
  border: 2px solid var(--color-base01) !important;
  border-radius: 10px !important;
}
.course-page__container{
box-shadow: none !important;
border: none !important ;
}
.fluid-ui-heading--1,.info-block__daterow,.info-block__timerow{
  color: var(--color-text) !important;
}
.card-block{
background-color: var(--color-base01) !important;
border: 2px solid var(--color-base01) !important;
transition: ease-in-out!important;
transition-duration: 0.2s !important;
}
.card-block:hover{
  background-color: var(--color-base02) !important;
  border-color: var(--color-accent) !important;
  box-shadow: none !important;
}
h3.card-block__title.fluid-ui-heading.fluid-ui-heading--3{
  color: var(--color-accent) !important;
}
.month-card-block{
  border-radius: 5px !important;
  background-color: transparent !important;
  border: none !important;
}
.month-card-block:hover{
  background-color: transparent !important;
}
.side-panel__panel{
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}