#plantdiv {
  background-color: var(--color-base01);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  margin: 2%;
  border: 3px solid var(--color-base03);
}

.buttondivforplant {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-evenly;
  margin: 0px 5px 0px 5px;
}

.watering_button {
  border: 3px solid var(--color-base03);
  background-color: var(--color-base02);
  border-radius: 10px;
  padding: 2.5px;
  flex: 1;
  height: 50px;
}

.enableAnimations .watering_button {
  transition: ease-in-out;
  transition-duration: 0.1s;
}

.watering_button:hover {
  background-color: var(--color-base03);
  border-color: var(--color-accent);
  cursor: pointer;
}

.time_difference_last_watered {
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 50%;
  flex: 1;
  vertical-align: center;
  max-height: 50px !important;
}

.glass-container {
  flex: 1;
  border: 3px solid var(--color-base03);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  /* semi-transparent background */
  position: relative;
  overflow: hidden;
}

.glass-fill {
  width: 100%;
  background-color: var(--color-blue);
  /* blue fill */
  position: absolute;
  bottom: 0;
}

.enableAnimations .glass-fill {
  transition: height 1.5s ease-in-out;
  /* smooth transition */
  /*lukas wat een stoeffer dat jij bent :/ */
}

#removeButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#remove_button_info {
  border: 3px solid var(--color-base03);
  background-color: var(--color-base02);
  border-radius: 50%;
  padding: 2.5px 5px 2.5px 5px;
  position: relative;
  align-self: center;
  height: 32px;
  width: 32px;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.enableAnimations #remove_button_info {
  transition: ease-in-out;
  transition-duration: 0.1s;
}

#removeplantButton {
  border: 3px solid var(--color-base03);
  background-color: var(--color-base02);
  border-radius: 10px;
  padding: 2.5px 5px 2.5px 5px;
  position: relative;
  align-self: center;
  height: 32px;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.enableAnimations #removeplantButton {
  transition: all 0.2s ease-in-out;
}

#removeplantButton:hover {
  background-color: var(--color-base03);
  border-color: var(--color-accent);
  cursor: pointer;
}

#remove_button_info:hover {
  background-color: var(--color-base03);
  border-color: var(--color-accent);
  cursor: pointer;
}

#removeButtonInfoDiv {
  height: 10px;
}

#plant_remove_info_text {
  top: -35px;
  background-color: var(--color-base02);
  border: 2px solid var(--color-base03);
  padding: 5px;
  border-radius: 10px;
  position: relative;
  opacity: 0;
  text-align: center;
}

.enableAnimations #plant_remove_info_text {
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
}

#plant_streak {
  color: var(--color-accent) !important;
  font-size: 50px !important;
  font-weight: 800 !important;
}

.enableAnimations #plant_the_plant_svg {
  transition-duration: 0.4s;
}

#riseMask {
  y: 0% !important;
}

/* Rising/draining effect */
.enableAnimations #riseMask {
  transition: transform 0.4s cubic-bezier(.52, .56, .29, .98) !important;
  y: 100% !important;
  /* Animate transform */
  /* Start hidden at the bottom */
}

.enableAnimations #plant_the_plant_svg:hover #riseMask {
  transform: translateY(-125%);
  /* Rise up on hover */
}

#hand {
  fill: var(--color-base02);
}

.enableAnimations #hand {
  transition-duration: 0.3s;
}

#plant_the_plant_svg:hover #hand {
  fill: var(--color-base03);
}

#plant_the_plant_svg:hover {
  cursor: pointer !important;
}

#water_title {
  font-size: 14px !important;
  font-weight: 600 !important;
  margin: 0px !important;
}

#water_time {
  font-size: 15px !important;
  font-weight: 400 !important;
  margin: 0px !important;
  width: 150% !important;
}

.plantConfirmationButton {
  border-color: var(--color-red) !important;
  color: var(--color-red) !important;
}