.wide-toolbar {
  background-color: var(--color-base00) !important;
  color: var(--color-text) !important;
}


.smsc-svg--bullet_square_green--24 {
  background-image: none !important;
  background-color: var(--color-green) !important;
}

.smsc-svg--bullet_square_blue--24 {
  background-image: none !important;
  background-color: var(--color-blue) !important;
}

.smsc-svg--bullet_square_orange--24 {
  background-image: none !important;
  background-color: var(--color-orange) !important;
}

.smsc-svg--bullet_square_red--24 {
  background-image: none !important;
  background-color: var(--color-red) !important;
}

.c-silver-combo--100,
.c-silver-combo-hover--100 {
  background-color: var(--color-base01) !important;
  color: var(--color-text) !important;
  padding: 3px;
}

.wide-toolbar__item:after,
.wide-toolbar__item:before {
  display: none !important;
}

.wide-toolbar__item {
  background-color: var(--color-base00) !important;
  color: var(--color-text) !important;
  border: var(--border-size)solid var(--color-base02) !important;
  border-radius: 10px !important;
  margin: 5px !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.wide-toolbar__item:hover {

  border-color: var(--color-accent) !important;
}

.title--1,
.title--5 {
  color: var(--color-text) !important;
}

.title--2 {
  color: var(--color-accent) !important;
}


.js-emptystate,
.side-panel__panel {
  background-color: var(--color-base00) !important;
  box-shadow: none !important;
  color: var(--color-text) !important;
}

.evaluation-list-item,
.dropdown-button,
.goals-filter__item,
.contentContainer,
.content_container,
.navigation_container {
  background-color: var(--color-base01) !important;
  color: var(--color-text) !important;
  border-color: var(--color-base02) !important;
}

.evaluation-list-item:hover,
.dropdown-button:hover,

.selected,
.smscleftnavcontainer {
  color: var(--color-accent) !important;
  box-shadow: none !important;
  border-color: var(--color-accent) !important;
  background-color: var(--color-base01) !important;
}
.goals-filter__item:hover:not(.selected){
  background-color: var(--color-base02) !important
}
.feedback--white {
  background-color: var(--color-base00) !important;
  color: var(--color-text) !important;
}

.c-blue-combo--100 {
  background-color: var(--color-blue) !important;
  color: var(--color-blue) !important;
}

.c-green-combo--100 {
  background-color: var(--color-green) !important;
  color: var(--color-green) !important;
}

.c-orange-combo--100 {
  background-color: var(--color-orange) !important;
  color: var(--color-orange) !important;
}

.c-red-combo--100 {
  background-color: var(--color-red) !important;
  color: var(--color-red) !important;
}

.c-blue-combo--200 {
  background-color: var(--color-blue) !important;
  filter: brightness(85%)
}

.c-green-combo--200 {
  background-color: var(--color-green) !important;
  filter: brightness(85%)
}

.c-orange-combo--200 {
  background-color: var(--color-orange) !important;
  filter: brightness(85%)
}

.c-red-combo--200 {
  background-color: var(--color-red) !important;
  filter: brightness(85%)
}

.goals__goal__content__title {
  background-color: var(--color-base00) !important;
  color: var(--color-text) !important;
  border: var(--border-size) solid var(--color-base00) !important;
  border-radius: 7px !important;
  padding: 10px !important;
}

.blob-group,
.evaluation-graphic.evaluation-graphic--large.evaluation-graphic--percentage.side-panel__content__score__large-ring.c-olive-combo--100,
.evaluation-graphic.evaluation-graphic--large.evaluation-graphic--percentage.side-panel__content__score__large-ring.c-yellow-combo--100,
.evaluation-graphic.evaluation-graphic--large.evaluation-graphic--percentage.side-panel__content__score__large-ring.c-green-combo--100,
.evaluation-graphic.evaluation-graphic--large.evaluation-graphic--percentage.side-panel__content__score__large-ring.c-red-combo--100,
.evaluation-graphic.evaluation-graphic--large.evaluation-graphic--image.side-panel__content__score__large-ring.c-green-combo--100,
.evaluation-graphic.evaluation-graphic--large.evaluation-graphic--image.side-panel__content__score__large-ring.c-orange-combo--100,
.evaluation-graphic.evaluation-graphic--large.evaluation-graphic--image.side-panel__content__score__large-ring.c-aqua-combo--100,
.evaluation-graphic.evaluation-graphic--large.evaluation-graphic--image.side-panel__content__score__large-ring.c-red-combo--100 {
  background-color: var(--color-base00) !important;
}

.evaluation__content:not(:active):not([active]) {
  background-color: var(--color-base01) !important;
}

.evaluation-graphic .evaluation-graphic--goal .evaluation-graphic--icon .goals__goal__graphic {
  display: none !important;
}

/*Doelen*/
.row--course .cell--spacer,
.smsc-contextmenu-bubble,
.ui-widget-content,
.message-search__wrapper,
.smsc-select-bubble,
.smsc_cm_body,
.course-session-page__container,
input[type=search].input.search-input,
.feedback,
.feedback--silver {
  background-color: var(--color-base01) !important;
  border-color: var(--color-base02) !important;
}

.cell__content {
  background-color: var(--color-base01) !important;
  padding-left: 20px !important;
}

.detail {
  padding: 10px !important;
}

.c-steel-combo--100,
.c-steel-combo-hover--100,
[listview] .listview__row:hover:not(.listview__row--selected) .listview__cell:not(.listview__cell--select-btn):not(.listview__cell--no-hover) {
  background-color: var(--color-base00) !important;
}

.table-page .table-page__container__wrapper__table .cell {
  border-color: var(--color-base02) !important;
}

body,
button,
input,
select,
textarea,
.modern-message__name,
.modern-message__subject,
.msgHeaderVal {
  color: var(--color-text) !important;
}

.row--course:not(:last-child) .cell__course-name {
  border-bottom-color: var(--color-base02) !important;
}

.cell {
  margin: 3px !important;
}

.js-course-filters,
.course-btnbar,
.js-btn-manual {
  display: none !important;
}

.evaluation__content:hover {
  background-color: var(--color-base02) !important;
  border: var(--border-size) solid var(--color-accent) !important;
}

.filterlistview:hover {
  background-color: var(--color-base00) !important;

}

.evaluation-graphic--large {
  border: 8px solid var(--color-base01) !important;
  box-shadow: none !important;
}

.manual_widgettitle {
  background-color: var(--color-base01) !important;
  border: 1px solid var(--color-base02) !important
}

.rubrics__row--title {
  color: var(--color-text) !important;
}
.token:hover{
  background-color: var(--color-base02) !important;
  border-color: var(--color-base03) !important;
}