
body {
  background-color: var(--color-base00) !important;
  color: var(--color-text);
}


#homepage__block--google {
    transition: none;
    border-bottom: none !important;
}
.homepage{
    background-image: var(--loginpage-image) !important;
    background-position: center !important;
    background-size: cover !important;

}
#leftcontainer,#rightcontainer{
  background-color: var(--color-startpage-bg) !important;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
}
#centercontainer{
  background-color: #02020559 !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
}
#homepage__block--contact{
  display: none !important;
}