body {
  background-color: var(--color-base00) !important;
  color: var(--color-text);
}


#homepage__block--google {
  transition: none;
  border-bottom: none !important;
}

.homepage {
  background-image: var(--loginpage-image) !important;
  background-position: center !important;
  background-size: cover !important;

}

#leftcontainer,
#rightcontainer {
  background-color: var(--color-homepage-sidebars-bg) !important;
  backdrop-filter: var(--blur-value-large) !important;
  -webkit-backdrop-filter: var(--blur-value-large) !important;
}

#centercontainer {
  background-color: #00000000 !important;
  backdrop-filter: var(--blur-value-small) !important;
  -webkit-backdrop-filter: var(--blur-value-small) !important;
}

#homepage__block--contact {
  display: none !important;
}

#leftcontainer {
  padding: 16px 24px !important;
}

.toast__content {
  background-color: var(--color-base01) !important;
}
