/* Styles for weather information */
.weatherdiv {
  background-color: var(--color-base01);
  padding: 7%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
  margin: 2%;
  border: 3px solid var(--color-base03);
}

.weather-locationBig {
  font-size: 200%;
  margin-bottom: 5% !important;
  color: var(--color-accent);
}

.weather-temperatureBig {
  font-size: 350%;
  margin-bottom: 0px !important;
  font-weight: lighter;
}

#weather-icon-clear {
  margin-top: 0px !important;
}

.weather-mainBig {
  font-size: 170%;
  margin-bottom: 0px !important;
}

.weather-feelslikeBig {
  margin-bottom: 0px !important;
  font-size: 90% !important;
  font-weight: bold;
}

.weather-humwindBig {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.weather-windBig {
  margin-bottom: 0px !important;
  font-size: 90% !important;
  font-weight: bold;
}

.colBig img {
  width: 50px;
  margin-right: 2px;
}

.weather-humidityBig {
  margin-bottom: 0px !important;
  font-size: 90% !important;
  font-weight: bold;
}

.weather-lastupdateBig {
  margin-bottom: 0px !important;
  margin-top: 5px !important;
}

.weatherBig {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}

.small_icon_weather_big {
  width: 24%;
}

.big_icon_weather_big {
  width: 34%;
}
.weatherImg {
  display: flex;
  flex-direction: column;
  margin-left: 900px !important;
}

/*this is for the small weather from here: */

.weather-locationSmall {
  font-size: 22px;
  color: var(--color-accent);
  margin-bottom: 2px !important;
}

.weather-descriptionSmall {
  font-size: 16px;
  margin-bottom: 5px;
}

.colSmall {
  display: flex;
  justify-content: space-between !important;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-accent);
}

.colSmall img {
  width: 25px;
  margin-right: 2px;
}


.weather-lastupdateSmall {
  margin-top: 5px !important;
  font-weight: bold !important;
  margin-bottom: 0px !important;
}

.weather-humwindSmall {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
  margin-bottom: 0px !important;
}


#weather-icon-mostlysunny {
  width: 80%;
  height: auto;
  margin-right: auto;
}


.weather-windSmall,
.weather-humiditySmall,
.weather-temperatureSmall {
  margin-bottom: 10px !important;
  color: var(--color-text) !important;
  font-size: 16px !important;
}

.weather-lastupdateSmall {
  margin-top: 5px !important;
  font-weight: bold !important;
  margin-bottom: 0px !important;
}

.veticalstackweather {
  display: flex !important;
  flex-direction: column !important;
  width: 40% !important;
  justify-content: center !important;
  text-align: center !important;
  justify-items: center !important;
}

.weather-mainSmall {
  color: var(--color-text) !important;
}

.small_icon_weather_humid {
  width: 45%;
}

.small_icon_weather_temp {
  width: 27%
}

.big_icon_weather_small {
  width: 60%;
}