/* Styles for weather information */
.weatherdiv {
  background-color: var(--color-base01);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  margin: 9px;
  border: 3px solid var(--color-base03);
}

.weather-locationBig {
  font-size: 24px;
  margin-bottom: 2px;
  color: var(--color-accent);
}

.weather-temperatureBig {
  font-size: 45px;
  margin-bottom: 0px !important;
  font-weight: lighter;
  margin-top: -10px !important;
}
#weather-icon-clear{
  margin-top: 0px !important;
}
.weather-mainBig {
  margin-top: -10px !important;
}

.weather-descriptionBig {
  font-size: 14px;
  margin-bottom: 5px;

}
.weather-feelslikeBig{
  margin-bottom: 0px !important;
  margin-right: -175px !important;
  font-size: 13px !important;
  font-weight: bold;
}
.weather-feelslike{
  margin-top: -34px !important;
}
.weather-humwindBig {
  display: flex;
  justify-content: space-between; /* Verdeel de items gelijkmatig langs de hoofdas */
  align-items: center; /* Centreer de items verticaal */
  flex-wrap: wrap; /* Als de items niet op één rij passen, laat ze dan omlaag gaan */
  
}

.weather-windBig{
  margin-top: -34px !important;
  font-size: 13px !important;
  font-weight: bold;
}
.colBig img {
  width: 50px;
  margin-right: 2px;
}

.weather-humidityBig {
  margin-top: 10px !important;
  margin-right: 175px !important;
  font-size: 13px !important;
  font-weight: bold;
}

.weather-lastupdateBig {
  margin-bottom: 0px !important;

  margin-top: 5px !important;
}

.weatherBig {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}

/*this is for the small weather from here: */

.weather-locationSmall {
  font-size: 22px;
  color: var(--color-accent);
  text-align: start !important;
}

.weather-temperatureSmall {
  font-size: 45px;
  margin-bottom: 5px;
  font-weight: lighter;
  color: var(--color-text) !important;
}

.weather-mainSmall {
  font-weight: bold;
  font-size: 22px;
  color: var(--color-text) !important;
  text-align: end !important;
}

.weather-descriptionSmall {
  font-size: 16px;
  margin-bottom: 5px;
}

.weather-humwindSmall {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-bottom: 0px !important;
  margin-left: 5px !important;
}
.weatherImg{
  display: flex;
  flex-direction: column;
  margin-left: 900px !important;
}

.colSmall {
  display: flex;
  justify-content: space-between !important;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-accent);
}

.colSmall img {
  width: 25px;
  margin-right: 2px;
}

.weather-humiditySmall {
  margin-top: 5px !important;
}
.weather-windSmall{
  margin-bottom: 0px !important;
  margin-left: 5px !important;
}
.weather-lastupdateSmall {
  margin-top: 5px !important;
  font-weight: bold !important;
  margin-bottom: 0px !important;
}

.weatherSmall {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.weather-iconSmall{
  width: 100px !important;
  height: fit-content !important;
  margin-bottom: -50px !important;
}
.weather-feelslikeSmall{
  text-align: start !important;
}