/* Only use rem's here no em because widgets will be moved to body when they are dragged */
.smpp-widget {
  transition: transform 0.4s;

  transform: scale(1) rotate(0deg);
  background-color: var(--color-base01);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0rem 1rem 0rem 1rem;
  border: 3px solid var(--color-base03);
  box-sizing: border-box;
  /* Needed to make getClientBounds return the width without the border size*/
  font-size: 1rem;
  /* Inherited font-size is not in rem */
}

.smpp-widgets-container {
  display: flex;
  flex-direction: row;
  border: none;
}

.smpp-news-container {
  flex-shrink: 100;
}

.smpp-widget-pannel {
  width: 300px;
  background-color: var(--color-homepage-sidebars-bg);
  backdrop-filter: var(--blur-value-large);
}

.smpp-widget-pannel-left {
  border-right: 2px solid var(--color-base02);
}

.smpp-widget-pannel-right {
  border-left: 2px solid var(--color-base02);
}

.smpp-widget-insertion-point {
  background-color: transparent;
  border-radius: 10000px;
  height: 2rem;
  margin: 0px 1rem 0px 1rem;
}
.smpp-widget-insertion-point.smpp-widget-insertion-point-pannel {
  width: 2rem;
  height: unset;
  margin: 1rem 0px 1rem 0px;
}
.smpp-widget-edit-mode .smpp-widget-insertion-point {
  background-color: var(--color-base03);
}
.smpp-widget-dragging-something .smpp-widget-insertion-point:hover {
  background-color: var(--color-accent);
}

/* EDITMODE */

.smpp-widget-edit-mode {
  user-select: none;
}

.smpp-widget-bag {
  opacity: 1;
  transition: transform 1s, left 1s, right 1s, height 0.4s, opacity 0.3s;
  transform: translateY(-50px);
  opacity: 0;
  position: fixed;
  height: 40px;
  left: 40%;
  right: 40%;
  top: 0px;

  background-color: var(--color-base01);
  border: solid transparent 4px;
  border-radius: 10px;

  z-index: 100;
}

.smpp-widget-edit-mode .smpp-widget-bag {
  transform: translateY(-20px);
  opacity: 1;
}

.smpp-widget-bag-big {
  transform: translateY(20px) !important;
  height: calc(100% - 40px);
  left: 5%;
  right: 5%;
}
.smpp-widget-dragging-something .smpp-widget-bag {
  border-color: var(--color-red);
  outline: none;
  box-shadow: none;
}

.smpp-widget-bag.smpp-widget-bag-delete {
  transform: translateY(-10px);
}

.smpp-widget-edit-mode nav,
.smpp-widget-edit-mode .smpp-news-container{
  opacity: 0.5;
  filter: saturate(0%);
}

.smpp-widget-edit-mode .smpp-widget,
.smpp-widget-bag {
  border-color: transparent;
  outline: 4px dashed var(--color-black);
  box-shadow: 0 0 0 4px var(--color-yellow);
}

.smpp-widget-edit-mode .smpp-widget>* {
  pointer-events: none;
  user-select: none;
}

.smpp-widget-edit-mode .smpp-widget:hover {
  transform: translateY(-5px);
  cursor: move;
}

.smpp-widget.smpp-widget-dragging {
  margin: 0px;
  position: fixed;
  z-index: 10000000;
  pointer-events: none;

  outline: none;
  box-shadow: none;
  opacity: 0.5;
}

.smpp-widget.smpp-widget-delete {
  animation: smppWidgetDelete 0.4s infinite;
  border-color: var(--color-red);
}

@keyframes smppWidgetDelete {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.edit_button {
  fill: none;
  stroke: var(--color-accent);
}

/* WIDGET STYLES */
.smpp-error-widget {
  color: var(--color-red);
  font-weight: bold;
}
.smpp-error-widget .widgetName {
  text-align: center;
  display: block;
}
