/* CSS for things that are smpp specific */

.smpp-background-selector {
  color: var(--color-text) !important;
  overflow: hidden !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: none !important;
}

.smpp-background-file,
.smpp-background-link {
  border: 2px solid var(--color-settings-ui-layer2) !important;
  border-radius: 1rem;
}

.enableAnimations .smpp-background-selector {
  transition: all 0.3s !important;
}

.smpp-background-selector .smpp-background-link {
  flex-grow: 1;
  text-align: center !important;
  width: 100%;
}
.smpp-background-file {
  margin-right: 0px !important;
  background: none !important;
  opacity: 0.5;
}
.enableAnimations .smpp-background-file {
  transition: opacity 0.3s !important;
}
.smpp-background-selector .smpp-background-file:hover {
  opacity: 1;
}
