/* CSS for things that are smpp specific */

.smpp-background-selector {
  color: var(--color-text) !important;
  position: relative;
  overflow: visible !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: none !important;
}

.smpp-background-file,
.smpp-background-link {
  border: 2px solid var(--color-settings-ui-layer2) !important;
  border-radius: 1rem;
}

.enableAnimations .smpp-background-selector {
  transition: all 0.3s !important;
}

.smpp-background-selector .smpp-background-link {
  flex-grow: 1;
  text-align: center !important;
  width: 100%;
}
.smpp-background-file {
  margin-right: 0px !important;
  background: none !important;
  opacity: 0.5;
}
.enableAnimations .smpp-background-file {
  transition: opacity 0.3s !important;
}
.smpp-background-selector .smpp-background-file:hover {
  opacity: 1;
}

.smpp-link-clear-button {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-base02);
  border: 2px solid var(--color-base03);
  right: 25%;
  height: 2rem;
  aspect-ratio: 1;
  top: -0.35rem;
  padding: 0 !important;
  z-index: -10;
  pointer-events: none;
  stroke: var(--color-text);
}

.active.smpp-link-clear-button {
  opacity: 1;
  pointer-events: all;
  z-index: auto;
}
.enableAnimations .smpp-link-clear-button {
  transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.smpp-link-clear-button:hover {
  filter: brightness(125%);
  stroke: var(--color-red);
}
