html {
  --smpp-widget-insertion-point-size: 4px;
  --smpp-widget-bag-widget-margin: 1rem;
  --smpp-widget-bag-handle-radius: 40px;
  --smpp-widget-bag-handle-height: 60px;

  --pannel-width: calc(
    300px + 1rem * 2
  ); /*  panelWidth(300px) + widgetMargin(1rem) + widgetBorderSize(3px) * 2  // times 2 because left and right border+margin */
  
  --preview-width: calc( var(--pannel-width) * 0.5 );
}

/* Only use rem's here no em because widgets will be moved to body when they are dragged */
.smpp-widget {
  height: min-content;
  transition: transform 0.4s;

  transform: scale(1) rotate(0deg);
  background-color: var(--color-base01);
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px var(--darken-background);
  margin: 0rem 1rem 0rem 1rem;
  border: 3px solid var(--color-base03);
  box-sizing: border-box;
  /* Needed to make getClientBounds return the width without the border size*/
  font-size: 1rem;
  /* Inherited font-size is not in rem */
}
.smpp-widget-preview {
  overflow: hidden; /* hide everything outside 200px */
  position: relative;
}

.smpp-widgets-container {
  display: flex;
  flex-direction: row;
  border: none;
  height: 100%;
}

.smpp-news-container {
  flex-grow: 1;
  overflow: scroll;
}

.smpp-widget-bag-placeholder,
.smpp-widget-preview {
  min-width: var(--pannel-width);
  max-width: var(--pannel-width);
  margin: var(--smpp-widget-bag-widget-margin);

}

.smpp-widget-bag-placeholder {
  background: var(--color-base02);
  border-radius: 1.5rem;
}

.smpp-widget-pannel {
  min-width: calc(
    300px + 1rem * 2
  ); /* panelWidth(300px) + widgetMargin(1rem) + widgetBorderSize(3px) * 2  // times 2 because left and right border+margin */
  max-width: calc(300px + (1rem) * 2);
  background-color: var(--color-homepage-sidebars-bg);
  backdrop-filter: var(--blur-value-large);
  overflow: auto; /* Enable scroll because when there are too many widgets in 1 panel the page scrolls weird*/
}

.smpp-widget-insertion-point {
  background-color: transparent;
  max-height: var(--smpp-widget-insertion-point-size);
  min-height: var(--smpp-widget-insertion-point-size);
  min-width: unset;
  max-width: unset;
  border-radius: 100000px;
  margin: 0.5rem 1rem;
}
.enableAnimations .smpp-widget-insertion-point {
  transition: background-color 0.5s;
}

.smpp-widget-insertion-point.smpp-widget-insertion-point-pannel {
  background-color: var(--color-base02);
  min-width: var(--smpp-widget-insertion-point-size);
  max-width: var(--smpp-widget-insertion-point-size);
  min-height: unset;
  max-height: unset;
  margin: 0px;
}
.smpp-widget-dragging-something .smpp-widget-insertion-point-targeted {
  background-color: var(--color-accent);
}

/* EDITMODE */

.smpp-widget-edit-mode {
  user-select: none;
}

.smpp-widget-edit-mode:not(.smpp-widget-dragging-something)
  .smpp-widget:not(.smpp-widget-preview):not(.smpp-widget-dragging) {
  border-color: transparent;
  outline: 4px dashed var(--color-black);
  box-shadow: 0 0 0 4px var(--color-yellow);
}

.smpp-widget-edit-mode .smpp-widget > *,
.smpp-widget-preview > * {
  pointer-events: none;
  user-select: none;
}

.smpp-widget-edit-mode:not(.smpp-widget-dragging-something) .smpp-widget:hover {
  transform: translateY(-5px);
  cursor: move;
}

.smpp-widget.smpp-widget-dragging {
  margin: 0px;
  position: fixed;
  z-index: 10000000;
  pointer-events: none;

  opacity: 0.5;
  cursor: move;
}

.smpp-widget.smpp-widget-delete {
  animation: smppWidgetDelete 0.4s infinite;
  border-color: var(--color-red);
}

@keyframes smppWidgetDelete {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.edit_button {
  fill: none;
  stroke: var(--color-accent);
}

/* BAG */
.smpp-widget-bag {
  position: fixed;
  left: 3%;
  right: 3%;
  top: 3%;
  bottom: 3%;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 100;
}
.enableAnimations .smpp-widget-bag {
  transition:
    transform 0.5s;
}

.smpp-widget-bag-content {
  padding-top: 20px;
  background-color: var(--color-base01);
  color: var(--color-text);
  border: solid var(--color-accent) 4px;
  border-radius: 50px;


  flex-grow: 1;
  display: flex;
  flex-direction: column;

  overflow: scroll;
}
.smpp-widget-bag-group {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: var(--pannel-width);
}
.smpp-widget-bag-group-title {
  margin: 2rem 1rem 0.5rem 1.5rem !important;
}
.smpp-widget-bag.smpp-widget-bag-open {
  opacity: 1;
  transform: scale(1) translateY(0px);
  background-color: #00000040 !important;
}

/* BAG HANDLE */
.smpp-widget-bag-handle {
  height: var(--smpp-widget-bag-handle-height);
  width: 50%;

  background-color: var(--color-base01);
  color: var(--color-accent);
  border: solid var(--color-accent) 4px;
  border-bottom-left-radius: var(--smpp-widget-bag-handle-radius);
  border-bottom-right-radius: var(--smpp-widget-bag-handle-radius);
  align-items: center;

  cursor: pointer;
}
.enableAnimations .smpp-widget-bag-handle {
  transition:
    border-color 0.5s,
    transform 0.5s;
}
.smpp-widget-bag-handle-icon {
  width: 50px;
  display: block;
}

.smpp-widget-edit-mode .smpp-widget-bag-fold {
  transform: translateY(-50px);
  opacity: 1;
}

.smpp-widget-bag-fold:hover,
.smpp-widget-bag-fold.smpp-widget-bag-delete {
  transform: translateY(-40px);
}

.smpp-widget-dragging-something .smpp-widget-bag-fold {
  border-color: var(--color-red);
  color: var(--color-red);
  outline: none;
  box-shadow: none;
}
.smpp-widget-dragging-something .smpp-widget-bag-fold-icon {
  color: var(--color-red);
  transform: rotate(180deg) translateY(5px);
}

/* WIDGET STYLES */
.smpp-error-widget {
  color: var(--color-red);
  font-weight: bold;
}
.smpp-error-widget .widgetName {
  text-align: center;
  display: block;
}
.smpp-widget:has(.smpp-widget-smartschool) {
  padding: 0px !important;
}
