.clock-widget,
.clock-widget-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  padding: 0;
}

.clock-center {
  position: absolute;
  left: calc(50% - 0.6rem);
  top: calc(50% - 0.6rem);
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--color-accent);
  border-radius: 100000px;
}

.clock-preview-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.clock-container,
.clock-widget-preview .clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.clock-face,
.clock-widget-preview .clock-face {
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
}

.clock-widget-preview .clock-hand,
.clock-hand {
  background-color: var(--color-text);
  /* No transition because hands are updated every frame and transitions cause hands to spin when tab is unloaded*/
  transition: none;
}

.clock-widget-preview .second-hand,
.second-hand {
  background-color: var(--color-accent);
}

.clock-bottom,
.clock-widget-preview .clock-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

.digital-time,
.clock-widget-preview .digital-time {
  font-weight: 800;
  text-align: center;
}

/* Widget-specific differences */

.clock-widget-preview .clock-face,
.clock-face {
  width: 50%;
  margin: 0px 25%;
  background-color: var(--darken-background);
  aspect-ratio: 1;
  position: relative;
}

/* put pivot at the center, then move the element so its bottom is exactly there */
.clock-hand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 100%; /* bottom center */
  transform: translate(-50%, -100%) rotate(0deg);
  width: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 30px 4px var(--darken-background);

  /* No transition because hands are updated every frame and transitions cause hands to spin when tab is unloaded*/
  transition: none;
}

/* lengths expressed as percentage of the face's size */
.hour-hand {
  height: 30%;
  /*opacity: 0.8;*/
  z-index: -3;
} /* shorter */

.minute-hand {
  height: 42.5%;
  z-index: -2;
}

.second-hand {
  height: 45%;
  width: 0.5rem; /* thinner */
  transform-origin: 50% 100%; /* still bottom center */
  z-index: -1;
}

.smpp-widget-preview .hour-hand {
  width: 0.9rem;
}
.smpp-widget-preview .minute-hand {
  width: 0.7rem;
}
.smpp-widget-preview .second-hand {
  width: 0.5rem;
}

.clock-widget-preview .clock-face {
  width: 70%;
}

/* rotate in JS by setting style.transform = `translate(-50%, -100%) rotate(${deg}deg)` */

.digital-time {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
}
