#plantWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#plantPreviewWidget {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#plant-preview-title {
  font-size: 2.5rem;
  font-weight: 700;
}
#buttondivforplant {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-evenly;
  margin: 0px 5px 0px 5px;
}

#watering_button {
  border: 3px solid var(--color-base03);
  background-color: var(--color-base02);
  fill: var(--color-accent);
  border-radius: 10px;
  padding: 2.5px;
  flex: 1;
  height: 50px;
}

#watering_button.disabled {
  fill: var(--color-base03);
}
#watering_button.disabled:hover {
  cursor: not-allowed;
}
.enableAnimations #watering_button {
  transition: ease-in-out;
  transition-duration: 0.1s;
}

#watering_button:hover:not(.disabled) {
  background-color: var(--color-base03);
  border-color: var(--color-accent);
  cursor: pointer;
}

#time_difference_last_watered {
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 50%;
  flex: 1;
  vertical-align: center;
  max-height: 50px !important;
}

#glass-container {
  flex: 1;
  border: 3px solid var(--color-base03);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  /* semi-transparent background */
  position: relative;
  overflow: hidden;
}

#glass-fill {
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(2, 112, 182, 1) 0%,
    rgba(56, 146, 219, 1) 40%,
    rgba(77, 166, 240, 1) 100%
  );
  position: absolute;
  bottom: 0;
}

.enableAnimations #glass-fill {
  transition: height 1.5s ease-in-out;
  /* smooth transition */
  /*lukas wat een stoeffer dat jij bent :/ */
}

#remove-button-bottom-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#remove_button_info {
  border: 3px solid var(--color-base03);
  background-color: var(--color-base02);
  border-radius: 50%;
  padding: 2.5px 5px 2.5px 5px;
  position: relative;
  align-self: center;
  height: 32px;
  width: 32px;
  font-size: 17px;
  text-align: center;
  position: absolute;
  right: 32px;
}
#remove-button-div {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.enableAnimations #remove_button_info {
  transition: ease-in-out;
  transition-duration: 0.1s;
}

#removeplantButton {
  border: 3px solid var(--color-base03);
  background-color: var(--color-base02);
  border-radius: 10px;
  padding: 2.5px 5px 2.5px 5px;
  position: relative;
  align-self: center;
  height: 32px;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.enableAnimations #removeplantButton {
  transition: all 0.2s ease-in-out;
}

#removeplantButton:hover {
  background-color: var(--color-base03);
  border-color: var(--color-accent);
  cursor: pointer;
}

#remove_button_info:hover {
  background-color: var(--color-base03);
  border-color: var(--color-accent);
  cursor: pointer;
}

#plant_remove_info_text {
  top: -45px;
  background-color: var(--color-base02);
  border: 2px solid var(--color-base03);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.333rem 1.333rem;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  opacity: 0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.enableAnimations #plant_remove_info_text {
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
}

#plant_streak {
  color: var(--color-accent) !important;
  font-size: 50px !important;
  font-weight: 800 !important;
  text-align: center !important;
}

.enableAnimations #plant_the_plant_svg {
  transition-duration: 0.4s;
}

#riseMask {
  y: 0% !important;
}

/* Rising/draining effect */
.enableAnimations #riseMask {
  transition: transform 0.4s cubic-bezier(0.52, 0.56, 0.29, 0.98) !important;
  y: 100% !important;
  /* Animate transform */
  /* Start hidden at the bottom */
}

.enableAnimations #plant_the_plant_svg:hover #riseMask {
  transform: translateY(-125%);
  /* Rise up on hover */
}

#hand {
  fill: var(--color-base02);
}

.enableAnimations #hand {
  transition-duration: 0.3s;
}

#plant_the_plant_svg:hover #hand {
  fill: var(--color-base03);
}

#plant_the_plant_svg:hover {
  cursor: pointer !important;
}

#water_title {
  font-size: 15px !important;
  font-weight: 600 !important;
  margin: 0px !important;
}

#water_time {
  font-size: 15px !important;
  font-weight: 400 !important;
  margin: 0px !important;
  width: 150% !important;
}

.plantConfirmationButton {
  border-color: var(--color-red) !important;
  color: var(--color-red) !important;
}
.smpp-widget-preview div:has(.planttheplantbutton) {
  width: 100% !important;
}
.planttheplantbutton {
  background-color: transparent !important;
  border: none !important;
  width: 100% !important;
}

#remove-button-top-div {
  height: 0px;
  width: 90%;
}

.plant1,
.plant2,
.plant3,
.plant4,
.plant5,
.plant6,
.plant7,
.plant8 {
  aspect-ratio: 1;
  width: 100%;
}
.plant1 {
  scale: 0.2;
}
.plant2 {
  scale: 0.5;
}
.plant3 {
  scale: 0.6;
}
.plant4 {
  scale: 0.8;
}
.plant5 {
  scale: 0.9;
}
