#settings-window {
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
}

.settings-category-button {
  border: 2px solid transparent !important;
  width: 100%;
  background-color: var(--color-base01);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 1.6rem !important;
  gap: 1rem;
}

.settings-category-button-js.active {
  border-color: var(--color-base03) !important;
  background-color: var(--color-base02);
  color: var(--color-accent) !important;
  font-weight: 600 !important;
}

.settings-category-button-js:focus-visible {
  border-color: var(--color-accent) !important;
}

.settings-category-button-js:hover {
  background-color: var(--color-base02);
}

.enableAnimations .settings-category-button-js {
  transition: all 0.15s ease-in-out;
}
.enableAnimations .settings-category-button-js:hover {
  scale: 1.01;
}

.enableAnimations .profile-picture-settings,
.enableAnimations .category-button-icon {
  transition: scale 0.2s ease-in-out;
  scale: 1;
}

.enableAnimations .profile-settings-button:hover .profile-picture-settings,
.enableAnimations .settings-category-button:hover .category-button-icon {
  scale: 1.06;
}

.enableAnimations .settings-category-button.active .category-button-icon {
  scale: 1.2;
}

.category-button-icon {
  aspect-ratio: 1;
  width: 3.5rem;
}

.settings-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.profile-settings-button {
  border: 2px solid transparent !important;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  background-color: var(--color-base01);
}

.profile-picture-settings {
  background-image: var(--profile-picture);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10000px;
  height: 100%;
  aspect-ratio: 1;
}

.profile-settings-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  overflow: hidden;
}

.profile-settings-label-title {
  margin: 0 !important;
  font-size: 1.5rem;
  text-wrap: nowrap !important;
}

.profile-settings-label-description {
  margin: 0 !important;
}

#settings-page {
  width: calc(100% - 20rem);
  padding: 1rem 1rem 1rem 0rem;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

#settings-window .window-controls {
  right: 1rem;
  top: 1rem;
}

.settings-page-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5rem;
  border-radius: 1000rem;
  background: var(--color-base01);
  outline: none;
  opacity: 1;
  margin-bottom: 1rem !important;
  width: 18rem;
}

.enableAnimations .settings-page-slider {
  transition: opacity 0.2s;
}
.settings-page-image-button-wrapper:has(#settings-page-raindrop-button:checked),
.settings-page-image-button-wrapper:has(#settings-page-realtime-button:checked),
.settings-page-image-button-wrapper:has(#settings-page-snow-button:checked) {
  border-color: transparent !important;
  background-color: var(--color-base02);
}

.settings-page-slider::-webkit-slider-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--color-accent) !important;
  border-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.settings-page-slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--color-accent) !important;
  border-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  appearance: none;
}

.settings-page-small-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 !important;
  margin-bottom: 0.5rem !important;
  cursor: default;
}

.settings-page-section-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 !important;
  margin-bottom: 0.1rem !important;
  margin-top: 2rem !important;
  cursor: default;
}

.settings-page-main-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 !important;
  cursor: default;
}

.settings-page-main-title:not(:first-of-type) {
  margin-top: 2rem !important;
}

.settings-page-image {
  border-radius: 0.75rem !important;
}

.enableAnimations .settings-page-text-input {
  transition: all 0.2s ease-in-out;
}

.settings-page-text-input {
  background-color: var(--color-base01) !important;
  border-color: var(--color-base02) !important;
  border-radius: 1rem !important;
  padding: 0.6rem 0.8rem !important;
  border: 2px solid var(--color-base02) !important;
  font-size: 1.2rem !important;
}

.settings-page-text-input:focus {
  border-color: var(--color-base03) !important;
}

.enableAnimations .settings-page-image-button-wrapper {
  transition: all 0.1s ease-in-out;
}

.settings-page-image-button-wrapper:active {
  scale: 0.9;
}

.settings-page-image-button-wrapper > img {
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  object-fit: cover;
}

.settings-page-image-button-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0 !important;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 1.5rem;
  border: 0.5rem solid transparent;
}

.settings-page-image-button-wrapper input[type="radio"] {
  display: none;
}

label.settings-page-image-button-wrapper:has(input:checked) {
  border-color: var(--color-accent) !important;
}

.settings-page-image-wrapper img.settings-page-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s, filter 0.2s, outline 0.2s;
}

.settings-page-theme-title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.settings-page-theme-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.enableAnimations .settings-page-theme-card {
  transition: all 0.2s ease-in-out;
}

.settings-page-theme-card {
  display: flex;
  flex-direction: column;
  border: 0.3rem solid transparent;
  gap: 0.5rem;
  width: 14rem;
  padding: 0.2rem;
  border-radius: 1.5rem;
  background-color: var(--color-base01);
  cursor: pointer;
}

.settings-page-theme-card > img {
  border-radius: 1rem !important;
}

.settings-page-theme-card:hover {
  border-color: var(--hover-border);
  background-color: var(--hover-color) !important;
  color: var(--text-color) !important;
}

/* Highlight chosen card */
.settings-page-theme-card:has(input:checked) {
  border-color: var(--hover-border);
  background-color: var(--hover-color) !important;
  color: var(--text-color) !important;
}

.settings-page-background-selection-container,
.settings-page-icons-container {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.5rem;
}

.settings-page-icons-container {
  gap: 1rem;
}

#settings-page-blur-slider {
  width: 18rem;
}

.settings-page-blur-preview-container {
  width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blurred-image-container {
  overflow: hidden;
  width: 6rem;
  height: 4rem;
  border-radius: 0.5rem;
}

.settings-page-description {
  opacity: 0.8;
  font-weight: normal;
  max-width: 18rem;
  font-size: 1rem;
  margin-bottom: 0.75rem !important;
}

.settings-page-icons-container.settings-page-weather-overlay-container {
  margin-bottom: 1.5rem;
  background-color: var(--color-base01);
  width: fit-content;
  width: 20rem;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  justify-content: space-between;
}

.settings-page-button-label {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.settings-page-button-label,
.settings-page-slider-label {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}

.settings-page-button-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 !important;
  margin-bottom: 1rem !important;
  height: fit-content !important;
  background-color: var(--color-base01) !important;
  border-radius: 1000px;
  padding: 0.75rem 0.75rem 0.75rem 1.5rem;
  max-width: 30rem;
}

.settings-page-button-label-container:first-of-type {
  margin-top: 0rem !important;
}

.settings-page-slider.settings-page-labeled-slider::-webkit-slider-thumb {
  width: 1.75rem;
  height: 1.75rem;
}

.settings-page-slider.settings-page-labeled-slider::-moz-range-thumb {
  width: 1.75rem;
  height: 1.75rem;
}

.settings-page-slider-label {
  flex-grow: 1;
}

.settings-page-live-value {
  flex-grow: 0;
  width: 1.5rem;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-page-slider.settings-page-labeled-slider {
  width: 10.5rem;
  background-color: var(--color-base02);
  margin: 0 !important;
  height: 1.75rem;
}

.settings-page-slider-container {
  display: flex;
  flex-direction: row;
  height: 4rem !important;
  gap: 0.25rem;
  padding: 1rem 1.25rem 1rem 1.5rem;
  background-color: var(--color-base01);
  max-width: 30rem;
  align-items: center;
  margin: 0 !important;
  margin-bottom: 1rem !important;
  border-radius: 1000px;
}

.settings-page-slider-container:has(#settings-page-weather-overlay-slider) {
  width: 20rem;
  gap: 1rem;
}

.smpp-link-clear-button#settings-page-link-clear-button {
  right: 3.6rem;
  z-index: 1000;
}
