/* CSS for things that are smpp specific */

#quickSettings .full-file-input-container {
  color: var(--color-text) !important;
  position: relative;
  overflow: visible !important;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 0.5rem;
  transition: none !important;
  flex-grow: 1;
  text-align: center !important;
}

.smpp-file-input-button,
.smpp-background-link {
  border: 2px solid var(--color-base03) !important;
  background-color: var(--color-base01) !important;
  border-radius: 1rem;
}

.enableAnimations #quickSettings .full-file-input-container {
  transition-property: opacity, filter;
  transition: 0.3s !important;
}

.smpp-file-input-button {
  margin-right: 0px !important;
  background: none !important;
  opacity: 0.5;
  display: flex;
}

.active.smpp-file-input-button {
  opacity: 1 !important;
}

.enableAnimations .smpp-file-input-button {
  transition: opacity 0.3s, filter 0.3s !important;
}

#quickSettings .full-file-input-container .smpp-file-input-button:hover {
  opacity: 1;
  filter: brightness(120%);
}

.smpp-link-clear-button {
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-base02);
  border: 2px solid var(--color-base03);
  right: 25%;
  height: 2rem;
  aspect-ratio: 1;
  top: -0.35rem;
  padding: 0 !important;
  z-index: -10;
  pointer-events: none;
  stroke: var(--color-text);
}

.active.smpp-link-clear-button {
  opacity: 1;
  pointer-events: all;
  z-index: auto;
}
.enableAnimations .smpp-link-clear-button {
  transition: filter 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.smpp-link-clear-button:hover {
  filter: brightness(125%);
  stroke: var(--color-red);
}
