/* For UI Elements created by ui.js */

.smpp-button-with-label {
  border-radius: 999999999px;

  min-width: 20rem;

  background-color: var(--color-base01);
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 1.6rem !important;
  gap: 1rem;
}

.smpp-button-with-label > span {
  margin-left: 1rem;
}

.smpp-button-with-label > .switch {
  margin-left: auto !important;
}

.full-file-input-container {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.5rem;
}

.full-file-input-container .smpp-text-input {
  background-color: var(--color-base01) !important;
  border-color: var(--color-base02) !important;
  border-radius: 1rem !important;
  padding: 0.6rem 0.8rem !important;
  border: 2px solid var(--color-base02) !important;
  font-size: 1.2rem !important;
}
