html {
  --smpp-widget-insertion-point-size: 4px;
  --smpp-widget-bag-widget-margin: 1rem;
  --smpp-widget-bag-margin: 3%;
  --smpp-widget-bag-handle-radius: 40px;
  --smpp-widget-bag-handle-height: 60px;

  --pannel-width: calc(
    300px + 1rem * 2
  ); /*  panelWidth(300px) + widgetMargin(1rem) + widgetBorderSize(3px) * 2  // times 2 because left and right border+margin */

  --preview-width: calc(var(--pannel-width) * 0.7);
  --bag-close-transformy: calc(
    -100% - var(--smpp-widget-bag-margin) - 8px + var(--smpp-widget-bag-handle-height)
  ); /* -8px for 2 times the border size */
}

/* Only use rem's here no em because widgets will be moved to body when they are dragged */
.smpp-widget {
  height: min-content;
  transition: transform 0.4s, padding 0.25s;
  transform: scale(1) rotate(0deg);
  background-color: var(--color-base01);
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px var(--darken-background);
  margin: 0rem 1rem 0rem 1rem;
  border: 3px solid var(--color-base03);
  box-sizing: border-box;
  /* Needed to make getClientBounds return the width without the border size*/
  font-size: 1rem;
  /* Inherited font-size is not in rem */
}

.smpp-widget-preview {
  overflow: visible;
  position: relative;
}

.smpp-widgets-container {
  display: flex;
  flex-direction: row;
  border: none;
  height: 100%;
}

.smpp-news-container {
  flex-grow: 1;
  overflow: scroll;
  backdrop-filter: var(--blur-value-small);
}

.smpp-widget.smpp-widget-preview {
  margin: 0;
}

.smpp-widget-preview {
  min-width: var(--preview-width);
  max-width: var(--preview-width);
}

.smpp-widget-preview:has(.smpp-widget-smartschool) {
  min-width: var(--pannel-width);
  max-width: var(--pannel-width);
}

.smpp-widget-bag-placeholder {
  display: none;
}

.smpp-widget-bag-placeholder {
  background: var(--color-base02);
  border-radius: 1.5rem;
}

.smpp-widget-pannel {
  min-width: calc(
    300px + 1rem * 2
  ); /* panelWidth(300px) + widgetMargin(1rem) + widgetBorderSize(3px) * 2  // times 2 because left and right border+margin */
  max-width: calc(300px + (1rem) * 2);
  background-color: var(--color-homepage-sidebars-bg);
  backdrop-filter: var(--blur-value-large);
  overflow: auto; /* Enable scroll because when there are too many widgets in 1 panel the page scrolls weird*/
}

.smpp-widget-insertion-point {
  background-color: transparent;
  max-height: var(--smpp-widget-insertion-point-size);
  min-height: var(--smpp-widget-insertion-point-size);
  min-width: unset;
  max-width: unset;
  border-radius: 100000px;
  margin: 0.5rem 1rem;
}

.enableAnimations .smpp-widget-insertion-point {
  transition: background-color 0.5s;
}

.smpp-widget-insertion-point.smpp-widget-insertion-point-pannel {
  background-color: var(--color-base02);
  min-width: var(--smpp-widget-insertion-point-size);
  max-width: var(--smpp-widget-insertion-point-size);
  min-height: unset;
  max-height: unset;
  margin: 0px;
}

.smpp-widget-dragging-something .smpp-widget-insertion-point-targeted {
  background-color: var(--color-accent);
}

/* EDITMODE */

.smpp-widget-edit-mode {
  user-select: none;
}
.smpp-widget-edit-mode .topnav {
  pointer-events: none;
  filter: saturate(0%);
}

.smpp-widget-edit-mode:not(.smpp-widget-dragging-something)
  .smpp-widget:not(.smpp-widget-preview):not(.smpp-widget-dragging) {
  border-color: transparent;
  outline: 4px dashed var(--color-black);
  box-shadow: 0 0 0 4px var(--color-yellow);
}

.smpp-widget-edit-mode .smpp-widget > *,
.smpp-widget-preview > * {
  pointer-events: none;
  user-select: none;
}

.smpp-widget-edit-mode:not(.smpp-widget-dragging-something) .smpp-widget:hover {
  transform: translateY(-5px);
  cursor: move;
}

.smpp-widget.smpp-widget-dragging {
  margin: 0px;
  position: fixed;
  z-index: 10000000;
  pointer-events: none;

  opacity: 0.5;
  cursor: move;
}

.smpp-widget.smpp-widget-delete {
  animation: smppWidgetDelete 0.4s infinite;
  border-color: var(--color-red);
}

@keyframes smppWidgetDelete {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.edit_button {
  fill: none;
  stroke: var(--color-accent);
}

/* BAG */
.smpp-widget-bag {
  position: fixed;
  left: var(--smpp-widget-bag-margin);
  right: var(--smpp-widget-bag-margin);
  top: var(--smpp-widget-bag-margin);
  bottom: var(--smpp-widget-bag-margin);

  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  transform: translateY(-100vh);

  z-index: 100;
}

.smpp-widget-edit-mode .smpp-widget-bag {
  transform: translateY(calc(var(--bag-close-transformy) - 10px));
  @starting-style {
    transform: translateY(-100vh);
  }
}

.smpp-widget-edit-mode .smpp-widget-bag.smpp-widget-bag-delete,
.smpp-widget-edit-mode .smpp-widget-bag:not(.smpp-widget-bag-open):hover {
  transform: translateY(var(--bag-close-transformy));
}

.enableAnimations .smpp-widget-bag {
  transition: transform 0.5s;
}

.smpp-widget-bag-content {
  padding-top: 20px;
  width: 100%;
  background-color: var(--color-base01);
  color: var(--color-text);
  border: solid var(--color-accent) 4px;
  border-radius: 50px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 100px #000000aa;

  pointer-events: auto;
  overflow: scroll;
}

.smpp-widget-bag.smpp-widget-bag-delete .smpp-widget-bag-handle,
.smpp-widget-bag.smpp-widget-bag-delete .smpp-widget-bag-content {
  border-color: var(--color-red);
}

.smpp-widget-bag-group {
  margin: 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.smpp-widget-bag-group-title {
  margin: 1rem 1rem 0.5rem 3rem !important;
  width: fit-content;
  font-size: 2.5rem;
  border-bottom: 3px solid var(--color-base02) !important;
}

.smpp-widget-bag.smpp-widget-bag-open {
  transform: translateY(0px);
}

/* BAG HANDLE */
.smpp-widget-bag-handle {
  height: var(--smpp-widget-bag-handle-height);
  width: 40%;

  background-color: var(--color-base01);
  color: var(--color-accent);
  border: solid var(--color-accent) 4px;
  border-top: none;
  border-bottom-left-radius: var(--smpp-widget-bag-handle-radius);
  border-bottom-right-radius: var(--smpp-widget-bag-handle-radius);
  display: flex;
  flex-direction: column;
  align-items: center;

  pointer-events: auto;
  cursor: pointer;
}

.smpp-widget-bag.smpp-widget-bag-delete .smpp-widget-bag-handle-icon {
  color: var(--color-red);
}

.enableAnimations .smpp-widget-bag-handle-icon,
.enableAnimations .smpp-widget-bag-handle {
  transition: border-color 0.5s, color 0.5s, transform 0.5s;
}

.smpp-widget-bag-open .smpp-widget-bag-handle-icon {
  transform: rotate(180deg);
}

.smpp-widget-bag-handle-icon {
  width: 50px;
  display: block;
}

/* WIDGET STYLES */
.smpp-error-widget {
  color: var(--color-red);
  font-weight: bold;
}

.smpp-error-widget .widgetName {
  text-align: center;
  display: block;
}

.smpp-widget:has(.smpp-widget-smartschool) {
  padding: 0px !important;
}

.smpp-widget-transparent {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 0rem;
}

.smpp-widget-edit-mode .smpp-widget-transparent {
  background-color: var(--color-base01);
  border: 3px solid var(--color-base03);
  box-shadow: 0 0 10px var(--darken-background);
  padding: 1rem;
}
