html{
  --color-accent: #ffd5a0;
  --color-text:   #C2BAB2;
  --color-danger: #ea6962;
  --color-base00: #191817;
  --color-base01: #232020;
  --color-base02: #3f3c3b;

  --homepage-border-size: 3px;
}


body{
  background-color: var(--color-base00) !important;
  color: var(--color-text);
}

#rightcontainer, #homepage__block--google{
  display: none;
}

.js-btn-profile > img, .header__avatar{
  display: none;
}

#centercontainer {
  border-left: var(--homepage-border-size) solid var(--color-base01);
  border-right: var(--homepage-border-size) solid var(--color-base01);
}
.homepage__block{
  border-bottom: var(--homepage-border-size) solid var(--color-base01) !important;
}

/*NAV*/
nav {
  background: transparent !important;
  height:auto !important;
}
.topnav__btn{
  border: 2px solid var(--color-base02) !important;
  border-radius: 50px !important;
  background: var(--color-base01) !important;
  padding: 2px 10px 2px 10px !important;
}

/*OTHER*/

a {
    color: var(--color-accent) !important;
}
a:link {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}
a:focus {
    text-decoration: underline;
}
