html{
  --color-accent: #ffd5a0;
  --color-text:   #C2BAB2;
  --color-danger: #ea6962;
  --color-base00: #191817;
  --color-base01: #232020;
  --color-base02: #3f3c3b;
  --color-base03: #5b5756;

  --homepage-border-size: 2px;
}

body{
  background-color: var(--color-base00) !important;
  color: var(--color-text);
}

#rightcontainer, #homepage__block--google{
  display: none;
}
/*DELETE HEAD*/
.js-btn-profile > img,
.header__avatar,
.topnav__menuitem > img,
.splitdetail__header__avatar > img{
  display: none !important;
}

#centercontainer {
  border-left: var(--homepage-border-size) solid var(--color-base01);
  border-right: var(--homepage-border-size) solid var(--color-base01);
}
.student-support-block__item.icon-label .icon-label__text {
  color: var(--color-text) !important;
}

.homepage__block{
  border-bottom: var(--homepage-border-size) solid var(--color-base01) !important;
}
.homepage__block__content{
	display: none !important;
}
.homepage__block__top{
	display: none !important;
}
.homepage__block{
	display: none !important;
}

/*NAV*/
nav {
  background: transparent !important;
  height:auto !important;
  gap: 1rem !important;
  border-bottom: var(--homepage-border-size) solid var(--color-base01);
}
.topnav__menu-arrow{
  display: none;
}
.topnav__btn{
  border: 2px solid var(--color-base02) !important;
  border-radius: 50px !important;
  background: var(--color-base01) !important;
  padding: 2px 10px 2px 10px !important;
  height: auto !important;
  line-height: initial !important;
  color: var(--color-accent) !important;
  font-weight: bold !important;
  text-decoration-color: var(--color-accent) !important;
  text-decoration-thickness: 2px !important;
  width: auto !important;
}
.topnav__btn:hover{
  cursor: pointer !important;
  text-decoration: underline !important;
}
.smsc-topnav .topnav__menu{
  background-color: var(--color-base01) !important;
  border: 2px solid var(--color-accent) !important;
}
.menu-divider::before {
  background-color: var(--color-accent) !important;
  height: var(--homepage-border-size) !important;
}
.js-btn-search, .js-btn-manual {
  display: none !important;
}


/*MESSAGES*/
#folders_parent_td, .toolbar{
  background-color:var(--color-base00);
  border-right: var(--homepage-border-size) solid var(--color-base01);
}
.toolbar__line{
  background: var(--color-accent) !important;
  width: var(--homepage-border-size) !important;
}
.toolbar__line:before, .toolbar__line:after{
  background: var(--color-accent) !important;
  height: var(--homepage-border-size) !important;
}

/*LOGIN PAGE*/
.login-app__platform-indicator{
  background-color: var(--color-accent) !important;
}
.login-app__bottom{
  background-image: none !important;
}
.login-app__school-logo{
  display: none !important;
}
.login-app__title--sign-in-with{
  color: var(--color-text) !important;
}

/*PLANNER*/

.header__day{
  color: var(--color-text) !important;
}
.timegrid__header .header__days-heading .header__day--today {
  background-color: var(--color-base02) !important;
}
.highlight.header__day:not(.header__wholeday-column) {
  background: var(--color-accent) !important;
}
.highlight.header__day:not(.header__wholeday-column) > .day,
.highlight.header__day:not(.header__wholeday-column) > .day--thin{
  color: var(--color-base02) !important;
}
.highlight{
  background: var(--color-base01) !important;
}

.icon-label-btn--linkbutton .icon-label{
  color: var(--color-accent) !important;
}

/*OTHER*/

a {
  color: var(--color-accent) !important;
}
a:link {
  text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}
a:focus {
    text-decoration: underline;
}
::selection {
    background: #b6b6b6 !important;
    text-shadow: none;
}

.smscButton:hover{
  border: var(--homepage-border-size) solid var(--color-accent) !important;
}

.smscButton, .float-label__input {
  border: var(--homepage-border-size) solid var(--color-base03) !important;
	background-color: var(--color-base02) !important;
	color: var(--color-accent) !important;
}



/*CUSTOM HTML*/
.dmenu{
  position: absolute;
  left: 20%;
  right: 20%;
  top: 10%;
  bottom: 10%;

  background-color: var(--color-base01);
  border: var(--homepage-border-size) solid var(--color-accent);
  /*border-radius: 10px;*/
  display: flex;
  flex-direction: column;
  overflow:hidden;
}
.dmenu-hidden{
  display: none;
}
.dmenu > .top{
  display: flex;
}
.dmenu-input{
  background: var(--color-base03);
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  flex-grow: 1;
}
.dmenu-label{
  background-color: var(--color-accent);
  color: var(--color-base02);
  margin: 0px;
}
