html {
  --dmenu-margin: 1px;
  --dmenu-font-size: 1.5rem;
}

.dmenu-centered {
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
}

.dmenu-hidden {
  display: none !important;
}

#dmenu {
  background: var(--color-base00);
  border: var(--border-size) solid var(--color-popup-border);
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: var(--dmenu-font-size) !important;
  z-index: 20;
  box-shadow: 0px 0px 150px black;
  border-radius: 5px !important;
}

#dmenu>.top {
  display: flex;
  flex-direction: row;
  border-bottom: var(--border-size) solid var(--color-base02);
}

.dmenu-input {
  border: none !important;
  background: var(--color-base01);
  color: var(--color-text) !important;
  flex-grow: 1;
  padding: 0px !important;
  padding: var(--dmenu-margin);
  font-size: var(--dmenu-font-size) !important;
  border-top-right-radius: 3px !important;
}

.dmenu-input:focus {
  outline-width: 0;
  outline: none;
}

.dmenu-label {
  background: var(--color-base01);
  color: var(--color-accent);
  line-height: inherit;
  margin: 0px;
  padding: var(--dmenu-margin);
  border-right: var(--border-size) solid var(--color-base02);
  border-top-left-radius: 3px !important;
}
.dmenu-label:hover{
  cursor: auto !important;
}

#dmenu .autocomplete {
  overflow-y: auto;
}

#dmenu .hidden {
  visibility: hidden;
}

#dmenu .autocomplete-row {
  margin: var(--dmenu-margin);
  color: var(--color-text) !important;
  display: flex;
  flex-direction: row;
  border: none;
}

#dmenu .content {
  margin-right: 1em;
}

#dmenu .meta {
  flex-grow: 10;
  color: var(--color-base03);
}

#dmenu .score {
  margin-right: 0.5rem;
  color: var(--color-accent);
}

#dmenu .selected .score {
  color: var(--color-base01) !important;
}

#dmenu .autocomplete-row:nth-child(even) {
  background: var(--color-base01);
}

#dmenu .selected {
  background: var(--color-accent) !important;
  color: var(--color-base01) !important;
}

#dmenu .autocomplete-row:hover {
  background: var(--color-base02);
  cursor: pointer;
}
