html{
  --dmenu-margin: 1px;
}

.dmenu-centered{
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
}
.dmenu-hidden{
  display:none !important;
}

#dmenu{
  background: var(--color-base00);
  border: var(--border-size) solid var(--color-popup-border);
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  z-index: 999999;
}

#dmenu > .top{
  display: flex;
  flex-direction: row;
  border-bottom: var(--border-size) solid var(--color-base02);
}

.dmenu-input{
  border: none !important;
  background: var(--color-base01);
  color: var(--color-base02);
  flex-grow: 1;
  padding: 0px !important;
  padding: var(--dmenu-margin);
  font-size: inherit !important;
}
.dmenu-input:focus{
  outline-width:0;
  outline: none;
}

.dmenu-label{
  background: var(--color-base01);
  color: var(--color-accent);
  line-height: inherit;
  margin:0px;
  padding: var(--dmenu-margin);
  border-right: var(--border-size) solid var(--color-base02);
}

#dmenu >.autocomplete{
  overflow:scroll;
}
#dmenu >.autocomplete > .hidden{
  visibility: hidden;
}
#dmenu > .autocomplete > *{
  margin: var(--dmenu-margin);
  border: none;
}
#dmenu > .autocomplete > *:nth-child(even){
  background: var(--color-base01);
}
#dmenu >.autocomplete > .selected{
  background: var(--color-accent) !important;
  color: var(--color-base01) !important;
}
