html {
  --color-accent: #ff1bec;
  --color-text: #bc3db8;
  --color-text: #f766ff;
  --color-base00: #191817;
  --color-base01: #232020;
  --color-base02: #3f3c3b;
  --color-base03: #5b5756;
  --color-blue: #378cd1;
  --color-red: #cb5144;
  --color-green: #3c9534;
  --color-orange: #ce6c4a;

  --border-size: 2px;
  --color-popup-border: var(--color-accent);
  --color-hover-border: var(--color-accent);
  --darken-background: #322d2dcd;
  --loginpage-image: url(https://www.hdwallpapers.in/download/macos_monterey_shapes_hd_macos-2560x1440.jpg);
}

* {
  border-color: var(--color-text) !important;
}

div.jss93 {
  border-bottom: none !important;
}

/*
img.sc-eqUAAy.clGYyw {
  content:url("https://media.discordapp.net/attachments/1081294139292913674/1219941911687594075/IMG_2875.png?ex=666819f1&is=6666c871&hm=29be4ea68eb7651bb3ef027b0bcdc4c54d1cf7aaa0258a2fa9bfb940a256a76e&=&format=webp&quality=lossless&width=472&height=662");
}
*/
.MuiFormControl-root.filter, .MuiFormLabel-root.Mui-focused, #book-filter-label, .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu, .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu:focus {
  border-color: var(--color-text) !important;
  background-color: var(--darken-background) !important;
  color: var(--color-text) !important;

}

.MuiPaper-root.rounded , .MuiPaper-root.MuiAppBar-root {
  background-color: var(--darken-background) !important;
  color: var(--color-text) !important;
  border-bottom-color: var(--darken-background) !important;
  border-color: var(--color-accent) !important;
}


.jss61.jss62.jss59.jss60 {
  border-bottom-color: var(--darken-background) !important;
}


header {
  border-bottom: 0 !important
}


.jss28.jss29.logged-in {
  background-image: var(--loginpage-image) !important;
}
