html {
  --color-accent: #ff1bec;
  --color-text-dark: #c01aba;
  --color-text: #f766ff;
  --color-base00: #191817;
  --color-base01: #232020;
  --color-base02: #3f3c3b;
  --color-base03: #5b5756;
  --color-blue: #378cd1;
  --color-red: #cb5144;
  --color-green: #3c9534;
  --color-orange: #ce6c4a;

  --border-size: 2px;
  --color-popup-border: var(--color-accent);
  --color-hover-border: var(--color-accent);
  --darken-background: #292323a9;
  --loginpage-image: url(https://www.hdwallpapers.in/download/macos_monterey_shapes_hd_macos-2560x1440.jpg);
}

* {
  border-color: var(--color-text) !important;
}

div.jss93 {
  border-bottom: none !important;
}

div.fr-view p span {
  color: aliceblue !important;
}

#private_page_external_wrapper::-webkit-scrollbar {
  display: none;
}
div.MuiPaper-root.MuiPaper-elevation0 > header {
  background-color: #9a4287ea !important;
  border-radius: 20px;
}


.jss88.listItem:nth-of-type(odd) {
  background-color: #9a4287ea;
}

#private_page_scroll_container_unused {
  min-height: 100vh;
  margin: 0;
  --scrollbar-primary-color: #9d4091b6;
  --text-color: #3313ce;
  overflow: scroll
}

#private_page_scroll_container_unused::-webkit-scrollbar {
  width: .7rem
}

#private_page_scroll_container_unused::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--scrollbar-primary-color),var(--text-color));
  border-radius: 4px
}

/*
img.sc-eqUAAy.clGYyw {
  content:url("https://media.discordapp.net/attachments/1081294139292913674/1219941911687594075/IMG_2875.png?ex=666819f1&is=6666c871&hm=29be4ea68eb7651bb3ef027b0bcdc4c54d1cf7aaa0258a2fa9bfb940a256a76e&=&format=webp&quality=lossless&width=472&height=662");
}
*/
.MuiFormControl-root.filter, .MuiFormLabel-root.Mui-focused, #book-filter-label, .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu, .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu:focus {
  border-color: var(--color-text) !important;
  background-color: var(--darken-background) !important;
  color: var(--color-text) !important;

}

.MuiPaper-root.rounded , .MuiPaper-root.MuiAppBar-root {
  background-color: var(--darken-background) !important;
  color: var(--color-text) !important;
  border-bottom-color: var(--darken-background) !important;
  border-color: var(--color-accent) !important;
}


.jss61.jss62.jss59.jss60 {
  border-bottom-color: var(--darken-background) !important;
}

#trajectory-toolbox-wrapper > div:nth-child(1) {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center the items horizontally */
}

#trajectory-toolbox-wrapper > div:nth-child(1) span {
  width: 100%; /* Ensure spans take full width */
  display: flex; /* Make sure spans behave as flex items */
  justify-content: center; /* Center buttons within spans */
  margin: 10px 0; /* Optional: Add some margin for spacing */
}

#trajectory-toolbox-wrapper > div:nth-child(1) span button {
  border-radius: 50% !important;
  margin-bottom: 20%;
}

div#trajectory-toolbox-wrapper {
  background-color: var(--darken-background) ;
}



header {
  border-bottom: 0 !important
}


.jss28.jss29.logged-in, #private_page_external_wrapper, #trajectory-toolbox-wrapper, #private_page_wrapper div:nth-child(2) {
  background-color: transparent !important;
}

body {
  background-image: var(--loginpage-image) !important;
  background-size: cover;
}

.MuiPaper-root.MuiPaper-elevation0{
  background-color: var(--color-base02);
  color: bisque;
}

.highlight{
  color: darkmagenta;
  font-weight: bold;
}

p.definition.yellow.box-content{
  background-color: rgb(206 220 44 / 64%) !important;
  color: #232020;
}