html {
  --color-accent: #191817;
  --color-text: #191817;
  --color-base00: #191817;
  --color-base01: #191817;
  --color-base02: #191817;
  --color-base03: #191817;
  --background-color: var(--color-base00);
  --color-blue: #2792e3;
  --color-red: #e14448;
  --color-green: #5cc951;
  --color-orange: #f07143;
  --color-dark-green: #1f551b;
  --color-black: #0f0f0f;
  --color-yellow: #ffd353;
  --fruit-color: #fff;
  --color-startpage-bg: #0202058f;
  --color-infostartpagebg: #232020;
  --background-blur: blur(2px);
  --border-size: 2px;
  --color-accent: var(--color-accent);
  --color-accent: var(--color-accent);
  --color-base02: var(--color-base02);
  --color-base03: var(--color-base03);
  --color-base01: #000000;
  --color-base03: #000000;
  --darken-background: rgba(0, 0, 0, 0.2);
  --color-splashtext: var(--color-accent);
  --color-shadow: rgba(0, 0, 0, 0.2);
  --font-family: "Montserrat", "Trebuchet MS", sans-serif;
  --small-blur: blur(5px);
  --medium-blur: blur(10px);
  --large-blur: blur(20px);
  --surface-blur: blur(30px);
}

html {
  background-color: var(--color-base00);
}

body,
button,
input,
pre,
select,
textarea .modern-ui,
.modern-ui body,
.modern-ui button,
.modern-ui div,
.modern-ui input,
.modern-ui pre,
.modern-ui select,
.modern-ui textarea,
.blueprint,
.blueprint body,
.blueprint button,
.blueprint input,
.blueprint pre,
.blueprint select,
.blueprint textarea,
.blueprint div {
  font-family: var(--font-family);
}

/* hier is beter smartschool code*/
#modal-content,
#content-container {
  background-color: var(--background-color);
}

.smsc-topnav .topnav__btn--profile img {
  height: 23.2px;
  width: 23.2px;
  margin-right: 0.5rem;
}
.smsc-topnav .topnav__btn--profile {
  padding-left: 0.15rem;
}

.header__avatar,
.splitdetail__header__avatar > img,
.smsc-tabslist__item:before,
.smsc-tabslist__item:after {
  opacity: 1;
}
.glass .messageframe:has(#msgdetail):has(.msgDetail--empty) {
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
}

.smsc-container .smsc-container--left,
.smscMain .smscMain--left-tb-main,
intradesk-app#smscMain,
.smsc-container.smsc-container--left.smsc-container--grey,
.smsc-container.smsc-container--main.smsc-container--flex,
div#lvs_wrapper_container,
.online-session__list-page.smscMain--tb--main.smscMain,
#js-wiki-home.smscMain {
  position: relative;
  height: 100%;
  width: 100%;
}

.home-main .home-main__scroll-container > * {
  max-width: none;
}

#smscMain.bp-root {
  flex-direction: row;
}

#modmessages {
  height: calc(100vh - 27px - 1rem);
  margin-top: 1rem;
}

#smscMain:has(#modmessages) {
  overflow: hidden;
}

.tile {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  border-radius: 20px;
}

.tile:hover {
  background-color: var(--color-base02);
  border: 2px solid var(--color-base03);
}

#centercontainer {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

button.js-btn-search {
  color: var(--color-text);
}

.toolbar,
div.stdReplyWrapper,
.smscDialog .smscDialog_header .smscDialog_header_title,
.popupContainer .popupContainerTitle,
.popupContainer .popupContainerSubtitle {
  color: var(--color-text);
}

.toolbar {
  background-color: var(--color-base00);
}

.skip-link,
#ruleName,
#ifValueID,
#stdReplyName,
#stdReplyTxt,
#editsubboxinput,
.fileuploadblock,
#formval_omschrijving {
  background-color: var(--color-base01);
}

.fileinfogrey {
  background-color: transparent;
  opacity: 0.7;
}

.fileinfowhite {
  background-color: transparent;
}

#stdReplyName,
#stdReplyTxt,
#editsubboxinput {
  color: var(--color-text);
}

.student-support-block__item.icon-label,
.icon-label__text,
.checkbox--select-all,
.round,
.uploadtitle,
.dTreeNode {
  color: var(--color-text);
}

.homepage__block__content {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: var(--color-text);
  padding: 5px;
  border-radius: 10px;
}

body.modern-ui .homepage__block:not(:last-child) {
  border-bottom: 2px solid var(--color-base02);
}

.toolbar-bottom,
.toolbar-top,
.seperator {
  display: none;
}

.groupContainer,
.newsTitle,
.msg--bubble--steel,
#goTo {
  background-color: var(--color-base01);
  color: var(--color-text);
}

.skin .skinButtonBg,
div#draftSaved {
  background-image: none;
}

.detailContainerBlock {
  background: var(--color-base01);
  color: var(--color-text);
}

.groupTree {
  background-color: var(--background-color);
  color: var(--color-text);
}

a {
  color: var(--color-accent);
}

a:link {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a:focus {
  text-decoration: underline;
}

::selection {
  background: #b6b6b655;
  text-shadow: none;
}

.smscButton,
.float-label__input,
.input-search,
.wide-colored-btn,
.topnav-scope button.medium-button.medium-button {
  border: var(--border-size) solid var(--color-base02);
  background-color: var(--color-base01);
  color: var(--color-text);
  box-shadow: none;
  border-radius: 1rem;
}

.smscButton.blue {
  border: 2px solid var(--color-accent);
  background: var(--color-base02);
  color: var(--color-text);
  text-shadow: none;
  box-shadow: none;
  border-radius: 1rem;
  font-weight: 600;
}

.smscButton.blue:hover {
  background: var(--color-base03);
  border-color: var(--color-accent);
}

textarea#formval_omschrijving {
  border: 2px solid var(--color-base02);
  border-radius: 1rem;
}

.enableAnimations .smscButton,
.enableAnimations .float-label__input,
.enableAnimations .input-search,
.enableAnimations button.smscButton.blue,
.enableAnimations .wide-colored-btn,
.enableAnimations .topnav-scope button.medium-button.medium-button {
  transition:
    border 0.3s,
    background-color 0.3s,
    color 0.3s;
}

::-webkit-scrollbar-thumb {
  background: var(--color-base02);
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: background-color 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  scale: 0.9;
}

[toolbar] .toolbar__line--top:not(.toolbar__line--no-buttons):after {
  display: inline-block;
  content: "";
  height: max-content;
  position: absolute;
  width: 20px;
  height: var(--border-size);
  margin-left: -9px;
}

.smsc-container--grey,
.highcharts-background {
  fill: var(--color-base01);
  background-color: var(--color-base01);
}

.highcharts-container {
  color: var(--color-text);
}

tspan,
title,
text,
.grayed_out {
  color: var(--color-text);
  fill: var(--color-text);
}

.search_notes_schoolyearrow,
.itemSchoolyear {
  color: var(--color-text);
}

.contentFrametitle,
.lvs_item_top,
.personalSettings_content,
.smscBlockContainer_top,
.smscBlockContainer_right,
.smscBlockContainer_left,
.smscFrameTitle,
.titleLeft {
  background: none;
  background-color: var(--color-base02);
  box-shadow: none;
  color: var(--color-text);
}

.ui-widget-header,
.tabs,
li,
.legend2 {
  background: var(--color-base01);
  color: var(--color-text);
}

.legend2 {
  border-radius: 5px;
}

fieldset.fieldset2 {
  position: relative;
  border-color: var(--color-base03);
}

.tekstvet {
  display: none;
}

td[background],
td[bgcolor] {
  background-image: none;
  color: var(--color-text);
  background-color: var(--color-base00);
}

select,
.fieldset2 {
  background-color: var(--color-base00);
}

.category-hdr {
  border: 1px solid var(--color-base03);
  text-shadow: none;
  font-weight: bold;
  background: var(--color-base01);
}

.msgInfoTitle,
.sectionedit1,
.sectionedit2,
.sectionedit3,
.sectionedit4 {
  color: var(--color-accent);
}

.msgInfoSpacer {
  display: none;
}

.msgInfoAuthor,
.msgInfoMsg,
.li,
.manualmain {
  color: var(--color-text);
}

.tabsContainer {
  display: none;
}

.smsc-dropzone {
  background-color: var(--color-base01);
}

.smsc-dropzone--ellipsis {
  color: var(--color-accent);
}

tr {
  background-color: transparent;
}

tr.selected {
  background-color: var(--color-base00);
}

td.selected {
  background-color: var(--color-base00);
}

td:hover {
  background-color: transparent;
}

td:not(.cb-container, [style="height:20px;"], [colspan="3"]),
.action-button,
span.smsc-inlineeditor--disabled.smsc-inlineeditor__editor,
smsc-inlineeditor.smsc-table__cell--inlineeditor {
  background-color: transparent;
}

.smsc-contextmenu__content {
  background-color: var(--color-base01);
}

.contextmenu__item--nolink:hover {
  background-color: var(--color-base02);
}

.enableAnimations .contextmenu__item--nolink:hover {
  transition: ease-in;
  transition-duration: 0.1s;
}

.smsc-rightclick__menu {
  background-color: var(--color-base02);
}

.enableAnimations .smsc-rightclick__item:hover {
  transition: ease-in;
  transition-duration: 0.1s;
}
.smsc-rightclick__item {
  border-radius: 0.5rem;
}

.smsc-rightclick__item:hover {
  background-color: var(--color-base02);
}

.smsc-dialog,
.smsc-templates__linkbutton {
  background-color: var(--color-base01);
}

[listview] .listview__row--selected .listview__cell:not(.listview__cell--select-btn) {
  background-color: var(--color-base02);
}

.smsc-templates__separator,
#loading-box {
  display: none;
}

.sidebar,
.sidebar-btn__button,
.manual_widgetcontent,
.manual_widgettitle,
.breadcrumb,
#manual_widgetcontent_3 {
  background-color: var(--color-base00);
}

.profile_header_pupilinfo_status,
.notifyScreenTitle {
  color: var(--color-accent);
}

.lvs-pupilpresences-row,
.tabContent.personalSettings_content {
  background-color: var(--color-base01);
}
.smscselect_dropdown_item,
#renderselect {
  color: #000000;
}

.google-authenticator-input__label {
  background-color: var(--color-base02);
  border: none;
}

.google-authenticator-input {
  border: 0.1px solid var(--color-base03);
  border-radius: 8px;
}

.notifyScreenEventOptionLine:hover {
  background-color: var(--color-base01);
}

.notifyScreenContainer .notifyScreenDevice,
.notifyScreenContainer .notifyScreenGeneralBlock:not(:last-child),
.notifyScreenContainer #notifyPossibleEvents .notifyScreenEventBlock {
  border-color: var(--color-base02);
}

.notifyScreenContainer .notifyScreenContainerEmail.disabled,
.notifySceenContainerInfo.disabled {
  opacity: 0.6;
}

#smscMainBlockContainer,
.notifyScreenContainer {
  background-color: var(--background-color);
  border: 0px solid var(--color-accent);
  box-shadow: none;
}

#smscMainBlockContainer {
  height: fit-content;
}

.infoBlock_message,
.infoBlock_eval,
.infoBlock_planner,
.infoBlock_presence,
.infoBlock_lvsitem,
.infoBlock_report {
  border: 2px solid transparent;
  border-radius: 8px;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
}

.infoBlock_message:hover,
.infoBlock_eval:hover,
.infoBlock_planner:hover,
.infoBlock_presence:hover,
.infoBlock_lvsitem:hover,
.infoBlock_report:hover {
  background-color: var(--color-base02);
}

.titleLeft {
  background-color: var(--color-base01);
}

.smscBlockContainer_top,
.smscBlockContainer_left,
.smscBlockContainer_right {
  border: 2px solid var(--color-base02);
  background-color: var(--color-base01);
}

.smscBlockContainer_top {
  margin: 0px;
}
.smscBlockContainer_top:has(.cf, .smscBlockContainer_mainContentBlock) {
  margin-top: 5rem;
}

.enableAnimations .smscAdminNav_body_linkdivTitle:hover {
  transition: ease-in;
  transition-duration: 0.1s;
}

.smscAdminNav_body_linkdivTitle:hover {
  color: var(--color-text);
}

.smscAdminNav_body
  .smscAdminNav_body_link
  .smscAdminNav_body_linkdivText.disabled
  .smscAdminNav_body_linkdivTitle,
.smscAdminNav_body .smscAdminNav_body_link .smscAdminNav_body_linkdivText.disabled {
  opacity: 0.6;
  color: var(--color-text);
}

.smscAdminNav_body_linkdivText {
  color: var(--color-text);
}

.notifySceenContainerInfo {
  color: var(--color-text);
}

.percent,
#quick-nav,
.smsc_cm_body_row,
div.stdReplyWrapper {
  border-color: var(--color-base03);
}

.survey-navigation {
  border-top: 1px dashed var(--color-base03);
}

#quick-nav,
.start-row {
  border-color: var(--color-base03);
}

.start {
  color: var(--color-text);
}

.enableAnimations #theme-selector {
  transition: border-color 0.2s ease-in-out;
}

.ridge #theme-selector {
  border: none;
}

#theme-selector {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base03);
  border-radius: 1.25rem;
  color: var(--color-text);
  padding: 5px;
  border-radius: 10px;
  margin: 0;
  font-size: large;
  font: bold;
  box-shadow: none;
  justify-content: center;
  align-self: center;
  text-align: center;
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
  font-size: 1.5rem;
}

#theme-selector:hover,
#theme-selector:focus-visible {
  cursor: pointer;
  border-color: var(--color-accent);
}

.popupinput {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base03);
  text-align: center;
  border-radius: 10px;
  width: 100px;
  color: var(--color-text);
  margin: 10px;
  transition: none;
}

.cancel-button {
  background: var(--color-base01);
  color: var(--color-red);
}

/* What the fuck was this.... */
.period__column .period-input
  .period-input__editable-period
  .period-input__whole-day-checkbox
  input[type="checkbox"] {
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-left: -20px;
}

.enableAnimations .popupinput {
  transition: border-color 0.3s;
}

.focus-visible {
  outline: 0px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4.5rem;
  height: 2.5rem;
  margin: 0px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-base02);
}

.enableAnimations .slider.round {
  -webkit-transition: transform 0.1s;
  transition: transform 0.1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.25rem;
  top: 0.25rem;
  background-color: var(--color-base03);
}

.enableAnimations .slider.round:before {
  -webkit-transition: transform 0.1s;
  transition: transform 0.1s;
}

input:checked + .slider {
  background-color: var(--color-base03);
}

input:checked + .slider:before {
  background-color: var(--color-accent);
}

input:focus + .slider,
.todo-column [listview] .todo-column__row:hover .todo-column__actions-cell,
.todo-column__header {
  box-shadow: none;
}

.todo-column__header {
  align-items: center;
}

.enableAnimations [listview].listview .listview__action-btn {
  transition: background-color 0.1s ease-in-out;
}

input:checked + .slider:before {
  transform: translateX(2rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  align-self: center;
}

#theme-selector option {
  font-size: 1.5rem;
  font: bold;
  text-align: center;
}

#theme-selector option:hover {
  cursor: pointer;
}

.popupinput {
  margin-bottom: 0px;
  font: bold;
}

.popupinput:focus-visible {
  border-color: var(--color-accent);
}

.quick-settings-title {
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 0px;
  font-weight: 600;
}

.glass #quickSettings {
  background-color: var(--darken-background);
  backdrop-filter: var(--medium-blur);
}

.ridge #quickSettings {
  border: none;
}

#quickSettingsButton {
  color: var(--color-accent);
}

#quickSettings {
  top: 110%;
  left: 50%;
  transform: translateX(-50%) translateY(0px);
  max-width: 270px;
  width: 240px;
  background-color: color-mix(in srgb, var(--color-base00) 40%, var(--color-base01) 60%);
  border: 2px solid var(--color-base02);
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  border-radius: 2rem;
  overflow: visible;
  border: 3px solid var(--color-accent);
  z-index: 777;
  position: absolute;
  padding: 1.2rem;
  box-shadow: 0 0.333rem 1.333rem var(--color-shadow);
}

.textandbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.textandbuttonnomarg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: initial;
}

#background {
  height: 35px;
  margin-top: 0px;
  margin-left: 0px;
}

.smscFrameTitleContainer .smscFrameTitle,
.uploadzone .files .navigation {
  border: 2px solid var(--color-base03);
  background-color: var(--color-base02);
  border-radius: 8px;
  padding: 0.5rem;
}

.uploadzone-attachment,
.uploadzone-default-attachment-txt {
  background-color: var(--color-base01);
}

#smscleftnav .smscleftnavcontainer {
  border-width: 2px;
  background-color: var(--color-base01);
}
ul.smsc-column-nav {
  margin-bottom: 0px;
}
.send-delayed-dialog__info {
  color: var(--color-text);
  opacity: 0.6;
}

.smsc-topnav .topnav__divider {
  display: none;
}

.course-session-page__container {
  box-shadow: none;
}

.snowflake {
  position: fixed;
  top: -10vh;
  z-index: 999999;
  pointer-events: none;
  will-change: transform;
}

@keyframes snowflake_fall_0 {
  0% {
    transform: translateY(-10vh) translateX(100px) rotate(50deg);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateY(110vh) translateX(80px) rotate(170deg);
  }
}

@keyframes snowflake_fall_1 {
  0% {
    transform: translateY(-10vh) translateX(50px) rotate(30deg);
  }

  50% {
    transform: translateX(100px);
  }

  100% {
    transform: translateY(110vh) translateX(20px) rotate(180deg);
  }
}

@keyframes snowflake_fall_2 {
  0% {
    transform: translateY(-10vh) translateX(80px) rotate(40deg);
  }

  50% {
    transform: translateX(40px);
  }

  100% {
    transform: translateY(110vh) translateX(70px) rotate(200deg);
  }
}

@keyframes snowflake_fall_3 {
  0% {
    transform: translateY(-10vh) translateX(80px) rotate(40deg);
  }

  50% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateY(110vh) translateX(70px) rotate(200deg);
  }
}

#raindrops {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.raindrop {
  position: absolute;
  z-index: 999999;
  pointer-events: none;
  will-change: transform;

  transform: rotate(200deg) translateY(100vh);
}

@keyframes raindrop_fall {
  0% {
    transform: translateY(-10vh);
    /* Start from slightly above the viewport */
    /* Invisible at the start */
  }

  100% {
    transform: translateY(111vh);
    /* Fall past the bottom of the viewport */
  }
}

.main-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5rem;
  border-radius: 10px;
  background: var(--color-base01);
  border: 2px solid transparent;
  outline: none;
  opacity: 1;
}

.main-slider:focus-visible {
  border-color: var(--color-base03);
}

.enableAnimations .main-slider {
  transition:
    opacity 0.2s,
    border-color 0.2s;
}

.main-slider::-webkit-slider-thumb {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--color-accent);
  border-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}
.main-slider::-moz-range-thumb {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: var(--color-accent);
  border-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  appearance: none;
}

#quickSettings .main-slider::-webkit-slider-thumb {
  width: 1.2rem;
  height: 1.2rem;
}

#quickSettings .main-slider::-moz-range-thumb {
  width: 1.2rem;
  height: 1.2rem;
}

.weather-overlay-selector-container {
  width: 1.15rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

#weather-overlay-selector {
  width: 4.5rem;
  height: 1.15rem;
  transform: rotate(90deg);
  transform-origin: center center;
  margin: 0px;
}

#weather-overlay-amount-slider {
  width: 8rem;
}
.weather-amount-slider-title {
  text-align: center;
  margin-bottom: 0.5rem;
}
.weather-amount-slider-container {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

#modal-background {
  background-color: transparent;
}

#modal-content {
  background-color: var(--color-base01);
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 2px solid var(--color-base03);
}

.table-page .table-page__container__wrapper__table .cell--fixed {
  border: 2px solid var(--color-base03);
  border-radius: 10px;
}

.row--course:not(:last-child) .cell__course-name {
  border-bottom: 0px;
}

.smsc-tabs,
.smsc-tabslist__item,
.smsc-tabslist:before,
.modern-ui .smsc-tabs .smsc-tabslist__item:before {
  text-shadow: none;
  border-color: var(--color-base02);
}

.smsc-container__buttonbar {
  border-color: var(--color-base02);
}

option:hover {
  background-color: var(--color-base01);
}

.enableAnimations option:hover {
  transition: ease-in;
  transition-duration: 0.1s;
}

.splashscreen {
  background: transparent;
}

.splashscreen__dialog,
.oauth__image {
  background-color: var(--color-base01);
  border-radius: 10px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--color-base03);
  box-shadow: 0 0 30px #000000dc;
}

.st1,
.st2 {
  fill: var(--color-accent);
}

.text-color-fill {
  fill: var(--color-text);
}

.st5 {
  fill: var(--color-text);
}

.st4 {
  stroke: var(--color-accent);
}

.text-stroke {
  stroke: var(--color-text);
}

.header.js-header.overview-page__header.header--single-line {
  flex: auto;
}

.discordbutton {
  display: flex;
  margin: auto;
  width: 40px;
  height: 40px;
  color: var(--color-text);
  text-align: center;
  justify-content: center;
  margin-top: 3px;
  margin-left: -2px;
}

.bigdiscordbutton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-base00);
  border-radius: 10px;
  background-color: var(--color-base01);
}

.bigdiscordbutton:hover {
  background-color: var(--color-base02);
  cursor: pointer;
}

.enableAnimations .bigdiscordbutton:hover {
  transition: ease-in;
  transition-duration: 0.1s;
}

#colorpickers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

#colorpickersforsettingspage {
  display: none;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

#colorpickersforsettingspage.visible {
  display: flex;
}

.color-pickersmpp {
  background-color: transparent;
  width: 30px;
  height: 30px;
  box-shadow: none;
  border: 2px solid var(--color-base00);
  border-radius: 7.5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.color-pickersmpp:hover {
  cursor: pointer;
}

.color-picker-container {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.blur-slider-container {
  position: relative;
  display: inline-block;
  width: fit-content;
}

#blurPlaats {
  margin-bottom: 1rem;
  font-weight: 300;
}

.color-label {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  font-weight: 600;
}

.enableAnimations .color-label {
  transition: opacity 0.1s ease-in;
}

.color-picker-container:hover .color-label {
  opacity: 1;
}

.blur-slider-container:hover .color-label {
  opacity: 1;
}

.input-search:focus {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
}

#errormessagesmpp {
  color: var(--color-red);
  margin: 0px;
  text-align: center;
}

.vertical-selector-labels {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: smaller;
  height: 5rem;
  gap: 0.1rem;
}

.nobottommargp {
  margin-bottom: 7px;
  margin-top: -8px;
}

.accent-text,
span.userNotRead {
  color: var(--color-accent);
}

.uploadzone-default-attachment-txt {
  color: var(--color-text);
}

#uploadzone {
  position: relative;
  margin: 0px;
  margin-right: 10px;
  top: 20px;
  width: 97%;
}

.correctioninfo {
  background-color: var(--color-base01);
}

.personaliaTable > tbody > tr > td > input.readonly,
input[name="email"] {
  background-color: var(--color-base01);
}

.smscDialog {
  background-color: var(--color-base01);
}

.popupContainer {
  background-image: none;
}

#messageList,
#groupTree,
.survey,
.frameTable {
  border: 2px solid var(--color-base02);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-base01);
  background-image: none;
}

.forum-row {
  border-bottom: 2px solid var(--color-base02);
}

.correctionline,
.correctioninfocorr {
  background-color: var(--color-base01);
}

.nr_recipients_bubble {
  display: none;
}

label.checkbox input[type="checkbox"],
div.smscCheckbox input[type="checkbox"],
.mobile-style input[type="checkbox"],
.uscMain .usersContainerBlock .usersContainerBlockBack,
[listview] .listview__select-btn,
smsc-listview .checkbox-button {
  appearance: none;
  background: var(--color-base02);
  border: 2px solid var(--color-base03);
  border-radius: 0.4rem;

  flex: 0 0 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
}

.smsc-topnav input[type="search"].input-search {
  background-image: none;
}

.mobile-style input[type="checkbox"],
.mobile-style input[type="checkbox"]:checked {
  background-repeat: no-repeat;
  background-size: cover;
}

.moveToPostbox__item__icon,
label.checkbox input[type="checkbox"]:checked,
div.smscCheckbox input[type="checkbox"]:checked,
.mobile-style input[type="checkbox"]:checked,
.uscMain .usersContainerBlock .usersContainerBlockBack.selected,
[listview] .listview__select-btn[aria-checked="true"],
smsc-listview .checkbox-button--checked,
smsc-listview .checkbox-button[aria-checked="true"] {
  background: var(--color-accent);
}

.listview__cell.js-listview-cell.listview__cell--icon-24.column--icon {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.listview__cell.js-listview-cell.column--date {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.moveToPostbox__item__icon,
label.radiobutton input[type="radio"] {
  appearance: none;
  background: var(--color-base02);
  border: 2px solid var(--color-base03);
  border-radius: 10000px;
  flex: 0 0 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
}

label.radiobutton input[type="radio"]:checked {
  background: var(--color-accent);
}

.smsc-select {
  color: var(--color-text);
}

input.message-search__input {
  border-radius: 5px;
  border: 2px solid var(--color-base03);
}

.ui-widget.ui-widget-content {
  border-radius: 15px;
}

div#smscSearchView {
  height: fit-content;
}

div.correctioninfo {
  border-radius: 10px;
}

.fileuploadblock {
  border: 2px solid var(--color-base02);
  border-radius: 10px;
  padding-right: 15px;
}

.dialog-content.js-dialog-content.wip_interruptor_dialog {
  border-radius: 25px;
}

.drag-container__info-drag {
  color: var(--color-text);
}

.smsc-progressbar {
  background-color: var(--color-base03);
  border: 1px solid var(--color-accent);
  box-shadow: none;
}

.smsc-progressbar__progress {
  background: var(--color-accent);
  border: none;
}

.forum-contentbox {
  background-color: var(--color-base01);
}

hr.topnav__divider {
  background-color: var(--color-accent);
}

h1.topnav__title {
  color: var(--color-text);
}

span.js-badge-notifs.topnav__badge,
span.js-badge-msg.topnav__badge {
  position: relative;
}

.lvs-pupilpresences-wrapper
  .lvs-pupilpresences
  .lvs-pupilpresences-row
  .lvs-pupilpresences-cell.grey {
  color: var(--color-text);
  opacity: 0.7;
}

@keyframes flyInFromTop {
  0% {
    transform: translateX(-50%) translateY(-150%);
    filter: blur(7px);
    opacity: 0;
  }

  60% {
    transform: translateX(-50%) translateY(5px);
    filter: blur(0px);
    opacity: 0.9;
  }

  100% {
    transform: translateX(-50%) translateY(0px);

    opacity: 1;
  }
}

@keyframes flyInFromTopNoTranslateX {
  0% {
    transform: translateY(-150%);
    filter: blur(7px);
    opacity: 0;
  }

  60% {
    transform: translateY(5px);
    filter: blur(0px);
    opacity: 0.9;
  }

  100% {
    transform: translateY(0px);

    opacity: 1;
  }
}

#shortcutsMenu,
#coursesMenu,
#linksMenu,
#goMenu {
  top: 110%;
  left: 50%;
}
#searchMenu,
#profileMenu,
#notifsMenu {
  top: 110%;
}

.enableAnimations #shortcutsMenu,
.enableAnimations #coursesMenu,
.enableAnimations #linksMenu,
.enableAnimations #quickSettings,
.enableAnimations #goMenu {
  transform-origin: center;
  animation: flyInFromTop 0.3s ease forwards;
}

#shortcutsMenu,
#coursesMenu,
#linksMenu,
#quickSettings,
#goMenu {
  transform-origin: center;
  animation: flyInFromTop 0s ease forwards;
}

.enableAnimations #searchMenu,
.enableAnimations #notifsMenu,
.enableAnimations #profileMenu {
  animation: flyInFromTopNoTranslateX 0.3s ease forwards;
}

.homepage__right {
  border-left: 2px solid var(--color-base01);
}

.homepage__left {
  border-right: 2px solid var(--color-base01);
}

textarea,
td.cb-container {
  background-color: transparent;
}

.smsc-container:has(.form-page__header-wrapper) {
  background-color: transparent;
}

.form-page {
  background: transparent;
}

.form-item.js-form-item.form-item--multiple-choice {
  background: transparent;
  box-shadow: none;
}

.header.js-header.form-page__header.header--single-line {
  border-radius: 15px;
  border: 2px solid var(--color-base03);
  padding: 10px;
}

.form-item__content-wrapper {
  background-color: var(--color-base01);
  border-radius: 15px;
  border: 2px solid var(--color-base03);
  padding: 10px;
}

.form-item.js-form-item,
span.smsc-inlineeditor--disabled.smsc-inlineeditor__editor {
  background-color: transparent;
}

textarea.form-item__input-field.form-item__input-field--textarea {
  border: 1.5px solid var(--color-base03);
}

.form-item .form-item__instruction {
  color: var(--color-text);
}
.msgContentVal div p,
.msgContentVal div h2 {
  color: var(--color-text);
}

.smsc-topnav [data-notifs] .notification .notification__btn:focus:not(.focus-ring),
.smsc-topnav [data-notifs] .notification .notification__close:focus:not(.focus-ring) {
  box-shadow: none;
}

.verticaltext-noright {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: smaller;
  margin-right: -10px;
}

#cool-modal-content {
  background-color: var(--color-base01);
}

.period_button {
  background-color: var(--color-base02);
  color: var(--color-accent);
}

.period_button:hover {
  background-color: var(--color-base03);
}

.lvs_btn.small.w50.top.right.green {
  background: var(--color-base02);
  color: var(--color-accent);
  border-color: transparent;
  border-radius: 5px;
}

.lvs_btn.small.w50.top.right.green:hover {
  background: var(--color-base03);
}

#cool-modal-close {
  background-color: var(--color-base03);
  color: var(--color-red);
}

input#background-blur-amount-slider {
  width: 3rem;
  height: 1rem;
  transform: rotate(-90deg);
  transform-origin: center;
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
  margin: 0;
  background: var(--color-base02);
}

.blur-slider-container {
  width: 1rem;
  margin-left: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

smsc-toolbar.hlp-push-left--milli.hlp-revoke-pad-right {
  display: none;
}

.toolbar.js-toolbar {
  border: none;
}

.blob-counters__label {
  color: var(--color-text);
}

.smscComposeMessage {
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
  border: 2px solid var(--color-base02);
}

#custom-name-input-container {
  display: flex;
  justify-content: center;
}

#custom-name-input {
  background-color: var(--color-base01);
  color: var(--color-text);
  margin: 0;
  font-size: 16px;
  min-width: 170px;
  width: fit-content;
  height: 25px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  border: 2px solid var(--color-base02);
  border-radius: 7px;
}

#custom-name-input::placeholder {
  color: var(--color-text);
  opacity: 0.6;
}

.sidebar {
  display: none;
}

.manualmain3col.manualmain {
  align-self: center;
}

.manualmain__wrapper.modern-ui.modern-ui--larger-font {
  flex-direction: row;
}

.enableAnimations .base-window {
  transition: border-color 0.3s;
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.window-button {
  width: 36px;
  height: 36px;
  padding: 0px;
  border-radius: 50%;
  background: var(--color-base01);
  border: 2px solid var(--color-base02);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.window-button:hover {
  background: var(--color-base02);
  border-color: var(--color-base03);
}

.window-button:focus-visible {
  background: var(--color-base02);
  border-color: var(--color-accent);
}

.window-button svg {
  width: 18px;
  height: 18px;
}

.enableAnimations .window-button svg {
  transition-property: background, transform, border-color;
  transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.enableAnimations .window-button:hover svg {
  transform: scale(1.15);
}
.enableAnimations .window-button:hover svg.contract-icon {
  transform: scale(0.9);
}

.enableAnimations .window-button:active {
  transform: scale(0.9);
}

.window-close svg {
  width: 25px;
  height: 25px;
  color: var(--color-red);
}

.base-window.fullscreen-window {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 2px;
  z-index: 1000;
}

.base-window.fullscreen-window .contract-icon {
  display: block;
}

.base-window.fullscreen-window .expand-icon {
  display: none;
}

.base-window.contract-icon {
  display: none;
}

.base-window.expand-icon {
  display: block;
}

.enableAnimations .base-window {
  transition-property: width, height, left, top, border-radius;
  transition: 0.2s cubic-bezier(0.16, 1.13, 0.89, 0.96);
  animation: popIn 0.3s cubic-bezier(0.01, 1.13, 0.32, 0.96) forwards;
}

.glass .base-window {
  background: var(--darken-background);
  backdrop-filter: var(--surface-blur);
}
.glass #global_chat_window {
  backdrop-filter: none; /* Filters can't stack so disable to allow gc glass */
}

.base-window {
  overflow: clip;
  background: var(--color-base00);
  border: var(--border-size) solid var(--color-base03);
  position: absolute;
  z-index: 20;
  box-shadow: 0px 0px 150px black;
  border-radius: 2rem;
  width: 90%;
  height: 85%;
  left: 5%;
  top: 7.5%;
  transform: scale(0);
  transform-origin: center;
  animation: popIn 0s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.base-dialog {
  width: 50%;
  height: 30%;
  left: 25%;
  top: 35%;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.window-controls {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  z-index: 25;
  opacity: 1;
  transform: translateY(0);
}
.enableAnimations .window-controls {
  opacity: 0;
  transform: translateY(-20px);
  transition-property: opacity, transform;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.enableAnimations .base-window:hover .window-controls,
.enableAnimations .base-window:focus-within .window-controls {
  opacity: 1;
  transform: translateY(0);
}

.base-window.window-fullscreen-btn {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0;
  z-index: 1000;
}

.window-fullscreen-btn .expand-icon {
  /* peil wijst naar buiten */
  display: block;
}
.window-fullscreen-btn .contract-icon {
  /* peil wijst naar binne */
  display: none;
}

.base-window.window-fullscreen-btn .expand-icon {
  /* omgekeerd */
  display: none;
}
.base-window.window-fullscreen-btn .contract-icon {
  display: block;
  transform: rotate(180deg);
}

.qs-hidden {
  display: none;
}

.empty-state__container {
  background-color: var(--color-base00);
}

body.modern-ui .smscMain .smsc-container {
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 16px;
}

.profileInputTitle {
  color: var(--color-text);
}

@media (max-height: 700px), screen and (max-width: 1280px) {
  .twinbutton__button--middle {
    color: transparent;
  }
}

.mydoc smsc-listview .js-table-container {
  padding-bottom: 0px;
}

h3.title.fluid-ui-heading.fluid-ui-heading--3,
.card-block__content {
  color: var(--color-text);
}

smsc-listview {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
}

smsc-listview table tr .listview-row__row-actions .action-button:hover {
  background-color: var(--color-base03);
  border-radius: 0.5rem;
}

body.modern-ui table {
  margin-bottom: 0px;
}

.smsc-table__header.js-table-hdr {
  padding-top: 5px;
  border: none;
  background-color: var(--color-base00);
}

smsc-listview table tr.pointer:hover {
  background-color: var(--color-base02);
}
tr.pointer {
  background-color: var(--color-base01);
}
.smsc-inlineeditor__input__buttons {
  display: none;
}
input.smsc-inlineeditor--editable.smsc-inlineeditor__input.js-inlineEditor-input.focus-visible {
  border: 2px solid var(--color-base02);
  box-shadow: none;
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
}
hr.smsc-dialog__ruler,
.deliberation-line-picker__button-bar {
  border-top: 2px solid var(--color-base03);
}
.smsc-dialog {
  border: var(--border-size) solid var(--color-base02);
  border-radius: 8px;
}
button.smsc-dialog__top__button.smsc-dialog__icon.smsc-dialog__close-button {
  border: 1px solid var(--color-base03);
  border-radius: 4px;
}
.smsc-container.smsc-container--left.smsc-container--grey.mydoc__left {
  background-color: var(--color-base01);
}
.js-emptystate.smsc-container__emptyState {
  background-color: var(--color-base01);
}
.blueprint.pupil-deliberation.js-pupil-deliberation {
  background-color: transparent;
}
.header--single-line.header.js-header {
  padding: 0.5rem;
  padding-right: 0.9rem;
}
.line__container__row:not(.line__container__row--sub) {
  color: var(--color-accent);
}
.line__container__row--sub {
  color: var(--color-text);
}
label.radiobutton.js-radiobutton {
  cursor: pointer;
}
.mydoc__action-buttons {
  display: none;
}

.dtree a.nodeSel {
  background-color: var(--color-base00);
  color: var(--color-accent);
}

a.node {
  color: var(--color-text);
}

.cooperate_title {
  border: 2px solid var(--color-base02);
  border-radius: 10px;
  background-color: var(--color-base01);
}

legend {
  background-color: var(--color-base02);
  border: 1px solid var(--color-accent);
  color: var(--color-text);
}

fieldset {
  background-color: var(--color-base00);
  border: 2px solid var(--color-base02);
  border-radius: 10px;
  margin-bottom: 25px;
}

button.wopi_files__button:hover {
  background-color: var(--color-base01);
  border-color: var(--color-base03);
  border-radius: 5px;
}

button.wopi_files__button {
  margin: 10px;
  border-width: 2px;
}

.enableAnimations button.wopi_files__button {
  transition-property: background-color, border-color, border-radius;
  transition: 0.05s ease-in-out;
}

.card__container {
  background-color: var(--color-base00);
  border-radius: 20px;
  box-shadow: none;
}
.enableAnimations .card__container {
  transition-property: background-color, transform, box-shadow, scale, cursor;
  transition: ease-in-out 0.25s;
}

.card__container:hover {
  cursor: pointer;
  background-color: var(--color-base01);
  transform: translateY(-5px);
  scale: 1.05;
  box-shadow: 0px 15px 50px var(--color-shadow);
}

.card__container__content__title {
  color: var(--color-accent);
}

.card__container__content__description {
  color: var(--color-text);
}

.card {
  border-radius: 20px;
  background-color: var(--color-base01);
  box-shadow: none;
  color: var(--color-text);
  border: 2px solid var(--color-base02);
}

.enableAnimations .card {
  transition-property: background-color, border-color;
  transition: 0.1s ease-in-out;
}

body.modern-ui .photos__albums .l-albums__header input.l-albums__header__search-input {
  margin-left: 10px;
}

.card:hover {
  background-color: var(--color-base02);
  border-color: var(--color-accent);
}

.card__anonymous,
.card__status {
  border-color: var(--color-base03);
  justify-content: center;
}

.survey .title {
  color: var(--color-accent);
}

.anonymous-banner {
  background-color: var(--color-base01);
}

.default-dialog {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base03);
  border-radius: 15px;
}

.smsc-tree__item__title {
  color: var(--color-text);
}

.smsc-topnav [data-courses] .course-link__descr {
  color: var(--color-text);
  opacity: 0.8;
  font-weight: 300;
}

div.smscCheckbox input[type="checkbox"]:not(.loading):focus + label:before {
  box-shadow: none;
  border: none;
}

span[style^="color:"]:not(.lijnNumber),
span[style*="; color:"]:not(.lijnNumber),
span[style*=";color:"]:not(.lijnNumber),
h1[style^="color:"],
h1[style*="; color:"],
h1[style*=";color:"],
div[style^="color:"],
div[style*="; color:"],
div[style*=";color:"] {
  color: var(--color-text);
}

.tox-toolbar__group:has(.tox-split-button) {
  display: none;
}
div[style*=";color:#033399;"] {
  opacity: 0.7;
}

span[style*="background"]:not(.lijnNumber),
div[style*="background"]:not(.manual_widgettitle):not(.base-window) {
  background-color: transparent;
}
/*code hier boven heeft ervoor gezorgt dat dit bij de planner moest ):[ */
.bubble-s87kI {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
}

.bubble-s87kI.header__datepickerbutton {
  padding: 0;
}

.glass .bubble-s87kI {
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
}

.dropdownMenuItem-Vszox[data-selected="true"] {
  background-color: var(--color-base03);
}

.dropdownMenuItem-Vszox[data-selected="false"] {
  background-color: var(--color-base01);
  border-radius: 0.75rem;
}

.dropdownMenuItem-Vszox[data-selected="false"]:hover {
  background-color: var(--color-base02);
}

div:has(.dropdownMenu-NRL0x) {
  top: 10px;
}

.dropdownMenu-NRL0x {
  padding: 1rem;
}

.smsc-svg--earth--16 {
  border: none;
}
span.label_tLqW4 {
  color: var(--color-text);
}
.list_mgnC5 {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  border-radius: 25px;
}
/*tot hier moest ik planner verandere door dat en ben nog niet klaar :c*/

span.news__feed__button__content--name-date,
.icon-label__info {
  color: var(--color-text);
  opacity: 0.5;
  font-weight: 400;
}

span.news__feed__button__content--title {
  font-weight: 550;
}

a.disabled,
.smsc_cm_body_row_block_mime {
  filter: none;
  opacity: 0.7;
}

.smsc_cm_body_row_block_mime {
  font-weight: 600;
  color: var(--color-text);
}

label.checkbox.js-checkbox.form-page__receive-copy-by-mail-checkbox {
  margin-left: 25px;
}

.form-page__footer-btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.smscMain.form-completed-page {
  justify-content: center;
  position: relative;
  display: flex;
  height: 100%;
}

.smsc-container.form-completed-page__content {
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
  background-image: none;
  height: fit-content;
}

.confirm-dialog .confirm-dialog__button-bar {
  border-color: var(--color-base02);
}

#speedmultiplier,
#flappyspeedmultiplier {
  width: 25px;
}

span.uploaddetail {
  color: var(--color-text);
  opacity: 0.7;
}

.toolbar-buttons div {
  border: none;
}

.smsc_cm_breadcrumb {
  display: flex;
  flex-direction: row;
}

.smsc_cm_no_items#nownews {
  background-image: url(https://static6.smart-school.net/smsc/svg/star_yellow/star_yellow_24x24.svg);
  background-size: 64px;
}

.topnav-menu-overlay {
  z-index: 0;
}
span.smsc-treeitem__label {
  color: var(--color-text);
}

.glass div#folders {
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
}

div#folders {
  border-radius: 1.5rem;
  background: var(--color-base01);
  border: 2px solid var(--color-base02);
  font-weight: 500;
}

.smsc_cm_breadcrumb.subline {
  border: none;
}

.glass div#smscMainBlockContainer {
  background: var(--darken-background);
  backdrop-filter: var(--surface-blur);
}

div#smscMainBlockContainer {
  background: var(--color-base00);
  border-radius: 2rem;
  border: 2px solid var(--color-base02);
}
.uploadzone .folders {
  width: auto;
  max-width: 400px;
  min-width: 250px;
}

#tree {
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.uploadzone td {
  vertical-align: middle;
}

.uploadzone td:has(#toolbar) {
  vertical-align: top;
}

#performance-mode-info {
  pointer-events: none;
  left: -12px;
  max-width: 209px;
  top: -7px;
  background-color: var(--color-base02);
  border: 2px solid var(--color-accent);
  box-shadow: 0 0.333rem 1.333rem rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 1rem;
  position: absolute;
  opacity: 0;
  text-align: center;
  z-index: 10;
}

.enableAnimations #performance-mode-info {
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.theme-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

mark {
  color: var(--color-accent);
}

.forum-contentbox > input.textfield {
  background-color: var(--color-base03);
  border: 2px solid var(--color-base02);
  border-radius: 0.5rem;
}
.forum-attachments {
  border: 2px solid var(--color-base03);
  border-radius: 0.5rem;
}
.smsc-topnav [data-notifs] .notification__close:hover .close-icon path {
  stroke: var(--color-red);
}

.smscMainBlockContainer .smscBlockContainer_top {
  width: 99rem;
  margin-left: 1rem;
}

body.modern-ui .homepage__block__content {
  overflow: unset;
}

.red-underline {
  text-decoration: underline;
  color: color-mix(in srgb, var(--color-red) 50%, var(--color-text) 50%);
  text-decoration-color: var(--color-red);
  font-weight: 600;
  text-decoration-line: 2px;
}

.green-underline {
  text-decoration: underline;
  color: color-mix(in srgb, var(--color-green) 50%, var(--color-text) 50%);
  text-decoration-color: var(--color-green);
  font-weight: 600;
  text-decoration-line: 2px;
}

#homeAgenda .datepicker--other-month-day {
  color: var(--color-text);
  opacity: 0.7;
}

.blue-ghost-96 {
  background-image: url(https://static2.smart-school.net/smsc/svg/ghost_lightblue/ghost_lightblue_24x24.svg);
  background-size: 96px 96px;
  min-height: 96px;
  min-width: 96px;
  background-repeat: no-repeat;
  background-position: center;
}

.planner-icon-128 {
  background-image: url(https://static4.smart-school.net/smsc/svg/planner/planner_24x24.svg);
  background-size: 128px 128px;
  min-height: 128px;
  min-width: 128px;
  background-repeat: no-repeat;
  background-position: center;
}
.infoBlock .infoBlock_content .infoBlock_planner,
.infoBlock_lvsitem,
.infoBlock_message,
.infoBlock .infoBlock_content .infoBlock_eval {
  height: 45px;
}
.smscFrameTitle {
  display: none;
}

#pupilPresencesGraphTotalsByWeekday,
#pupilPresencesGraphEvolution,
#pupilPresencesGraphTotalsByCode {
  border-color: var(--color-base03);
}

.widget-content {
  background-color: var(--color-base01);
  color: var(--color-text);
  border: 2px solid var(--color-base02);
  border-radius: 10px;
  padding: 10px;
}

.profile_gadget_line {
  background-color: var(--color-base01);
  color: var(--color-text);
  border: 1px solid var(--color-base03);
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
}

.profileInput {
  color: var(--color-text);
}

.studentPicture {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.rounded_profile_photo {
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.square_photo_64 {
  width: 64px;
  height: 64px;
  object-fit: cover;
  display: block;
}

.square_photo_128 {
  width: 128px;
  height: 128px;
  background-size: cover;
  background-position: center;
  display: block;
}
.pupil_nav_photo,
.profile_header_photo,
.square_photo_128,
.rounded_profile_photo {
  border-radius: 50%;
  background-image: var(--profile-picture);
  image-rendering: smooth;
  background-size: cover;
}

.pupil_nav_photo {
  border-radius: 50%;
}

#tabSpan_2 {
  background-image: none;
}

.smscTopNavMessage.blue {
  background-color: var(--color-base03);
  color: var(--color-text);
  border-width: 0px;
}

.campaign-dialog-content__button-bar {
  background: var(--color-base01);
}

.smsc-topnav [data-courses] .course-list li .favourite-button:hover {
  border: none;
  background-color: var(--color-base02);
}

.smsc-topnav [data-courses] .course-list {
  overflow: scroll;
}

#courseSearch {
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;
}

#courseSearch:focus-visible {
  border-color: var(--color-accent);
}

.modern-ui input[type="search"].input-search:not(.loading):not([loading]) {
  background-image: none;
}

hr {
  border-top: 1px solid var(--color-base03);
}

smsc-rightclick .smsc-rightclick__menu {
  border: 2px solid var(--color-base02);
  border-radius: 1rem;
  background-color: var(--color-base01);
  padding: 0.5rem;
}

smsc-rightclick .smsc-rightclick__link {
  color: var(--color-text);
  font-size: 1.1rem;
}

.live-session .live__quick-nav {
  align-self: flex-end;
}

div#smscMain:has(.live__quick-nav) {
  flex-direction: column;
  justify-content: stretch;
  background: var(--color-base01);
}
.live__quick-nav {
  border-bottom: none;
}
#videoConference {
  width: 100%;
}

.online-session__list-page .listview__hdr {
  margin-bottom: 0.6rem;
  border-bottom: 1px solid var(--color-accent);
}
.online-session__list-page .listview__rows {
  gap: 1rem;
}

.online-session__list-page .listview__row {
  background-color: var(--color-base01);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 2px solid transparent;
  border-radius: 1.5rem;
  padding: 0.6rem 1.5rem;
}

.online-session__list-page .listview__row a {
  background-color: var(--color-base02);
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--color-base03);
  border-radius: 1rem;
}
.enableAnimations .online-session__list-page .listview__row a:hover {
  transition:
    border 0.3s,
    background 0.3s;
}
.online-session__list-page .listview__row a:hover {
  background-color: var(--color-base03);
  border-color: var(--color-accent);
}
#smscMain .online-session__list-page .listview__row:hover {
  background-color: var(--color-base01);
}
.smpp-news-container img {
  width: auto;
  max-height: 500px;
}
