html {
  --show-options: none;
}

.login-app__platform-indicator {
  background-color: transparent !important;
  padding: 20px !important;
  margin: 10px !important;
  height: 100px !important;
  text-align: center !important;
}

.login-app__bottom {
  background-image: none !important;
}

.login-app__school-logo {
  display: none !important;
}

.login-app__title--sign-in-with,
.attachmentList__list .attachment__title__label {
  color: var(--color-text) !important;
}

.login-app__container,
.login-app {
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  flex-grow: 0 !important;
}

.login-app__left > * {
  display: none !important;
}

.login-app__right,
.login-app__top {
  box-shadow: none !important;
  width: 400px;
  height: auto;
}
.glass .login-app__top {
  backdrop-filter: var(--medium-blur) !important;
  background: var(--darken-background) !important;
}
.login-app__top {
  background: var(--color-base01) !important;
  border-radius: 2.5rem !important;
  border: 2px solid var(--color-base02) !important;
}

.login-app__bottom {
  display: none !important;
}

.logintitle {
  font-size: 3rem !important;
  font-weight: 600 !important;
  margin-bottom: 0px !important;
  color: var(--color-accent) !important;
}

.login-app__link,
.login-app__link--password {
  color: var(--color-text) !important;
}

a.smscButton[href^="/login/sso/init"],
.login-app__title--sign-in-with {
  display: var(--show-options) !important;
  border-radius: 10px !important;
  width: 80% !important;
  align-self: center !important;
}

.login-app__form > form {
  margin-bottom: 5px !important;
  display: grid !important;
}

.login-app__title--separator {
  display: grid !important;
  margin-bottom: 0px !important;
}

.showLeftNav:has(.login-app) {
  align-items: center !important;
  justify-content: center !important;
}

#smscMain.showLeftNav {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
}

body form.form .float-label .float-label__input {
  box-shadow: 0px 0px 10px -2px var(--color-shadow) !important;
  background: var(--color-base02) !important;
  border: 2px solid var(--color-base03) !important;
  border-radius: 40px !important;
  height: 40px !important;
  font-size: 1.2rem !important;
  margin: 10px !important;
  margin-left: 0px !important;
}

.glass .login-app .smscButton.blue:not(#pushWizardPopupConfirmButton) {
  border-color: var(--color-base02) !important;
  background-color: var(--color-base01) !important;
}
.glass
  .login-app
  .smscButton.blue:hover:not(#pushWizardPopupConfirmButton:hover) {
  background-color: var(--color-base02) !important;
  border-color: var(--color-base03) !important;
}

.login-app .smscButton.blue:not(#pushWizardPopupConfirmButton) {
  border-radius: 1000px !important;
  width: 90% !important;
  height: 40px !important;
  color: var(--color-text) !important;
  border-color: var(--color-base03) !important;
  background-color: var(--color-base02) !important;
  box-shadow: 0px 0px 10px -2px var(--color-shadow) !important;
  font-weight: 500 !important;
  justify-self: center;
}

.enableAnimations
  .login-app
  .smscButton.blue:not(#pushWizardPopupConfirmButton) {
  transition-property:
    background-color, border-color, box-shadow, width, font-weigt, margin-left,
    scale;
  transition: 0.3s !important;
}

.login-app .smscButton.blue:hover:not(#pushWizardPopupConfirmButton:hover) {
  background-color: var(--color-base03) !important;
  border-color: var(--color-accent) !important;
  box-shadow: 0px 0px 5px 0px var(--color-shadow) !important;

  font-weight: 700 !important;
  margin-left: 0% !important;
  scale: 1.05;
}

.modern-ui .float-label__input:focus + label > span,
.modern-ui .float-label__input:valid + label > span {
  font-size: 18px !important;
  left: 5px !important;
  top: -70px !important;
  color: var(--color-text) !important;
}

.login-app__form {
  color: var(--color-text) !important;
  display: flex !important;
  flex-direction: column !important;
}

.white_text_button {
  color: var(--color-base01) !important;
  background-color: var(--color-base01);
  color: var(--color-text) !important;
  border: 2px solid var(--color-base02) !important;
  box-shadow: 0px 0px 10px -2px var(--color-shadow) !important;
  border-radius: 5px !important;
  margin: 10px !important;
  font-size: 15px !important;
}

.enableAnimations .white_text_button {
  transition: ease-in-out !important;
  transition-duration: 0.1s !important;
}

.white_text_button:hover {
  background-color: var(--color-base02) !important;
  border-color: var(--color-base03) !important;
}

.login-app__infoblock--black {
  color: var(--color-text) !important;
}

.login-app__title--separator:after,
.login-app__title--separator:before {
  display: none !important;
}

span.login-app__title.login-app__title--sign-in-with {
  display: none !important;
}

.splashtextcontainer {
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  transform: translateX(50%) rotate(25deg) !important;
  text-align: center;
  z-index: 99999;
}

.splashtext {
  color: var(--color-splashtext) !important;
  font-size: 2rem !important;
  position: relative !important;
}

.enableAnimations .splashtext {
  animation: scale_up_and_down 0.58s linear infinite;
}

@keyframes scale_up_and_down {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(105%);
  }

  100% {
    transform: scale(100%);
  }
}

#showmore {
  width: 80% !important;
  justify-self: center !important;
  border-radius: 10px !important;
  margin: 0px !important;
}

.login-app__password .form__eye-icon {
  top: 1.55rem !important;
}

#smscMain.showLeftNav:has(.login-app) {
  align-items: center !important;
}

.showLeftNav {
  background-color: transparent !important;
}
