html {
  --show-options: none;
}

.login-app__platform-indicator {
  background-color: transparent;
  padding: 20px;
  margin: 10px;
  height: 100px;
  text-align: center;
}

.login-app__bottom {
  background-image: none;
}

.login-app__school-logo {
  display: none;
}

.login-app__title--sign-in-with,
.attachmentList__list .attachment__title__label {
  color: var(--color-text);
}

.login-app__container,
.login-app {
  position: relative;
  background-position: center;
  background-size: cover;
  flex-grow: 0;
}

.login-app__left > * {
  display: none;
}

.login-app__right,
.login-app__top {
  box-shadow: none;
  width: 400px;
  height: auto;
}
.glass .login-app__top {
  backdrop-filter: var(--medium-blur);
  background: var(--darken-background);
}
.login-app__top {
  background: var(--color-base01);
  border-radius: 2.5rem;
  border: 2px solid var(--color-base02);
}

.login-app__bottom {
  display: none;
}

.logintitle {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0px;
  color: var(--color-accent);
}

.login-app__link,
.login-app__link--password {
  color: var(--color-text);
}

a.smscButton[href^="/login/sso/init"],
.login-app__title--sign-in-with {
  display: var(--show-options);
  border-radius: 10px;
  width: 80%;
  align-self: center;
}

.login-app__form > form {
  margin-bottom: 5px;
  display: grid;
}

.login-app__title--separator {
  display: grid;
  margin-bottom: 0px;
}

.showLeftNav:has(.login-app) {
  align-items: center;
  justify-content: center;
}

#smscMain.showLeftNav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

body form.form .float-label .float-label__input {
  box-shadow: 0px 0px 10px -2px var(--color-shadow);
  background: var(--color-base02);
  border: 2px solid var(--color-base03);
  border-radius: 40px;
  height: 40px;
  font-size: 1.2rem;
  margin: 10px;
  margin-left: 0px;
}

.glass .login-app .smscButton.blue:not(#pushWizardPopupConfirmButton) {
  border-color: var(--color-base02);
  background-color: var(--color-base01);
}
.glass
  .login-app
  .smscButton.blue:hover:not(#pushWizardPopupConfirmButton:hover) {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
}

.login-app .smscButton.blue:not(#pushWizardPopupConfirmButton) {
  border-radius: 9999px;
  width: 90%;
  height: 40px;
  color: var(--color-text);
  border-color: var(--color-base03);
  background-color: var(--color-base02);
  box-shadow: 0px 0px 10px -2px var(--color-shadow);
  font-weight: 450;
  justify-self: center;
}

.enableAnimations
  .login-app
  .smscButton.blue:not(#pushWizardPopupConfirmButton) {
  transition-property:
    background-color, border-color, box-shadow, width, font-weigt, margin-left;
  transition: 0.3s;
}

.login-app .smscButton.blue:hover:not(#pushWizardPopupConfirmButton:hover) {
  background-color: var(--color-base03);
  border-color: var(--color-accent);
  box-shadow: 0px 0px 5px 0px var(--color-shadow);
  width: 100%;
  font-weight: 700;
  margin-left: 0%;
}

.modern-ui .float-label__input:focus + label > span,
.modern-ui .float-label__input:valid + label > span {
  font-size: 18px;
  left: 5px;
  top: -70px;
  color: var(--color-text);
}

.login-app__form {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
}

.white_text_button {
  color: var(--color-base01);
  background-color: var(--color-base01);
  color: var(--color-text);
  border: 2px solid var(--color-base02);
  box-shadow: 0px 0px 10px -2px var(--color-shadow);
  border-radius: 5px;
  margin: 10px;
  font-size: 15px;
}

.enableAnimations .white_text_button {
  transition: ease-in-out;
  transition-duration: 0.1s;
}

.white_text_button:hover {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
}

.login-app__infoblock--black {
  color: var(--color-text);
}

.login-app__title--separator:after,
.login-app__title--separator:before {
  display: none;
}

span.login-app__title.login-app__title--sign-in-with {
  display: none;
}

.splashtextcontainer {
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  transform: translateX(50%) rotate(25deg);
  text-align: center;
  z-index: 99999;
}

.splashtext {
  color: var(--color-splashtext);
  font-size: 2rem;
  position: relative;
}

.enableAnimations .splashtext {
  animation: scale_up_and_down 0.58s linear infinite;
}

@keyframes scale_up_and_down {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(105%);
  }

  100% {
    transform: scale(100%);
  }
}

#showmore {
  width: 80%;
  justify-self: center;
  border-radius: 10px;
  margin: 0px;
}

.login-app__password .form__eye-icon {
  top: 1.55rem;
}

#smscMain.showLeftNav:has(.login-app) {
  align-items: center;
}

.showLeftNav {
  background-color: transparent;
}
