.quickreply__input,
.tox,
.tox-tinymce,
.tox-editor-container,
.tox-edit-area,
.tox-edit-area__iframe,
.tox-toolbar__group,
.tox-toolbar__primary,
.tox-bottom-anchorbar,
.tox-editor-header {
  background-color: var(--color-base01);
  color: var(--color-text);
}

.mce-content-body {
  color: var(--color-text);
}

.tox-icon .tox-tbtn__icon-wrap {
  background-color: var(--color-text);
}
.glass .modern-message {
  background: var(--darken-background);
  backdrop-filter: var(--medium-blur);
}
.modern-message {
  border: 2px solid var(--color-base02);
  border-radius: 1.25rem;
  background: var(--color-base01);
  padding: 6px 10px;
  height: auto;
  line-height: initial;
  color: var(--color-text);
  font-weight: bold;
  text-decoration-color: var(--color-text);
  text-decoration-thickness: 2px;
  width: auto;
  margin: 3px;
  margin-bottom: 6px;
}

#folders_parent_td #folders {
  width: 250px;
  margin-left: 20px;
  padding-left: 10px;
}

.helper--height--mega {
  height: 0.5rem;
}

.bubble.filter-todo-bubble
  div.filter-todo-form
  div.checkbox-group
  label.checkbox
  div.checkbox-todo-label
  span.abbreviation {
  color: var(--color-text);
  opacity: 0.7;
}

.modern-message--new .modern-message__read-status {
  background-color: var(--color-accent);
}
.modern-ui .modern-message__read-status {
  width: 4px;
  border-radius: 1rem;
  margin-right: 5px;
  height: 34px;
  flex-shrink: 0;
}

.enableAnimations .modern-message {
  transition-property: background-color, border-color, text-decoration;
  transition: 0.05s ease-in-out;
}

.quickReplyMenu quickreply-menu {
  border: 1px solid var(--color-accent);
  background-color: var(--color-base01);
}

.quickReplyMenu__arrow {
  display: none;
}

.modern-ui .modern-message--new .modern-message__read-status {
  background-color: var(--color-accent);
}

.postbox_unread {
  color: var(--color-accent);
}

.smsc-title--1 {
  color: var(--color-text);
}

.modern-ui .modern-message__actions {
  background-color: var(--color-base01);
  box-shadow: 0px 2px 5px 0px var(--color-shadow);
  backdrop-filter: var(--small-blur);
  border-radius: 1rem;
  top: 0.25rem;
  right: 0.25rem;
}

button.modern-message__action.modern-message__action--quick-reply:hover,
.modern-message__action--continue-draft:hover,
button.modern-message__action.modern-message__action--archive:hover,
button.modern-message__action.modern-message__action--delete:hover {
  background-color: var(--color-base02);
  border: none;
  border-radius: 0.75rem;
}

.modern-message__action--quick-reply,
.modern-message__action--delete,
.modern-message__action--continue-draft,
.modern-message__action--archive,
.listview__action-btn {
  background-color: transparent;
  border: none;
}

quick-reply {
  height: 24px;
}

.postbox_line {
  border-color: var(--color-text);
}

.toolbar,
.msgContent,
#msgcell {
  background-color: transparent;
}

.toolbar__line {
  background: var(--color-base03);
  width: var(--border-size);
}

.smscarrow {
  display: none;
}

.searchInputField,
#tomain,
.compose_title,
.tox-menubar,
.tox-mbtn__select-label,
.tox-tbtn__select-label,
.searchDivHighlight,
.row_info_1 {
  color: var(--color-text);
}

.searchDivResult .userSearchDivFull .user_row .user_row_info .row_info_2 {
  color: var(--color-text);
  opacity: 0.5;
}

.searchInputField {
  background-color: var(--color-base01);
}

#smscTopContainer {
  z-index: auto;
  top: 0;
}

intradesk-app#smscMain {
  flex-direction: row;
}

body.modern-ui .homepage__block {
  padding: 5px;
}

#smscMain {
  height: 100%;
  max-height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#smscMain:has(.studentInfo) {
  flex-direction: column;
}

#smscMain:has(.surveys) {
  align-items: flex-start;
}

.smsc-container.smsc-container--main.overview-page__content {
  width: 100%;
}

.smscBlockContainer_mainContentBlock {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  /* Ensures no extra space at the edges */
}

.smscBlockContainer_left {
  position: relative;
  flex-grow: 0.5;
  height: 100%;
  margin-left: 0px;
}

.smscBlockContainer_right {
  position: relative;
  flex-grow: 0.5;
  height: 100%;
  margin-right: 0px;
  width: initial;
}

#smscMain > * {
  overflow: visible;
}

.smscleftnavcontainer,
.composeUsers {
  background-color: var(--color-base01);
}

.composeUsers {
  padding-top: 4px;
}

.smsc-column-nav__button:hover {
  border-color: var(--color-base02);
  background-color: var(--color-base02);
}

.message-search__input,
.smsc-select.disabled {
  background-color: var(--color-base02);
  color: var(--color-text);
  box-shadow: none;
}

.context-menu {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  color: var(--color-text);
  box-shadow: 0px 3px 13px 7px var(--color-shadow);
  border-radius: 1.25rem;
}

.modern-ui .msgHeader {
  border-color: var(--color-base03);
  border-width: 1px;
  padding-bottom: 0.25rem;
  margin-bottom: 3rem;
}

/* Risky business */
p:not(:last-of-type) {
  margin-bottom: 0;
}
p:not(:first-of-type) {
  margin-top: 1rem;
}

.modern-ui .smscButton.red:hover:not([disabled]) {
  background-color: var(--color-base03);
}

.modern-ui .smscButton.red {
  color: var(--color-red);
}

.modern-ui .context-menu {
  padding: 0.5rem;
}

.modern-ui .context-menu .menu-item {
  background-position-x: 0.5rem;
  background-position-y: 0.37rem;
  border-radius: 0.75rem;
}

.modern-ui .context-menu .menu-item:not(:last-child) {
  margin-bottom: 0.3rem;
}

.modern-ui .context-menu .menu-item:hover {
  background-color: var(--color-base02);
  border-color: transparent;
}

.modern-ui .context-menu .menu-spacer {
  border-color: var(--color-base03);
}

.menu-item {
  border: 1px solid var(--color-base01);
  color: var(--color-text);
}

.menu-type {
  border: 1px solid var(--color-base01);
  color: var(--color-text);
}

.attachment {
  background-color: var(--color-base02);
  border: 2px solid transparent;
  color: var(--color-text);
  border-radius: 0.75rem;
}

.menu-item:hover,
.menu-type:hover,
.attachment:hover {
  color: var(--color-accent);
  border-color: var(--color-base03);
  box-shadow: none;
}

.attachmentList__list .attachment__title:hover,
.action__label:hover {
  text-decoration: underline;
}

.ui-widget-content {
  color: var(--color-text);
}

.toolbar__line:before,
.toolbar__line:after {
  background: var(--color-base03);
  height: var(--border-size);
}
.glass .messageframe {
  backdrop-filter: none;
}
.messageframe {
  border: 2px solid var(--color-base02);
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
  padding: 5px 5px 0px 5px;
}

.max-width--inherit {
  margin-left: 0px;
  margin-right: 0px;
}

.modern-ui .msgcell__parent-td {
  width: 428px;
}

.messageframe:has(#msgdetail) {
  background-color: var(--color-base01);
  padding: 0.75rem;
}

table.messages {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}

.quickReplyMenu {
  color: var(--color-accent);
}

.toolbar,
.toolbarright {
  background-color: transparent;
}

.msgcell__parent-td,
#msgcell,
.smscMain,
.tooltip__content {
  background-color: transparent;
}

.msgContent,
.msgContentVal,
.ui-button,
.smscTimeInput,
.smscTimeOptions {
  background-color: var(--color-base01);
}

.smscTimeOption:hover {
  background-color: var(--color-base02);
}

img[src="/modules/Messages/themes/default/images/loading_big.gif"] {
  display: none;
}

.drag-container {
  border: 2px solid var(--color-accent);
}

.smsc-container__title {
  color: var(--color-accent);
}

.smsc-table__row:hover,
.smsc-table__header {
  background-color: var(--color-base01);
  border-color: var(--color-base03);
}

.smsc-table__row {
  border: 2px solid var(--color-base02);
  border-radius: 5px;
}

.smsc-tabslist {
  border-bottom: 2px solid var(--color-base03);
}

button.submit-button.smscButton.blue {
  text-shadow: none;
  border-radius: 1000px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--color-text);
  border-color: var(--color-accent);
  margin-top: 0px;
  background-color: var(--color-base02);
  box-shadow: none;
}

.smscButton:disabled {
  cursor: not-allowed;
}

.cancel-button.smscButton {
  padding: 0.5rem 1rem;
  font-weight: 600;
}
button.submit-button.smscButton.blue:hover:not(:disabled),
.wide-colored-btn:hover {
  box-shadow: none;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--color-base03);
  border-color: var(--color-accent);
}

.tox :not(svg):not(rect),
.tox .tox-collection__item-checkmark svg,
.tox .tox-collection__item-icon svg {
  fill: var(--color-accent);
}

.tox .tox-edit-area__iframe {
  background-color: var(--color-base03);
  color: var(--color-text);
}

.tox:not([dir="rtl"]) .tox-toolbar__group:not(:last-of-type) {
  border-right: 1px solid var(--color-base03);
}

.tox .tox-menubar + .tox-toolbar {
  border-top: 1px solid var(--color-base02);
}

.tox .tox-menu {
  border: 2px solid var(--color-base02);
  border-radius: 1rem;
}

.tox .tox-menubar {
  background: none;
}

#tinymce p {
  padding-left: 0.5rem;
}

.tox .tox-menubar,
.tox-anchorbar,
.tox .tox-menu {
  background-color: var(--color-base01);
}

span.tox-mbtn__select-label,
span.tox-tbtn__select-label,
.tox-collection__item-label {
  color: var(--color-text);
}

.tox .tox-tbtn:hover:not(.tox-tbtn--disabled) {
  background-color: var(--color-base02);
}

.tox-editor-header .tox-toolbar,
.tox-toolbar {
  background-color: var(--color-base01);
}

.tox .tox-statusbar {
  background-color: var(--color-base01);
  border-top: 0px;
}

.tox .tox-mbtn--active,
.button.tox-mbtn.tox-mbtn--select:hover,
.tox .tox-mbtn:hover {
  background-color: var(--color-base02);
}

.tox .tox-collection--list .tox-collection__item--active,
.tox-collection__item--enabled {
  background-color: var(--color-base02);
}

div.tox-toolbar[role="group"][aria-disabled="false"] {
  background: none;
}

.tox-mbtn:hover,
.tox-btn:hover {
  cursor: pointer;
}

body#tinymce {
  color: var(--color-text);
  background: var(--color-base00);
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
  border: 1px solid var(--color-base03);
  border-radius: 5px;
}

.ui-widget-header {
  border-color: transparent;
  margin: 5px;
}

td.msg_topleft,
td.msg_topright,
td.msg_bottomleft,
td.msg_bottomright,
td.msg_top,
td.msg_bottom {
  display: none;
}

.searchDivResult.selected {
  background-color: var(--color-base02);
}

.searchDivResult:not(:last-child) {
  border-bottom: 1px solid var(--color-base02);
}
.searchDivResult {
  border-radius: 100rem;
}

.composeUsers,
.searchDivContent,
.compose_subject {
  background-color: var(--color-base01);
  color: var(--color-text);
  border-radius: 1rem;
  border: 2px solid var(--color-base02);
  width: 40rem;
  margin-right: 0;
  min-height: 3rem;
  padding-top: 1px;
}

#subjectInput.subjectInput {
  background-color: transparent;
  border: none;
}

.compose_title {
  width: 100px;
}

.accswitch--top {
  position: absolute;
  left: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.searchDivContent {
  margin: -16px 0 0 -3px;
  padding-top: 1rem;
  border-top: 0px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0px 35px 50px 0px var(--color-shadow);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

td#msg_bg,
td.msg_left,
td.msg_right {
  background-color: transparent;
  background-image: none;
}

.tox-collection__item-accessory {
  color: var(--color-text);
  opacity: 0.6;
}

.tox-collection__group:first-of-type {
  padding-top: 0px;
}
.tox-collection__group:last-of-type {
  padding-bottom: 0px;
}

.tox .tox-collection--list .tox-collection__group {
  border-color: var(--color-base03);
}

.tox.tox-tinymce {
  border: 2px solid var(--color-base01);
  border-radius: 10px;
}

.modern-ui input[type="text"]:not(.smsc-inlineeditor__input) {
  background-color: var(--color-base01);
}

button.accswitchco.mbselected,
button.accswitchmain.mbselected {
  background: none;
  background-color: var(--color-base02);
  border: 2px solid var(--color-base03);
  border-radius: 0.75rem;
  padding: 0px;
  height: 25px;
  line-height: normal;
  color: var(--color-text);
}

button.accswitchco.mbnotselected,
button.accswitchmain.mbnotselected {
  background: none;
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  border-radius: 0.75rem;
  padding: 0px;
  height: 25px;
  line-height: normal;
  color: var(--color-text);
}

.tox .tox-dialog-wrap__backdrop {
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
}

td#tabmaina {
  border: 2px solid var(--color-base02);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-base01);
}

.uscMain .uscRow#uscContent #uscUsersContainer .uscColumnUsers {
  border: 2px solid var(--color-base02);
  border-radius: 10px;
  background-color: var(--color-base01);
}
.uscColumnTop {
  background-color: var(--color-base03);
}

.uscMain .usersContainerBlock:hover {
  background-color: var(--color-base03);
}
.uscMain .usersContainerBlock,
.uscMain .uscSgrTitle {
  border: none;
}

div#searchDiv {
  background-color: var(--color-base01);
}
.searchDiv__title,
.uscColumnTopTitle {
  color: var(--color-text);
}
input#searchField {
  background-color: var(--color-base02);
  color: var(--color-text);
}

.attachtab {
  border: none;
}

.smsc-dropzone {
  border-color: var(--color-text);
}

div#submitbtn {
  background: transparent;
}

#smscMainBlockContainer,
.content_container,
.navigation_container {
  box-shadow: none;
  border: 2px solid var(--color-base02);
  border-radius: 10px;
}

#smscMainBlockContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 20px;
  min-height: auto;
}

.smscSettings {
  border: none;
  text-align: center;
}

.pupilInfo_popup,
.lvs_item {
  border: 2px solid var(--color-base02);
  border-radius: 10px;
  background-color: var(--color-base01);
}

.pupilInfo_popup .pip_top,
.tabContent {
  border: none;
}

.treenav_info,
.infoBlock {
  border-color: var(--color-base02);
}

.toolbar {
  border-color: var(--color-base02);
  box-shadow: none;
}

.infoBlock
  .infoBlock_content
  .infoBlock_presence
  .infoBlock_presenceContent
  .infoBlock_presenceMotivation {
  color: var(--color-text);
}

.lvs_item_top,
.itemSchoolyear {
  border: none;
  border-radius: 5px;
}

.lvs_item {
  margin-bottom: 10px;
}

.contentFrametitle {
  border: 1px solid var(--color-base03);
  border-radius: 5px;
}

input {
  border: none;
}

.newsTitle {
  border-color: var(--color-base02);
  margin-top: 10px;
  padding-top: 4px;
}

.newsTitle.over {
  color: var(--color-accent);
  text-decoration: underline;
}

body.modern-ui #smscMain.smscMain--main {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

body.modern-ui #smscMain .smsc-container__content {
  padding-left: 0px;
  padding-right: 0px;
}

upload-app.smsc-container.smsc-container--flex {
  padding-left: 24px;
  padding-right: 24px;
}

.smsc-table__empty.drag-container,
smsc-tabs .smsc-tabslist__item,
.smsc-table__row.smsc-table__row--nohover.smsc-table__row--noborder {
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
}

.smsc-table__row.smsc-table__row--nohover.smsc-table__row--noborder:hover,
smsc-tabs .smsc-tabslist__item:hover {
  background-color: var(--color-base01);
}

smsc-tabs .smsc-tabslist__item {
  margin-right: 10px;
  border: 2px solid var(--color-base03);
}

.compose-options {
  padding-top: 12px;
}

.organisers-participants-view__send-message-btn.icon-btn.icon-btn--16 {
  border: 2px solid var(--color-base03);
}

.organisers-participants-view__send-message-btn.icon-btn.icon-btn--16:hover {
  border-color: var(--color-accent);
}

span.planner-list-wrapper__add-btn__text:hover {
  color: var(--color-accent);
}

.enableAnimations span.planner-list-wrapper__add-btn__text {
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.modern-ui .toolbar::before,
.modern-ui .toolbar::after {
  background: linear-gradient(var(--color-base02), var(--color-base02)) repeat-y;
  border-color: var(--color-base02);
  background-size: 2px 2px;
  background-position: center;
  width: 7px;
  border-width: 2px;
}

.modern-message__name {
  font-weight: 700;
}

.modern-message--selected .modern-message__name {
  font-weight: 800;
  color: var(--color-accent);
}

.modern-message--selected {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
  font-weight: 500;
}

.modern-message__subject,
.modern-message__date {
  font-weight: 500;
}

.smsc-contextmenu.position-bottom .smsc-contextmenu-arrow:after,
.smsc-contextmenu.position-bottom .smsc-contextmenu-arrow:before {
  display: none;
}

a.menu-type.menu-linkbutton.smsc-linkbutton.smsc-svg--planner--24 {
  padding-left: 30px;
  width: 100%;
}

a.menu-type.menu-linkbutton.smsc-linkbutton {
  padding: 0.5rem 0.25rem 0.5rem 2.5rem;
  background-position-x: 0.5rem;
  border-radius: 0.75rem;
  padding-left: 2.5rem;
  border: none;
  margin-bottom: 0;
}

.menu-linkbutton.smsc-linkbutton:hover {
  background-color: var(--color-base02);
  text-decoration: none;
}
.menu-linkbutton.smsc-linkbutton:focus {
  text-decoration: none;
}

.enableAnimations .ui-widget-overlay {
  transition-duration: 0.5s;
}

.ui-widget-overlay {
  animation: reset-confirmation-background 0s ease-out 0ms 1 forwards;
  background: none;
}

.enableAnimations button {
  transition: scale 0.2s ease-in-out;
}

button:active {
  scale: 0.97;
}

.smsc-contextmenu .smsc-contextmenu-bubble {
  border-radius: 1.5rem;
  padding: 0.75rem;
}

.topnav__btn.topnav__btn--profile {
  color: var(--color-text);
}

.msgContent p {
  background-color: var(--color-base01);
}

.blob-group {
  gap: 0.5rem;
}

.blob-group__blob.blob {
  background-color: var(--color-base01);
  border-radius: 1000px;
  margin: 0;
}

.js-send-delayed-button.btn.send-delayed-button {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  border: none;
}

.blob-counters__container {
  width: 800px;
}

.js-btn.btn.js-split-button-button:has(.send-delayed-button__send) {
  border-radius: 1rem;
  border-color: var(--color-accent);
  background-color: var(--color-base02);
  height: 3rem;
  width: 6rem;
  justify-content: center;
}

button.split-button__dropdown.js-split-button-dropdown.btn.btn--dropdown.js-btn.btn--primary {
  aspect-ratio: 1;
  width: 3rem;
  border-color: var(--color-base02);
  background-color: var(--color-base01);
  position: relative;
}

button.split-button__dropdown.js-split-button-dropdown.btn.btn--dropdown.js-btn.btn--primary:hover {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
}

.js-btn.btn.js-split-button-button:has(.send-delayed-button__send):hover {
  background-color: var(--color-base03);
}

.moveToPostbox__tree {
  border-bottom: 1px solid var(--color-base02);
}

button.split-button__dropdown.js-split-button-dropdown.btn.btn--dropdown.js-btn.btn--primary::after {
  background-position-x: center;
  width: 100%;
  right: 0;
}

.send-delayed-button__send {
  font-size: 1.3rem;
  color: var(--color-text);
  background-color: transparent;
}

.js-split-button-dropdown {
  border-radius: 1rem;
}
