.smsc-topnav .topnav__badge {
  background-color: var(--color-text);
  color: var(--color-base02);
  border: 2px solid var(--color-base03);
  max-height: 18.6px;
}

.topnav__menu-arrow {
  display: none;
}

.topnav__menu--search {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.topnav {
  border-bottom: none;
  min-height: fit-content;
  padding: 0.5rem;
  top: 0;
  background: var(--color-base00);
  height: auto;
  gap: 0.5rem;
}

.smsc-topnav .topnav__menu {
  overflow: hidden;
}

.smsc-topnav .topnav__menu__title {
  color: var(--color-text);
}

.topnav__btn,
.token,
.titleRight {
  border: 2px solid var(--color-base02);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10000px;
  background: var(--color-base01);
  padding: 0.15rem 0.75rem;
  height: 2.5rem;
  line-height: initial;
  color: var(--color-text);
  font-weight: bold;
  text-decoration-color: var(--color-text);
  text-decoration-thickness: 2px;
  width: auto;
  transition: none;
}

.topnav__btn:has(svg) {
  padding: 0rem 0.85rem;
}

input::placeholder {
  opacity: 0.7;
  color: var(--color-text);
}

.topnav__menu.topnav__menu--courses {
  max-height: 50rem;
}

#topnavCoursesTitle {
  font-size: 1.6rem;
  font-weight: 600;
}

.topnav__btn:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: var(--color-base02);
  border-color: var(--color-base03);
}

.topnav__btn:active {
  scale: 0.95;
}

.switches-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.wallpaper-quick-settings-container {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* make children take full width */
  width: fit-content; /* shrink to content size */
  max-width: 100%; /* avoid overflowing parent */
}

.topnav__btn--icon--search > svg {
  width: 20px;
}

.performanceModeTooltipLabel:active {
  scale: 0.95;
}

.performanceModeTooltipLabel {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 2px;
  background-color: var(--color-base01);
  border: 2px solid transparent;
  border-radius: 999px;
  fill: var(--color-text);
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
}

.enableAnimations .performanceModeTooltipLabel {
  transition-property: border-color, opacity, height, width, scale;
  transition: 0.2s ease-in-out;
}

.performanceModeTooltipLabel input {
  opacity: 0;
  height: 0px;
  width: 0px;
}

#performance-mode-toggle:checked + svg {
  fill: var(--color-accent);
}

.performanceModeTooltipLabel:hover {
  border-color: var(--color-base03);
  background-color: var(--color-base02);
}

.enableAnimations .topnav__btn,
.enableAnimations .token,
.enableAnimations .titleRight {
  transition-duration: 0.1s;
  transition:
    background-color 0.2s,
    border-color 0.3s,
    text-decoration 0.1s,
    width 0.2s,
    scale 0.2s;
}

.smsc-topnav .topnav__menu,
.smsctooltip {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base03);
  text-decoration: none;
  border-radius: 2rem;
  color: var(--color-text);
  align-items: center;
  transition: none;
  overflow-y: hidden;
  box-shadow: 0 0.333rem 1.333rem var(--color-shadow);
}

.glass .smsc-topnav .topnav__menu,
.glass .smsctooltip {
  background-color: var(--darken-background);
  backdrop-filter: var(--small-blur);
}

.glass .topnav__menu-wrapper {
  backdrop-filter: var(--medium-blur);
}

.topnav__menu-wrapper {
  padding: 0;
  border-radius: 2rem;
}

.bubble {
  overflow-y: auto;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--color-base01);
  border-color: var(--color-base02);
  text-decoration: none;
}

.class:not(.profile_header_pupilinfo_item) {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base03);

  border-radius: 2rem;
  color: var(--color-text);
  align-items: center;
  transition: none;
  overflow-y: hidden;
}

.smsctooltip {
  line-height: 25px;
  overflow: hidden;
}

.todo-column__header__filter {
  height: 30px;
}

.menu-divider::before {
  background-color: var(--color-accent);
  height: var(--border-size);
}

.topnav-scope button.medium-button.medium-button:hover,
.smscButton:hover,
.topnav__menuitem:hover {
  border-color: var(--color-base03);
  background-color: var(--color-base02);
  font-weight: 600;
}

.btn.btn--primary {
  border-color: var(--color-accent);
  background-color: var(--color-base02);
}

.btn.btn--primary:hover {
  border-color: var(--color-accent);
  background-color: var(--color-base03);
}

.campaign-dialog {
  box-shadow: 0 1rem 2.667rem 2px var(--color-shadow);
}

.campaign-close-button {
  background: var(--color-base01);
}

.campaign-close-button > svg {
  fill: var(--color-text);
}

.campaign-close-button:hover > svg {
  fill: var(--color-red);
}

.topnav__menuitem {
  border: var(--border-size) solid transparent;
  border-radius: 10px;
  background-color: transparent;
  margin-right: 0px;
  color: var(--color-text);
}

.enableAnimations .topnav__menuitem {
  transition:
    font-size 0.3s,
    background-position-x 0.3s,
    border-radius 0.3s;
}

.topnav__menu--shortcuts > .topnav__menuitem {
  margin-right: 7px;
}

li {
  background: transparent;
}

.tree-classic li.open.root {
  background: none;
  padding: 0px;
}

.pupil_nav_pupilinfo {
  text-align: center;
}

.pupil_nav_info .pupil_nav_info_pupilData .pupil_nav_pupilinfo .pupil_nav_pupilinfo_item.teachers {
  max-width: none;
}

#lvs_toolbar {
  background-color: var(--color-base01);
}

.tree-classic li.open {
  background: url(/includes/jQuery/plugins/jsTree/themes/classic/icons.png) -32px -48px no-repeat;
}

.tree-classic li.closed {
  background: url(/includes/jQuery/plugins/jsTree/themes/classic/icons.png) -48px -32px no-repeat;
}

.tree-classic li {
  background-image: none;
}

.tree li li {
  overflow: visible;
}

.tree-classic li:hover,
.tree-classic li.open:hover {
  cursor: pointer;
}

.course-list {
  background: none;
  color: var(--color-base02);
}

.smsc-column-nav__item a.smsc-column-nav__button {
  font-weight: 500;
  color: var(--color-text);
}

.smsc-column-nav__item:hover a.smsc-column-nav__button:hover {
  font-weight: 600;
  color: var(--color-accent);
}

.smsc_cm_breadcrumb {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: -20px;
}

.treecollapse {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-image: none;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  border: 2px solid var(--color-base02);
  background-color: var(--color-base01);
}

.enableAnimations .treecollapse {
  transition-property: border-color, background-color, color;
  transition: 0.1s ease-in-out;
}

.treecollapse a,
.treecollapse:hover a:hover {
  color: var(--color-text);
}

.treecollapse:hover {
  background-color: var(--color-base02);
  border-color: var(--color-accent);
}

#navigation {
  border-radius: 15px;
}

#navigation table,
#navigation td {
  overflow: hidden;
  background-color: transparent;
}

table {
  background-color: transparent;
}

td[background*="static6"],
td[background*="images"] {
  display: none;
}

td[bgcolor*="#"] {
  background-color: transparent;
}

.smsc_cm_body {
  position: relative;
  top: 0px;
  margin-top: 37px;
  height: 100%;

  border: 2px solid var(--color-base02);
  border-radius: 1.5rem;
  padding: 1rem;
}

.margin-top--milli {
  margin-top: 0px;
}

.js-course-session-page__container {
  margin: 0px;
  margin-right: 10px;
  position: relative;
  top: 20px;
  border: 2px solid var(--color-base02);
  border-radius: 15px;
}

.smscleftnav {
  margin-top: 20px;
  position: relative;
  top: 0px;
}

.breadcrumb_url {
  float: none;
  margin-top: 17px;
  width: fit-content;
}

.breadcrumb_spacer {
  float: none;
  width: 10px;
  margin: 17px 5px 0px 5px;
}

.smsc-topnav [data-shortcuts] .topnav__menu--shortcuts hr.menu-divider {
  border-top: none;
}

.smsc-topnav [data-shortcuts] .topnav__menu--shortcuts .pin-button {
  right: 0;
}

.smsc-topnav [data-shortcuts] .topnav__menu--shortcuts .pin-button:focus,
.smsc-topnav [data-shortcuts] .topnav__menu--shortcuts .pin-button:hover {
  border: 2px solid var(--color-base03);
  background-color: var(--color-base02);
  border-radius: 0.5rem;
}

.modern-ui .smsc-topnav .topnav .favourites-container,
.smsc-topnav .topnav .favourites-container {
  gap: 0.5rem;
}
