.notifs__hdr {
  color: var(--color-text);
  border-bottom: 1px solid var(--color-base02);
}

.notification__title {
  color: var(--color-text);
}

.smsc-topnav [data-notifs] .notifs__hdr [role="switch"] {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  border-radius: 1rem;
}

.smsc-topnav [data-notifs] .notifs__hdr [role="switch"] .switch-values:after {
  background-color: var(--color-base03);
}

.smsc-topnav [data-notifs] .notifs__hdr button:focus:not(.focus-ring) {
  box-shadow: none;
}

.notification__btn--unread .notification__title {
  color: var(--color-accent);
  font-weight: 800;
}

.notification__content {
  color: var(--color-text);
}

.glass .notification {
  background: var(--darken-background);
  backdrop-filter: var(--small-blur);
}

.notification {
  border: 2px solid var(--color-base02);
  border-radius: 15px;
  background: var(--color-base01);
  padding: 2px 10px 2px 10px;
  height: auto;
  line-height: initial;
  color: var(--color-accent);
  font-weight: bold;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 2px;
  width: auto;
  margin: 3px;
}

.div {
  color: var(--color-text);
}

.glass .notification:hover,
.glass .modern-message:hover {
  background-color: var(--color-base01);
}

.notification:hover,
.modern-message:hover {
  background-color: var(--color-base02);
  border: var(--border-size) solid var(--color-accent);
  text-decoration: none;
}

a.js-toast-btn.toast__btn.smscButton.blue {
  border: 2px solid var(--color-base02);
  border-radius: 50px;
  background: var(--color-base01);
  padding: 2px 10px 2px 10px;
  height: auto;
  line-height: initial;
  color: var(--color-accent);
  font-weight: bold;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 2px;
  width: auto;
  box-shadow: none;
}

li.notifs-toaster__toast.modern-ui {
  background-color: var(--color-base01);
  border-radius: 10px;
  border-color: var(--color-accent);
}

button.js-notifs-clearbtn.smscButton.smscButton--fit-text {
  color: var(--color-red);
}

button.js-notifs-clearbtn.smscButton.smscButton--fit-text:hover {
  border-color: var(--color-red);
}

button.tox-tbtn.tox-tbtn--enabled {
  background-color: var(--color-base03);
  border: 1px solid var(--color-accent);
}

.js-notifs-list::after {
  color: var(--color-text);
  opacity: 0.7;
}

.notification__info {
  font-weight: 400;
  text-decoration: none;
}

.smsc-topnav [data-notifs] .notification__btn {
  padding: 1rem;
}

.smsc-topnav [data-notifs] .notifs__hdr [role="switch"] .switch-values span {
  color: var(--color-accent);
}

.smsc-topnav [data-notifs] .notifs__hdr [role="switch"][aria-checked="false"] :last-child,
.smsc-topnav [data-notifs] .notifs__hdr [role="switch"][aria-checked="true"] :first-child {
  color: var(--color-text);
}

.notifs__content {
  width: 100%;
  padding: 5px;
}

ul.js-notifs-list.notifs__list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.smsc-topnav .topnav__badge {
  top: 0;
  margin-left: 2px;
}
