.notifs__hdr {
  color: var(--color-text) !important;
  border-bottom: 1px solid var(--color-base02) !important;
}

.notification__title {
  color: var(--color-text) !important;
}

.smsc-topnav [data-notifs] .notifs__hdr [role="switch"] {
  background-color: var(--color-base01) !important;
  border: 2px solid var(--color-base02) !important;
  border-radius: 1rem !important;
}

.smsc-topnav [data-notifs] .notifs__hdr [role="switch"] .switch-values:after {
  background-color: var(--color-base03) !important;
}

.smsc-topnav [data-notifs] .notifs__hdr button:focus:not(.focus-ring) {
  box-shadow: none !important;
}

.notification__btn--unread .notification__title {
  color: var(--color-accent) !important;
  font-weight: 800 !important;
}

.notification__content {
  color: var(--color-text) !important;
}

.glass .notification {
  background: var(--darken-background) !important;
  backdrop-filter: var(--small-blur);
}

.notification {
  border: 2px solid var(--color-base02) !important;
  border-radius: 15px !important;
  background: var(--color-base01) !important;
  padding: 2px 10px 2px 10px !important;
  height: auto !important;
  line-height: initial !important;
  color: var(--color-accent) !important;
  font-weight: bold !important;
  text-decoration-color: var(--color-accent) !important;
  text-decoration-thickness: 2px !important;
  width: auto !important;
  margin: 3px !important;
}

.div {
  color: var(--color-text) !important;
}

.glass .notification:hover,
.glass .modern-message:hover {
  background-color: var(--color-base01) !important;
}

.notification:hover,
.modern-message:hover {
  background-color: var(--color-base02) !important;
  border: var(--border-size) solid var(--color-accent) !important;
  text-decoration: none !important;
}

a.js-toast-btn.toast__btn.smscButton.blue {
  border: 2px solid var(--color-base02) !important;
  border-radius: 50px !important;
  background: var(--color-base01) !important;
  padding: 2px 10px 2px 10px !important;
  height: auto !important;
  line-height: initial !important;
  color: var(--color-accent) !important;
  font-weight: bold !important;
  text-decoration-color: var(--color-accent) !important;
  text-decoration-thickness: 2px !important;
  width: auto !important;
  box-shadow: none !important;
}

li.notifs-toaster__toast.modern-ui {
  background-color: var(--color-base01) !important;
  border-radius: 10px !important;
  border-color: var(--color-accent) !important;
}

button.js-notifs-clearbtn.smscButton.smscButton--fit-text {
  color: var(--color-red) !important;
}

button.js-notifs-clearbtn.smscButton.smscButton--fit-text:hover {
  border-color: var(--color-red) !important;
}

button.tox-tbtn.tox-tbtn--enabled {
  background-color: var(--color-base03) !important;
  border: 1px solid var(--color-accent) !important;
}

.js-notifs-list::after {
  color: var(--color-text) !important;
  opacity: 0.7 !important;
}

.notification__info {
  font-weight: 400 !important;
  text-decoration: none !important;
}

.smsc-topnav [data-notifs] .notification__btn {
  padding: 1rem !important;
}

.smsc-topnav [data-notifs] .notifs__hdr [role="switch"] .switch-values span {
  color: var(--color-accent) !important;
}

.smsc-topnav
  [data-notifs]
  .notifs__hdr
  [role="switch"][aria-checked="false"]
  :last-child,
.smsc-topnav
  [data-notifs]
  .notifs__hdr
  [role="switch"][aria-checked="true"]
  :first-child {
  color: var(--color-text) !important;
}

.notifs__content {
  width: 100% !important;
  padding: 5px !important;
}

ul.js-notifs-list.notifs__list {
  display: flex !important;
  flex-direction: column !important;
  gap: 3px !important;
}
