#homeAgenda .datepicker__cell.datepicker--current-day .datepicker__cell__content {
  border: 2px solid var(--color-accent);
  z-index: 10;
}

#homeAgenda .datepicker__cell__content:not(.datepicker--bold):hover {
  background-color: var(--color-base02);
}

#homeAgenda .datepicker__cell__content {
  aspect-ratio: 1;
}

input#googleQuery {
  background-color: var(--color-base02);
  border-radius: 10px;
  margin-right: 10px;
}

.date-header-assignments {
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid var(--color-base02);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

h2.assignments-title {
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

.date-header-assignments::first-letter {
  text-transform: capitalize;
}

.task-description {
  width: fit-content;
  font-weight: 400;
  padding-left: 0.3rem;
  display: block;
}
