body {
  background-color: var(--base-00);
  color: var(--color-text);
}

#homepage__block--google {
  border-bottom: none;
}

.enableAnimations #homepage__block--google {
  transition: none;
}

.homepage {
  display: block;
  height: 100%;
}

body.modern-ui .homepage__center {
  min-width: 0px;
}

#leftcontainer,
.homepage__left {
  padding: 16px 24px;
}

.toast__content {
  background-color: var(--color-base01);
}

.modern-ui .float-label__input + label > span {
  top: -67px;
}
