.glass .lijnCard {
  background: var(--darken-background);
  backdrop-filter: var(--medium-blur);
}

.lijnCard {
  background-color: var(--color-base01);
  border: 3px solid var(--color-base03);
  align-self: center;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.enableAnimations .lijnCard {
  animation: delijnCardAppear 0.3s ease-in-out 0ms 1;
}

@keyframes delijnCardAppear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  50% {
    transform: translateY(10%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

.halteTitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}

.halteLijnen {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.lijnNumber {
  border: 3px solid var(--color-base02);
  font-weight: 700;
  width: 55px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  padding: 4px;
}

.lijnCard.lijnCardCancelled .lijnCardBottom .timeUntilDeparture {
  color: var(--color-red);
}

.lijnCard.lijnCardNoData .arrivalTimeDeviation {
  color: var(--color-red);
}

.lijnCard.lijnCardCancelled .lijnCardBottom .time,
.lijnCard.lijnCardCancelled .lijnCardTop .lijnDestination {
  text-decoration: line-through;
  text-decoration-color: var(--color-red);
  text-decoration-thickness: 3px;
}

.lijnNumber.halteLijnNumber {
  font-size: 12px;
  width: 35px;
  border-radius: 7.5px;
  border-width: 2px;
}

.enableAnimations .lijnCardHalte {
  transition-property: background-color, transform, scale;
  transition: 0.2s ease-in-out;
}

.enableAnimations .lijnCardHalte:hover {
  transform: scale(1.05);
}

.halteDirections {
  opacity: 0.9;
  font-size: 14px;
  margin-bottom: 8px;
}

.lijnCardHalte:hover {
  background-color: var(--color-base02);
  cursor: pointer;
}

.lijnDestination {
  margin-bottom: 0px;
  font-size: 17px;
  vertical-align: middle;
  align-self: center;
  margin-left: auto;
  font-weight: 700;
  text-align: right;
}

.lijnDestination.lijnDestinationLong {
  font-size: 15.5px;
}

.lijnCardBottom {
  display: flex;
  flex-direction: row;
}

.time {
  font-size: 20px;
}

.arrivalTimeDeviation {
  font-size: 14px;
  color: var(--color-accent);
  text-align: right;
  margin-bottom: 5px;
  font-weight: 450;
  height: 19px;
}

.lijnCardTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 40px;
}

.timeUntilDeparture {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-accent);
  text-align: right;
  flex-grow: 1;
}

.glass .delijnSearchButton {
  background: var(--darken-background);
  backdrop-filter: var(--small-blur);
}
.glass .delijnSearchButton:hover {
  background: var(--darken-background);
}

.delijnSearchButton {
  height: 40px;
  width: 40px;
  background: var(--color-base01);
  border-radius: 10px;
  border: 2px solid var(--color-base03);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

.delijnSearchButton:hover {
  background-color: var(--color-base02);
  border-color: var(--color-accent);
}

.enableAnimations .delijnSearchButton {
  transition-property: background-color, border-color, transform, animation, origin;
  transition: 0.2s ease-in-out;
}

.enableAnimations .delijnSearchButton:hover > .delijnSearchIcon {
  transform-origin: bottom bottom;
  animation: searchIconJiggle 0.5s ease-in-out 0ms 1;
}

@keyframes searchIconJiggle {
  33% {
    rotate: -5deg;
  }

  50% {
    rotate: 6deg;
  }

  66% {
    rotate: -5deg;
  }

  100% {
    rotate: 0deg;
  }
}

.delijnInfoContainer {
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#delijnTopContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.glass .popupinput.halteInput {
  background: var(--darken-background);
  backdrop-filter: var(--small-blur);
}
.popupinput.halteInput {
  flex-grow: 1;
  height: 40px;
  margin: 0px;
  font-size: 16px;
}

#delijncontainer {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
}

#delijnBottomContainer {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
}

.showMoreHaltesButton {
  align-self: center;
  text-align: center;
  font-weight: 560;
  background-color: var(--color-base01);
  width: 70%;
  border: 2px solid var(--color-base02);
  border-radius: 20px;
  padding: 5px;
  font-size: 18px;
}

.showMoreHaltesButton:hover {
  background-color: var(--color-base02);
  border-color: var(--color-accent);
  font-weight: 800;
  letter-spacing: 0.5px;
  width: 77%;
  cursor: pointer;
}

.enableAnimations .showMoreHaltesButton {
  animation: delijnCardAppear 0.3s ease-in-out 0ms 1;
  transition-property: background-color, border-color, width, font-weight, letter-spacing;
  transition: 0.2s ease-in-out;
}

.delijnInfoContainerHidden {
  display: none;
}

.delijnInfoContainerVisible {
  display: flex;
}

.delijn-preview-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.delijn-icon-128-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delijn-icon-128 {
  width: 128px;
}
