#settings-window {
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
}

.settings-category-button {
  border: 2px solid transparent;

  width: 100%;
  background-color: var(--color-base01);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 1.6rem;
  gap: 1rem;
}

.settings-category-button-js {
  box-shadow: 0px 5px 10px 0px var(--color-shadow);
  margin: 0;
}

.settings-radio:checked + label {
  border-color: var(--color-base03);
  background-color: var(--color-base02);
  color: var(--color-accent);
  font-weight: 600;
}

.settings-radio:checked + label:focus-visible {
  border-color: var(--color-accent);
}

.settings-category-button-js:active {
  scale: 0.95;
}

.settings-category-button-js:focus-visible {
  border-color: var(--color-accent);
}

.settings-category-button-js:hover {
  background-color: var(--color-base02);
  cursor: pointer;
}

.enableAnimations .settings-category-button-js {
  transition-property: background-color, border-color, transform, font-weight;
  transition: 0.15s ease-in-out;
}
.enableAnimations .settings-category-button-js:hover {
  scale: 1.01;
}

.enableAnimations .profile-picture-settings,
.enableAnimations .category-button-icon {
  transition: scale 0.2s ease-in-out;
  scale: 1;
}

.enableAnimations .profile-settings-button:hover .profile-picture-settings,
.enableAnimations .settings-category-button:hover .category-button-icon {
  scale: 1.06;
}

.enableAnimations .settings-category-button.active .category-button-icon {
  scale: 1.2;
}

.category-button-icon {
  aspect-ratio: 1;
  width: 3.5rem;
}

.settings-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  padding: 1rem;
  padding-right: 0;
  height: 100%;
}

.profile-settings-button {
  border: 2px solid transparent;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  padding-right: 0.5rem;
  justify-content: start;
  border-radius: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  background-color: var(--color-base01);
}

.profile-picture-settings {
  background-image: var(--profile-picture);
  image-rendering: smooth;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10000px;
  width: 3.5rem;
  aspect-ratio: 1;
}

.profile-settings-label {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  overflow: hidden;
}

#profile-settings-label-title {
  margin: 0;
  font-size: 1.5rem;
  text-wrap: nowrap;
}

.profile-settings-label-description {
  margin: 0;
}

#settings-page {
  width: calc(100% - 20rem);
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 0.25rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#settings-window .window-controls {
  right: 1rem;
  top: 1rem;
}

.settings-page-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5rem;
  border-radius: 1000rem;
  background: var(--color-base01);
  outline: none;
  opacity: 1;
  margin-bottom: 1rem;
  width: 18rem;
  border: 2px solid transparent;
}

.settings-page-slider:focus-visible {
  border-color: var(--color-base03);
}

.enableAnimations .settings-page-slider {
  transition:
    opacity 0.2s,
    border-color 0.2s ease-in-out;
}
.settings-page-weather-overlay-container .settings-page-image-button-wrapper:has(input:checked) {
  border-color: transparent;
  background-color: var(--color-base02);
}

.settings-page-slider::-webkit-slider-thumb {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: var(--color-accent);
  border-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.settings-page-slider::-moz-range-thumb {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: var(--color-accent);
  border-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  appearance: none;
}

.settings-page-small-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.5rem;
  cursor: default;
}

.settings-page-section-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.1rem;
  margin-top: 2rem;
  cursor: default;
}

.settings-page-main-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
  cursor: default;
}

.settings-page-main-title:not(:first-of-type) {
  margin-top: 2rem;
}

.settings-page-image {
  border-radius: 0.75rem;
}

.enableAnimations .smpp-text-input {
  transition-property: border-color;
  transition: 0.2s ease-in-out;
}

.smpp-text-input {
  background-color: var(--color-base01);
  border-color: var(--color-base02);
  border-radius: 1rem;
  padding: 0.6rem 0.8rem;
  border: 2px solid var(--color-base02);
  font-size: 1.2rem;
  width: 20rem;
}

#settings-page .full-file-input-container {
  width: 20rem;
}

.full-file-input-container .smpp-text-input {
  width: 100%;
}

.smpp-text-input:focus-visible {
  border-color: var(--color-base03);
}

.enableAnimations .settings-page-image-button-wrapper {
  transition-property: transform, box-shadow, border-color, outline;
  transition: 0.2s ease-in-out;
}

.settings-page-image-button-wrapper:focus-visible {
  outline: 2px solid var(--color-base03);
}

.settings-page-image-button-wrapper:active {
  scale: 0.9;
}

.settings-page-image-button-wrapper > img {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  object-fit: cover;
}

.settings-page-image-button-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 1.5rem;
  border: 0.5rem solid transparent;
  outline: 2px solid transparent;
}

.settings-page-image-button-wrapper input[type="radio"] {
  display: none;
}

label.settings-page-image-button-wrapper:has(input:checked) {
  border-color: var(--color-accent);
}

.settings-page-image-wrapper img.settings-page-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition:
    transform 0.2s,
    filter 0.2s,
    outline 0.2s;
}

.settings-page-theme-title {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.enableAnimations .settings-page-theme-card {
  transition-property: background-color, border-color, color, transform, outline;
  transition: 0.15s ease-in-out;
}

.settings-page-icons-container {
  margin: 2px;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.5rem;
}

.settings-page-icons-container {
  gap: 1rem;
}

#settings-page-blur-slider {
  width: 20rem;
}

.settings-page-blur-preview-container {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blurred-image-container {
  overflow: hidden;
  width: 6rem;
  height: 4rem;
  border-radius: 0.5rem;
}

#settings-page p.settings-page-description {
  opacity: 0.8;
  font-weight: 400;
  max-width: 18rem;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  margin-top: 0;
}

.settings-page-icons-container.settings-page-weather-overlay-container {
  margin-bottom: 1.5rem;
  background-color: var(--color-base01);
  width: fit-content;
  width: 20rem;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  justify-content: space-between;
}

.settings-page-key-bind-container > span,
.settings-page-image-button-label {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}
.settings-page-image-button-label,
.settings-page-slider-label {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0rem;
}

#settings-page .smpp-file-input-button,
.settings-page-image-button-wrapper:has(input:checked),
#settings-page .smpp-text-input,
.settings-page-slider,
.settings-page-slider-container,
.settings-page-button-label-container,
.settings-page-theme-card,
.settings-page-icons-container.settings-page-weather-overlay-container {
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
}
.settings-page-button-label-container,
.settings-page-key-bind-container {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
  height: fit-content;
  background-color: var(--color-base01);
  max-width: 30rem;
}

.enableAnimations .settings-page-button-label-container {
  transition: 0.2s ease-in-out border-color;
}

.settings-page-button-label-container:first-of-type > span {
  margin-top: 0rem;
}

.settings-page-slider.settings-page-labeled-slider::-webkit-slider-thumb {
  width: 1.75rem;
  height: 1.75rem;
}

.settings-page-slider.settings-page-labeled-slider::-moz-range-thumb {
  width: 1.75rem;
  height: 1.75rem;
}

.settings-page-slider-label {
  flex-grow: 1;
}

.settings-page-live-value {
  flex-grow: 0;
  width: 1.5rem;
  font-size: 1.4rem;
  font-weight: 200;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-page-slider.settings-page-labeled-slider {
  width: 9rem;
  background-color: var(--color-base02);
  margin: 0;
  height: 1.75rem;
}

.settings-page-slider-container {
  display: flex;
  flex-direction: row;
  height: 4rem;
  gap: 0.25rem;
  background-color: var(--color-base01);
  max-width: 30rem;
  align-items: center;
  margin: 0;
  margin-bottom: 1rem;
  border-radius: 1000px;
}

.settings-page-slider-container:has(#settings-page-weather-overlay-slider),
.settings-page-slider-container:has(#settings-page-weather-overlay-opacity-slider) {
  width: 20rem;
  gap: 1rem;
}

.smpp-link-clear-button#settings-page-link-clear-button {
  right: 3.6rem;
  z-index: 1000;
}

.enableAnimations input.settings-page-keybinding-input[type="text"]:not(.aaaaaa):read-only {
  transition: opacity 0.1s ease-in-out;
}

input.settings-page-keybinding-input[type="text"]:not(.aaaaaa):read-only {
  padding: 0.25rem 0.5rem;
  font-size: 1.6rem;
  color: var(--color-accent);
  border-radius: 10000px;

  width: fit-content;
  max-width: 14rem;
  font-weight: 700;
  transform-origin: 100%;
  text-align: right;
  opacity: 0.6;
}

input.settings-page-keybinding-input[type="text"]:not(.aaaaaa):read-only:hover:not(.listening) {
  cursor: pointer;
  opacity: 1;
}

.settings-page-key-bind-container:has(input.settings-page-keybinding-input.listening) {
  border-color: var(--color-base02);
}

input.settings-page-keybinding-input[type="text"]:not(.aaaaaa):read-only.listening {
  font-weight: 500;
  color: var(--color-text);
  opacity: 1;
}

.settings-page-keybinding-input {
  background-color: transparent;
  caret-color: transparent;
}

.settings-page-disclaimer-button {
  font-weight: 600;
}

.enableAnimations .settings-page-disclaimer {
  animation: disclaimerAnimation 0.15s ease-in-out 0ms 1 forwards;
}

.settings-page-disclaimer {
  font-weight: 400;
  font-size: 1rem;
  height: 1.5rem;
  opacity: 1;
  margin-left: 1rem;
}

@keyframes disclaimerAnimation {
  0% {
    height: 0px;
    opacity: 0;
    filter: blur(2px);
  }

  100% {
    height: 1.5rem;
    filter: blur(0px);
    opacity: 1;
  }
}

.settings-page-reset-button {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  border-radius: 1000rem;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  width: 16.5rem;
  cursor: pointer;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.enableAnimations .settings-page-reset-button {
  transition-property: border-color, background-color, transform;
  transition: 0.15s ease-in-out;
}

.settings-page-reset-button:hover {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
}

.settings-page-reset-button:active {
  scale: 0.95;
}

@keyframes reset-confirmation-background {
  0% {
    backdrop-filter: brightness(100%) blur(0px);
  }
  100% {
    backdrop-filter: brightness(70%) blur(1px);
  }
}

.enableAnimations .reset-confirmation-popup {
  animation-duration: 0.2s;
}

.reset-confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: reset-confirmation-background 0s ease-out 0ms 1 forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.reset-popup-content {
  background-color: var(--color-base01);
  box-shadow: 0px 10px 20px 10px var(--color-shadow);
  border-radius: 2rem;
  padding: 2rem;
  max-width: 30rem;
  text-align: center;
  border: 3px solid var(--color-base02);
}

.reset-popup-content h3 {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
  color: var(--color-text);
}

.reset-popup-content p {
  margin: 0 0 2rem 0;
  color: var(--color-text);
  text-align: left;
  opacity: 0.8;
}

.reset-popup-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.reset-popup-cancel,
.reset-popup-confirm {
  padding: 0.75rem 1.5rem;
  width: 9rem;
  border: none;
  border-radius: 0.75rem;
  border: 2px solid var(--color-base02);
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.reset-popup-cancel:active,
.reset-popup-confirm:active {
  scale: 0.95;
}

.enableAnimations .reset-popup-cancel,
.enableAnimations .reset-popup-confirm {
  transition-property: color, background-color, transform;
  transition: 0.15s ease-in-out;
}

.reset-popup-cancel {
  background-color: var(--color-base01);
  color: var(--color-text);
}

.reset-popup-cancel:hover {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
}

.reset-popup-confirm {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
  color: var(--color-text);
}

.reset-popup-confirm:hover {
  background-color: var(--color-base03);
  border-color: var(--color-red);
}

#profile-picture-input-container {
  margin-bottom: 1.5rem;
}

.settings-radio {
  display: none;
}
.enableAnimations #quickSettings #extraSettingsButton {
  transition:
    scale 0.1s ease-in-out,
    border-color 0.2s ease-in-out,
    background 0.2s ease-in-out;
}

#quickSettings #extraSettingsButton {
  margin-top: 0.5rem;
  color: var(--color-accent);
  appearance: none;
  padding: 0.5rem 1.5rem;

  padding-bottom: 0.6rem;
  width: fit-content;
  background: var(--color-base01);
  border: none;
  border-radius: 1.25rem;
  border: 2px solid var(--color-base03);
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#quickSettings #extraSettingsButton:focus-visible {
  border-color: var(--color-accent);
}

#quickSettings #extraSettingsButton > svg {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-accent);
  overflow: visible;
  align-self: flex-end;
}

#quickSettings #extraSettingsButton:hover {
  border-color: var(--color-accent);
  background: var(--color-base02);
}

#quickSettings #extraSettingsButton:active {
  scale: 0.95;
}

.enableAnimations .keybind-unbind-button {
  transition:
    scale 0.1s ease-in-out,
    border-color 0.2s ease-in-out,
    background 0.2s ease-in-out,
    opacity 0.1s ease-out;
}

.keybind-unbind-button {
  display: block;
  background: var(--color-base01);
  border-radius: 10000px;
  width: 2.25rem;
  height: 2.25rem;
  border: 2px solid var(--color-base02);
  position: absolute;
  right: -1.2rem;
  top: -1.2rem;
  padding: 0.2rem;
  opacity: 0;
  pointer-events: none;
}

.listening + .keybind-unbind-button {
  opacity: 1;
  pointer-events: all;
}

.keybind-unbind-button svg {
  stroke: var(--color-red);
}

.keybind-unbind-button:hover {
  background: var(--color-base02);
  border-color: var(--color-red);
}

.keybind-unbind-button:active {
  scale: 0.95;
}

.keybind-input-wrapper {
  position: relative;
}

.smpp-color-picker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes openPicker {
  0% {
    left: 50%;
    filter: var(--small-blur);
    transform: translateX(-50%) translateY(-50%) scale(0.5);
  }

  100% {
    filter: blur(0);
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(1);
  }
}

.floating-picker.smpp-color-picker {
  position: absolute;
  padding: 0.5rem;
  border-radius: 1.5rem;
  border-color: var(--color-base02);
  background: var(--color-base01);
  box-shadow: 0px 5px 15px 0px var(--color-shadow);
  z-index: 100;
  transform-origin: 50% 50%;
  animation: openPicker 0.3s cubic-bezier(0.11, 0.75, 0.1, 1.18);
}

.color-picker-field {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.color-picker-field .color-cursor-wrapper .color-cursor {
  border-radius: 100000px;
  border: 3px solid white;
  box-shadow:
    0px 0px 4px -2px black,
    inset 0px 0px 4px -2px black;
  height: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: var(--current-color);
}

.color-picker-field .color-cursor-wrapper {
  pointer-events: none;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.color-picker-field:hover {
  cursor: crosshair;
}

.color-picker-field:hover:active {
  cursor: default;
}

.color-picker-field > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.smpp-color-picker-bottom-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 3rem;
}

.smpp-color-picker-bottom-container .color-preview {
  width: 25%;
  border-radius: 1rem;
  background-color: var(--current-color);
  height: 100%;
  border: 2px solid var(--color-base02);
}

.smpp-color-picker-bottom-container .smpp-text-input {
  width: 65%;
  height: 100%;
}

.smpp-color-picker .hue-picker {
  width: 100%;
  background: linear-gradient(
    to right,
    #f00 0%,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00 100%
  );
  height: 1.5rem;
  border-radius: 10000rem;
  position: relative;
}

.hue-picker .color-cursor-wrapper .color-cursor {
  border-radius: 100000px;
  border: 3px solid white;
  box-shadow:
    0px 0px 4px -2px black,
    inset 0px 0px 4px -2px black;
  height: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: var(--max-sat);
}

.hue-picker .color-cursor-wrapper {
  pointer-events: none;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.copy-hex-button {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  border-radius: 1rem;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
  width: 20%;
  cursor: pointer;
  color: var(--color-text);
  padding: 0.1rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-hex-button > svg {
  width: 100%;
  height: 100%;
  stroke: var(--color-text);
}

.copy-hex-button > .done-icon {
  width: 90%;
  height: 70%;
  fill: var(--color-green);
}

.enableAnimations .copy-hex-button {
  transition-property: border-color, background-color, transform, stroke;
  transition: 0.15s ease-in-out;
}

.copy-hex-button:hover {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
}
.copy-hex-button:hover > svg {
  stroke: var(--color-accent);
}

.theme-tile-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  gap: 0.25rem;
}

.enableAnimations .bottom-container-button {
  transition-property: opacity, border-color, stroke, background, scale, fill;
  transition: 0.3s ease-out;
}

.bottom-container-button {
  background-color: var(--color-base01-local);
  border: 2px solid var(--color-base02-local);
  box-shadow: 0px 0px 10px 2px var(--color-shadow);
  border-radius: 1rem;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
  width: 3rem;
  height: 100%;
  cursor: pointer;
  color: var(--color-text);
  padding: 0.1rem 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.bottom-container-button > svg {
  width: 100%;
  height: 100%;
  stroke: var(--color-text-local);
}

.enableAnimations .bottom-container-button {
  transition-property: border-color, background-color, transform, stroke;
  transition:
    0.15s ease-in-out,
    opacity 0.15s ease-in-out 0.15s;
}

.bottom-container-button:hover {
  background-color: var(--color-base02-local);
  border-color: var(--color-base03-local);
}

button .bottom-container-button:active {
  scale: 0.9;
}

.bottom-container-button:hover > svg {
  stroke: var(--color-accent-local);
}

.theme-tile-title {
  font-size: 1rem;
  max-width: 6rem;
  font-weight: 700;
  text-align: center;
  max-width: 100%;
  width: 100%;
  text-wrap-mode: nowrap;
  overflow: hidden;
}

.theme-button-container {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.theme-tile-bottom svg .pencil {
  fill: var(--color-accent-local);
  stroke: var(--color-accent-local);
}

@keyframes theme-tile {
  0% {
    opacity: 0.2;
    transform: translateX(-5%) translateY(-20%) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }
}

.enableAnimations .theme-tile {
  transition-property: background-color, border-color, color, transform, outline;
  transition: 0.15s ease-in-out;
  animation: theme-tile 0.4s cubic-bezier(0.33, 1.31, 0.65, 0.98);
}

#settings-page .theme-tile:not(.aaaaa) {
  outline: 2px solid transparent;
  display: flex;
  flex-direction: column;
  border: 0.3rem solid transparent;
  gap: 0.25rem;
  width: 168px;
  height: 104px;
  padding: 0.25rem;
  border-radius: 1.5rem;
  background-color: var(--color-base01);
  cursor: pointer;
  height: fit-content;
  position: relative;
  box-shadow: 0px 0px 5px -2px var(--color-shadow);
}

#settings-page .theme-tile:not(.aaaaa).is-selected {
  border-color: var(--color-accent-local);
}

.theme-tile:active:not(:has(.bottom-container-button:active)) {
  scale: 0.97;
}

.theme-tile .image-container {
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
  background-color: var(--color-base02-local);
  height: 6rem;
  background:
    var(--background-image-local),
    linear-gradient(
      40deg,
      color-mix(in srgb, var(--color-base03-local) 70%, var(--color-accent-local) 30%) 0%,
      color-mix(in srgb, var(--color-base03-local) 65%, var(--color-accent-local) 35%) 15%,
      color-mix(in srgb, var(--color-base02-local) 70%, var(--color-accent-local) 30%) 45%,
      color-mix(in srgb, var(--color-base02-local) 73%, var(--color-accent-local) 27%) 55%,
      color-mix(in srgb, var(--color-base02-local) 95%, var(--color-accent-local) 5%) 100%
    );
}

#settings-page .theme-tile:not(.aaaaa):hover {
  border-color: var(--color-accent-local);
  background-color: var(--color-base01-local);
  color: var(--color-text-local);
  scale: 1.03;
  box-shadow: 0px 0px 15px 2px var(--color-shadow);
}

#settings-page .theme-tile:not(.aaaaa):hover .bottom-container-button {
  opacity: 1;
}

#settings-page .use-default-colors.theme-tile:not(.aaaaa).is-selected {
  border-color: var(--color-accent);
}

.use-default-colors.theme-tile .image-container {
  background-color: var(--color-base02);
  background: linear-gradient(
    40deg,
    color-mix(in srgb, var(--color-base03) 70%, var(--color-accent) 30%) 0%,
    color-mix(in srgb, var(--color-base03) 65%, var(--color-accent) 35%) 15%,
    color-mix(in srgb, var(--color-base02) 70%, var(--color-accent) 30%) 45%,
    color-mix(in srgb, var(--color-base02) 73%, var(--color-accent) 27%) 55%,
    color-mix(in srgb, var(--color-base02) 95%, var(--color-accent) 5%) 100%
  );
}

#settings-page .use-default-colors.theme-tile:not(.aaaaa):hover {
  border-color: var(--color-accent);
  background-color: var(--color-base01);
  color: var(--color-text);
}

.theme-tile:focus-visible {
  outline: 2px solid var(--color-base03);
}

/* Highlight chosen card */
.theme-tile:has(input:checked) {
  border-color: var(--hover-border);
  background-color: var(--hover-color);
  color: var(--text-color);
}

.theme-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, 168px);
  gap: 0.5rem;
  align-content: start; /* Prevents vertical stretching */
}

.enableAnimations .theme-tiles {
  transition: height 0.3s cubic-bezier(0.33, 1.31, 0.65, 0.98);
}

.theme-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  cursor: default;
}

.theme-top-container button {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  border-radius: 100000px;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
  height: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  color: var(--color-text);
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-top-container button > svg {
  width: 100%;
  height: 100%;
  stroke: var(--color-text);
}

.enableAnimations .theme-top-container button {
  transition-property: border-color, background-color, transform, stroke;
  transition: 0.15s ease-in-out;
}

.theme-top-container button:hover {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
}

.theme-top-container button:hover > svg {
  stroke: var(--color-accent);
}

.theme-tile .image-container > svg {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 1rem);
  stroke: var(--color-accent-local);
  margin: 0.5rem 0rem;
}

.use-default-colors.theme-tile .image-container > svg {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 1rem);
  stroke: var(--color-accent);
  margin: 0.5rem 0rem;
}

.theme-tile .theme-tile-bottom svg.edit_button {
  scale: 0.85;
}

.theme-tile .image-container svg.heart-icon {
  fill: var(--color-red);
  stroke: var(--color-red);
}

.current-category {
  margin-bottom: 0;
  font-size: 1.6rem;
}

button.remove-custom-theme {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  border-radius: 100000px;
  padding: 0.25rem 0.75rem 0.25rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  height: 3rem;
  cursor: pointer;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

button.remove-custom-theme > svg {
  height: 100%;
  stroke: var(--color-red);
}

.enableAnimations button.remove-custom-theme {
  transition-property: border-color, background-color, transform, stroke;
  transition: 0.15s ease-in-out;
}

button.remove-custom-theme:hover {
  background-color: var(--color-base02);
  border-color: var(--color-base03);
}

button.remove-custom-theme:hover {
  border-color: var(--color-red);
}

.color-preview-bubble {
  aspect-ratio: 1;
  width: 3.5rem;
  border-radius: 100000px;
  background-color: var(--current-color);
  box-shadow: 0px 0px 10px 1px var(--color-shadow);
  border: solid 3px color-mix(in oklch, var(--current-color), 10% #000000);
  cursor: pointer;
}

.no-image-available button.open-theme-editor-button {
  opacity: 0.7;
  filter: saturate(70%);
  pointer-events: none;
}

button.open-theme-editor-button {
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  border-radius: 100000px;
  padding: 0.25rem 0.75rem;
  font-size: 1.4rem;
  font-weight: 500;
  height: 3rem;
  cursor: pointer;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.enableAnimations button.open-theme-editor-button {
  transition-property: border-color, background-color, transform, stroke;
  transition: 0.15s ease-in-out;
}

button.open-theme-editor-button:hover {
  background-color: var(--color-base02);
  border-color: var(--color-accent);
}

.custom-theme-maker {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  gap: 1rem;
  align-items: center;
}

.file-and-theme-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  max-width: fit-content;
  height: 36px;
}

.file-input-theme-button-divider {
  width: 2px;
  background: var(--color-base02);
  height: 80%;
  border-radius: 100px;
}

.custom-theme-color-picker-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

#customThemeCreator {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  width: 600px;
}

.preview-image-wrapper {
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
  position: relative;
  z-index: 10;
  background-size: cover;
  background-position: center;
  background-color: var(--color-base02);
  background: linear-gradient(
    40deg,
    color-mix(in srgb, var(--color-base03) 70%, var(--color-accent) 30%) 0%,
    color-mix(in srgb, var(--color-base03) 65%, var(--color-accent) 35%) 15%,
    color-mix(in srgb, var(--color-base02) 70%, var(--color-accent) 30%) 45%,
    color-mix(in srgb, var(--color-base02) 73%, var(--color-accent) 27%) 55%,
    color-mix(in srgb, var(--color-base02) 95%, var(--color-accent) 5%) 100%
  );
  height: 20rem;
  aspect-ratio: 16 / 9;
  border-radius: 1.5rem;
  overflow: hidden;
}

.theme-creator-preview-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.no-image-available .theme-creator-preview-image {
  display: none;
}

.enableAnimations .generate-theme-control {
  transition-property: border-color, background-color, transform;
  transition: 0.15s ease-in-out;
}

.generate-theme-control:active {
  scale: 0.9;
}

.theme-maker-input {
  appearance: none;
  display: none;
}

.enableAnimations .preview-image-container,
.enableAnimations .theme-controls-container,
.enableAnimations .theme-generation-sub-container {
  transition: all 0.3s ease-in-out;
}

.preview-image-container {
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
  background-color: transparent;
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
  padding: 0.5rem;
}

#customThemeCreator .preview-image-container.open:not(.aaaa) {
  background-color: var(--color-base01);
}

.theme-controls-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  box-sizing: content-box;
  padding-right: 0;
  z-index: 0;
  width: 0px;
  padding-left: 0rem;
  filter: var(--small-blur);
}

@keyframes openThemeGenerator {
  0% {
    z-index: 0;
  }
  99% {
    z-index: 0;
  }
  100% {
    z-index: 20;
  }
}

.theme-generation-sub-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.4rem;
  background-color: var(--color-base02);
  border: 2px solid var(--color-base03);
  border-radius: 1.5rem;
  transform: translateX(-100%);
  position: absolute;
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
}

.generate-theme-control {
  stroke: var(--color-text);
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  background-color: var(--color-base02);
  padding: 0.5rem;
  border: none;
  margin: 0;
}

.preview-image-container.open .theme-generation-sub-container {
  transform: translateX(0px);
}

.enableAnimations
  .custom-theme-maker:not(.no-image-available)
  .preview-image-container.open
  .theme-controls-container {
  animation: openThemeGenerator 0.3s ease-in-out forwards;
}

.custom-theme-maker:not(.no-image-available)
  .preview-image-container.open
  .theme-controls-container {
  z-index: 20;
  width: calc(5rem + 4px - 0.2rem);
  padding-left: 0.5rem;
  filter: blur(0px);
  overflow: visible;
}

.theme-generation-sub-container:last-child {
  bottom: 0;
}

.theme-generation-sub-container:last-child svg {
  stroke: var(--color-accent);
}

.generate-theme-control:hover {
  background-color: var(--color-base03);
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
  z-index: 2;
}

.make-theme-button.loading {
  opacity: 0.7;
  filter: saturate(70%);
  pointer-events: none;
}
.arrow-_JyEf {
  display: none;
}

.tooltip-TtRmZ {
  border-radius: 1000rem;
  background: var(--color-base01);
  border: 2px solid var(--color-base02);
  box-shadow: 0px 5px 10px 0px var(--color-shadow);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text);
}

.smpp-tooltip {
  z-index: 10000;
  pointer-events: none;
  height: 2.5rem;
  border-radius: 1000rem;
  width: fit-content;
  background: var(--color-base01);
  border: 2px solid var(--color-base02);
  box-shadow: 0px 5px 10px 0px var(--color-shadow);
  position: absolute;
  text-wrap-mode: nowrap;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out 0.2s;
  opacity: 0;
  filter: blur(1px);
}

.smpp-tooltip-vertical {
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
}
.smpp-tooltip-horizontal {
  top: calc(50% - 1.25rem);
  right: 125%;
}
.color-picker-preview-wrapper:not(:has(.floating-picker))
  .color-preview-bubble:hover
  + .smpp-tooltip,
.generate-theme-control:hover + .smpp-tooltip {
  opacity: 1;
  filter: blur(0px);
}

.color-picker-preview-wrapper {
  position: relative;
  display: flex;
}

.color-picker-preview-wrapper .floating-picker {
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}

.theme-name-input {
  text-align: center;
  font-size: 1.4rem;
}

@keyframes removed-theme-tile {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}

.theme-tile.being-removed {
  animation: removed-theme-tile 0.3s ease-out;
  scale: 0;
  opacity: 0;
}

.theme-tile.is-favorite svg.heart-icon {
  fill: var(--color-red);
  stroke: var(--color-red);
}

.compact-theme-selector {
  width: 100%;
  position: relative;
  z-index: 2;
}

.compact-theme-options.visible {
  opacity: 1;
  pointer-events: all;
}
.enableAnimations .compact-theme-options {
  transition: all 0.2s ease-out;
}

.quick-settings-theme-container {
  width: 100%;
}
.compact-theme-options {
  max-height: calc(100vh - 10rem);
  opacity: 0;
  pointer-events: none;
  width: 100%;
  display: block;
  gap: 0.25rem;
  background: var(--color-base02);
  padding: 0.25rem;
  border-radius: 1.5rem;
  border: 2px solid var(--color-base03);
  box-shadow: 0 0.333rem 1.333rem var(--color-shadow);
  position: absolute;
  width: 100%;
}

.compact-theme-options > *:not(:last-child) {
  margin-bottom: 0.25rem;
}

#quickSettings .compact-theme-option {
  width: 100%;
  height: 3rem;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1rem;
  border: 2px solid var(--color-base02-local);
  position: relative;
  box-shadow: 0 0 10px 0px var(--color-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.enableAnimations .compact-theme-option-text {
  transition-property: border-color background;
  transition: 0.2s ease-out;
}

.enableAnimations .compact-theme-option {
  transition-property: border-color scale;
  transition: 0.2s ease-out;
}

.compact-theme-option:hover .compact-theme-option-text {
  color: var(--color-accent-local);
  background: var(--color-base02-local);
  font-weight: 600;
}
.compact-theme-option.is-selected .compact-theme-option-text {
  background: var(--darken-background-local);
  color: var(--color-text-local);
  font-weight: 700;
}
#quickSettings .compact-theme-option:hover {
  border-color: var(--color-base03-local);
  scale: 1.02;
}

#quickSettings .compact-theme-option.is-selected {
  border-color: var(--color-accent-local);
}

.compact-theme-option .compact-theme-option-text {
  width: 100%;
  padding: 0.5rem 0.75rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text-local);
  background: var(--color-base01-local);
  text-wrap-mode: nowrap;
  overflow: hidden;
  z-index: 1;
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.compact-theme-option:active {
  scale: 0.95;
}

.compact-theme-option.is-selected .compact-theme-option-image-container {
  display: block;
}
.compact-theme-option .compact-theme-option-image-container {
  width: 100%;
  height: 100%;
  display: none;
  filter: blur(2px);
  position: absolute;
  background: var(--background-image-local);
  background-size: cover;
  background-position: center;
}
@keyframes theme-option-render {
  0% {
    opacity: 0.5;
    transform: translateY(-200%) scale(0.75);
  }

  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

.enableAnimations .compact-theme-options .compact-theme-option {
  animation: theme-option-render 0.5s cubic-bezier(0.33, 1.31, 0.65, 0.98);
}

.error-theme-sharing.share-dialog-content .link-output {
  color: var(--color-red);
}

.error-theme-sharing.share-dialog-content .copy-link-button svg {
  stroke: var(--color-red);
}

.share-dialog-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 400px;
}
.share-dialog-content h1 {
  color: var(--color-accent-local);
  z-index: 1;
  background: var(--darken-background-local);
  border-radius: 1rem;
  padding: 0.5rem;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 20px var(--color-shadow);
}

.share-dialog-content h1,
.share-dialog-content h2 {
  text-align: center;
  margin-bottom: 0rem;
}
.share-dialog-content h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.link-output {
  display: flex;
  background-color: var(--color-base01-local);
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.6rem 0.8rem;
  border: 2px solid var(--color-base02-local);
  text-wrap-mode: nowrap;
  max-width: 100%;
  width: 20rem;
  overflow-x: hidden;
  color: var(--color-text-local);
}

.copy-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.copy-hex-button.copy-link-button {
  width: 3rem;
  height: 3rem;

  background-color: var(--color-base01-local);
  color: var(--color-text-local);
  border: 2px solid var(--color-base02-local);
}

.copy-hex-button.copy-link-button:hover {
  background-color: var(--color-base02-local);
  border: 2px solid var(--color-base03-local);
}

.copy-hex-button.copy-link-button > svg {
  stroke: var(--color-text-local);
}

.sharing-tile {
  width: fit-content;
  background: var(--color-base01-local);
  box-shadow: 0px 2px 10px 0px var(--color-shadow);
  border-radius: 1.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.sharing-image-container {
  border-radius: 1rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    40deg,
    color-mix(in srgb, var(--color-base03-local) 70%, var(--color-accent-local) 30%) 0%,
    color-mix(in srgb, var(--color-base03-local) 65%, var(--color-accent-local) 35%) 15%,
    color-mix(in srgb, var(--color-base02-local) 70%, var(--color-accent-local) 30%) 45%,
    color-mix(in srgb, var(--color-base02-local) 73%, var(--color-accent-local) 27%) 55%,
    color-mix(in srgb, var(--color-base02-local) 95%, var(--color-accent-local) 5%) 100%
  );
  position: relative;
}

.sharing-image {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
.sharing-color-previews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sharing-color-previews .color-preview-bubble {
  width: 2.5rem;
  cursor: default;
}
