/* For UI Elements created by ui.js */

.smpp-input-with-label {
  border-radius: 999999999px;
  min-width: 20rem;
  background-color: var(--color-base01);
  border: 2px solid var(--color-base02);
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.smpp-input-with-label > .switch {
  margin-left: auto;
}

.smpp-input-with-label > input {
  margin-left: auto;
}

.smpp-input-with-label:focus-visible {
  border-color: var(--color-base03);
}

.smpp-input-with-label:has(#smpp-widget-news-toggle) span {
  font-size: 1.4rem;
}

.full-file-input-container {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.5rem;
}

.full-file-input-container .smpp-text-input {
  background-color: var(--color-base01);
  border-color: var(--color-base02);
  border-radius: 1rem;
  padding: 0.6rem 0.8rem;
  border: 2px solid var(--color-base02);
  font-size: 1.2rem;
  width: 100%;
}
