html {
  background-color: #2b2b2b;
  color: #ffffff;
  width: 160px;
  height: fit-content;
}

#profileSelector {
  background-color: #444444;
  border: 1px solid #ffffff;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  font-size: large;
  font: bold;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0 10px;
}

body {
  text-align: center;
  user-select: none;
}

input {
  background-color: #444444;
  border: 1px solid #ffffff;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  color: white;
  margin: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #252525;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(121, 121, 121);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #999999;
}

input:focus+.slider {
  box-shadow: 0 0 1px #b2c1ce;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#profileSelector option {
  font-size: large;
  font: bold;
}

.sliderblur {
  margin-bottom: 0px;
  font: bold;
}

p {
  margin-top: 0px;
  font-weight: bold;
}