html,
body {
    height: 70px;
    width: 160px;
}

html {
    background-color: #2b2b2b;
    color: #ffffff;
}

#profileSelector {
    background-color: #444444;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    text-align: center;
    user-select: none;
}
input {background-color:#444444;
color: white;
margin: 10px;}
